 .global-container {
   display: -webkit-box;
   display: flex;
   -webkit-box-align: center;
   align-items: center;
   -webkit-box-pack: center;
   justify-content: center;
   /* background-color: #f5f5f5; */
   margin-top: 80px;
 }

 .card-title {
   font-weight: 300;
 }

 .btn {
   font-size: 14px;
   margin-top: 20px;
 }


 .login-form {
   width: 500px;
   margin: 20px;
 }

 .sign-up {
   text-align: center;
   padding: 20px 0 0;
 }

 .alert {
   margin-bottom: -30px;
   font-size: 13px;
   margin-top: 20px;
 }

 // #tabs{
 // background: #007b5e;
 //   color: #eee;
 // }
 #tabs h6.section-title {
   color: #eee;
 }

 #tabs .nav-tabs .nav-item.show .nav-link,
 .nav-tabs .nav-link.active {
   color: #f3f3f3;
   background-color: transparent;
   border-color: transparent transparent #f3f3f3;
   border-bottom: 4px solid !important;
   font-size: 20px;
   font-weight: bold;
 }

 #tabs .nav-tabs .nav-link {
   border: 1px solid transparent;
   border-top-left-radius: 0.25rem;
   border-top-right-radius: 0.25rem;
   color: #D81B60;
   font-size: 15px;

 }