.mat-form-field{
    width: 50%;
}
.age-sec{
    .mat-form-field{
        margin: 2px;
    }
}
.height-sec{
    .mat-form-field{
        margin: 2px;
    }
}
// label floating style
    .border-lable-flt {
        display: block;
        position: relative;
    }

    .border-lable-flt label,
    .border-lable-flt>span {
        position: absolute;
        left: 0;
        top: 0;
        cursor: text;
        font-size: 75%;
        opacity: 1;
        -webkit-transition: all .2s;
        transition: all .2s;
        top: -.5em;
        left: 0.75rem;
        z-index: 3;
        line-height: 1;
        padding: 0 1px;
    }

    .border-lable-flt label::after,
    .border-lable-flt>span::after {
        content: " ";
        display: block;
        position: absolute;
        background: white;
        height: 2px;
        top: 50%;
        left: -.2em;
        right: -.2em;
        z-index: -1;
    }

    .border-lable-flt .form-control::-webkit-input-placeholder {
        opacity: 1;
        -webkit-transition: all .2s;
        transition: all .2s;
    }

    .border-lable-flt .form-control:placeholder-shown:not(:focus)::-webkit-input-placeholder {
        opacity: 0;
    }

    .border-lable-flt .form-control:placeholder-shown:not(:focus)+* {
        font-size: 100%;
        opacity: .5;
        top: .6em;
    }

    .form-control:focus {
        box-shadow: none;
    }

    // label floating style

   
    // search Preference style
    .search-preference {
        margin-top: 10px;
        h4 {
            font-size: 20px;
            font-family: sans-serif;
            font-weight: 500;
        }
    }
    .example-chip-list {
        width: 100%;
      }

      .example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-form-field + .mat-form-field {
  margin-left: 8px;
}


// radio btn
.mat-radio-button {
    display: inline-block;
    -webkit-tap-highlight-color: transparent;
    outline: 0;
    margin-left: 10px;
}
// slider btn

.mat-slider-horizontal {
    height: 48px;
    min-width: 500px;
}


.mat-accordion .mat-expansion-panel {
    /* border-top-right-radius: 4px; */
    /* border-top-left-radius: 4px; */
    margin-bottom: 10px;
    border-radius: 4px;
}

.bg-custom-1 {
    background-color: #85144b;
  }
  
  .bg-custom-2 {
  background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
  }