  .bg-dark {
    background-color: transparent !important;
    transition: all 0.2s ease-in-out;
    transition: 500ms ease;
    padding: 5px;
  }
  .navbar-brand {
    img {
      width: 135px;
      margin-top: 25px;
    }
  }
  .navbar-dark {
    .navbar-nav {
      .nav-item{
        margin-left: 30px;
      }
      .nav-link {
        color: #ffffffcc;
        font-size: 18px;
        font-weight: 500;
        border-color: #ffffffad;
        border-radius: 30px;
        border: 2px solid #fff17675;
        background: rgba(0,0,0,.3);
      }
    }
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: .8rem;
    padding-left: .8rem;
}
  .bg-dark.scrolled {
    // background: -webkit-linear-gradient(45deg, @primary-color 48%, @secondary-color 48%);
    // background: -webkit-linear-gradient(left, @primary-color 48%, @secondary-color 48%);
    // background: linear-gradient(45deg, @primary-color 48%, @secondary-color 48%);
    background-color: #1a2d40 !important;
    transition: 500ms ease;
    display: none;
  }
  