<div class="discounted-card-banner">
    <h3 class="text-center mt-50 mb-50 text-success">Millions of Happy Stories</h3>
    <div class="heart-divider text-center">
        <span class="grey-line"></span>
        <i class="fa fa-heart pink-heart"></i>
        <i class="fa fa-heart grey-heart"></i>
        <span class="grey-line"></span>
    </div>
    <div class="">
        <ngx-carousel [inputs]="carouselDiscountedCards">

            <ngx-item NgxCarouselItem class="bannerStyle" *ngFor="let Banner of carouselDiscountedCardItems; let i=index">


                <mat-card class="discounted-card">
                    <!-- <img src="{{Banner.img}}" alt="{{i}}" class="banner-img" > -->
                    <div class="job-header-image"><img src="{{Banner.img}}" alt="{{i}}" class="banner-img"></div>
                    <mat-card-header>
                        <mat-card-title>{{Banner.name}}</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <p>{{Banner.duration}}</p>
                    </mat-card-content>
                    <mat-card-actions>

                    </mat-card-actions>
                </mat-card>
            </ngx-item>

            <button NgxCarouselPrev class='leftRs'>&lt;</button>
            <button NgxCarouselNext class='rightRs'>&gt;</button>
        </ngx-carousel>
    </div>


</div>