.login-sec{
    margin-top: 120px;
}
.login {
    max-width: 350px;
    margin: 0 auto;

    .logo-sec {
        margin-bottom: 5px;

        img {
            width: 100px;
        }
    }

    h1 {
        margin-bottom: 40px;
        font-size: 35px;
        text-align: center;
    }

    span.remberme {
        float: left;
        margin-top: -5px;
    }

    input[type="checkbox"] {
        float: left;
        margin-right: 5px;
        margin-top: 5px;
    }

    a {
        float: right;
        text-decoration: none;
        color: #000;
        transition: 0.3s all ease-in-out;
        margin-top: -2px;

        &:hover {
            color: #f44336;
            font-weight: bold
        }
    }

    ul {
        list-style: none;

        li {
            display: inline-block;
            margin-right: 10px;

            &:hover {
                opacity: 0.6
            }
        }
    }

    .submit-sec {
        .mat-raised-button {
            width: 100%;
            margin-top: 5px;
        }
    }

    .signin-others {
        border-radius: 4px;
        margin-top: 5px;

        span {
            margin-left: 3px;
        }

        button {
            margin: 10px 2px;

            .fab {
                font-size: 18px;
            }
        }
    }
}

.form-check {
    margin-left: 15px;
}