/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.text-success {
    color: #e31010 !important;
}
.heart-divider {
    // height: 100%;
    width: 100%;
    position: relative;
    top: -15px;
}
.grey-line {
  width: 30px;
  height: 8px;
  display: inline-block;
  border-top: solid 2px #e1dddd;
}
.pink-heart {
  color: #c32143;
  font-size: 18px;
  position: relative;
  z-index: 3;
}
.grey-heart {
  color: #ffc107;
  font-size: 18px;
  margin-left: -11px;
  position: relative;
  z-index: 2;
}
// common style
.text-white {
  color: #FFFFFF !important;
}
.text-success {
  color: #02A499 !important;
}
.bg-primary {
  background-color: #626ED4 !important;
}
.bg-success {
  background-color: #02A499 !important;
}
.bg-gray{
  background-color: #5E6282 !important;
}
//common style
.wrapper{
  margin-top: 20px;
  margin-bottom: 20px;
}
.align-right{
  float: right;
}
.mat-icon{
  color: #3B3C48;
  cursor: pointer;
}
h1, h2, h3, h4, h5, h6{
  color: #272727;
}
label{
  color: #949494;
}
h5 {
  font-size: 15px;
}
button:focus {
  outline: none;
}
p {
  margin-top: 0px;
  margin-bottom: 0px;
}
::ng-deep .mat-tab-group.mat-primary .mat-ink-bar,
::ng-deep .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: #dc3545;
}

.error{
  color: red;
  margin-top: 5px;
}

