<section class="inbox-section mt-3">
  <p-toast position="top-center"></p-toast>
  <div class="container-fluid">
    <mat-card class="inbox-main-card">
      <mat-tab-group animationDuration="0ms" mat-align-tabs="center">
        <!-- -------------Interests Received-------------- -->
        <mat-tab label="Interests Received">
          <div class="inbox-card-margin">
            <div class="row">
              <div class="col-md-3">
                <mat-card class="search-card">
                  Profiles
                  <mat-radio-group class="example-radio-group">
                    <mat-radio-button class="example-radio-button"
                      *ngFor="let interestreceived of interestreceivedsearch_options;let i=index"
                      [value]="interestreceived">{{interestreceived}}</mat-radio-button>
                  </mat-radio-group>
                </mat-card>
              </div>

              <div class="col-md-7">
                <mat-card class="mt-2 image-card"
                  *ngIf="all_interest_recived_profileList==null ||all_interest_recived_profileList.length==0 ">
                  <div class="row row-flex" style="background-color: silver;text-align:center">
                    <div class="col-md-12">
                      <h3>No data available!</h3>
                    </div>
                  </div>
                </mat-card>
                <mat-card class="profile-inbox-card"
                  *ngFor="let interest_profile_received of all_interest_recived_profileList">
                  <div class="row">
                    <div class="col-md-4"  *ngIf="interest_profile_received.pictureRights=='OnAccept'">
                      <div class="image-radius-card">
                        <img *ngIf="interest_profile_received.profile_picture==null"
                          src="assets/images/matches/request-image.png" class="img-fluid " alt="Image">
                        <img *ngIf="interest_profile_received.profile_picture!=null "
                          src="{{interest_profile_received.profile_picture[0]}}" alt="Image" class="view-image-blur">
                          <div class="lock-image">
                            <div class="lock-accept-details">
                              <i class="fa fa-lock" aria-hidden="true"></i>
                              <p>OnAccept</p>
                            </div>
                          </div>
                      </div>
                    </div>

                    <div class="col-md-4"  *ngIf="interest_profile_received.pictureRights!= 'OnAccept'">
                      <div class="image-radius-card">
                        <img *ngIf="interest_profile_received.profile_picture==null"
                          src="assets/images/matches/request-image.png" class="img-fluid " alt="Image">
                        <img *ngIf="interest_profile_received.profile_picture!=null "
                          src="{{interest_profile_received.profile_picture[0]}}" alt="Image">
                      </div>
                    </div>


                    <div class="col-md-4 br-border">
                      <div class="profile-content">
                        <div class="head-sec">
                          <a>{{interest_profile_received.fullName|titlecase}} </a>
                          <!-- <p>Software Proffessional (Developer)</p> -->
                        </div>
                        <div class="chat-sec">
                          <a>
                            <mat-icon>chat</mat-icon><span>&nbsp;{{interest_profile_received.onlineStatus}}</span>
                          </a>
                        </div>
                        <mat-divider></mat-divider>
                        <div class="about-sec">
                          <p>{{interest_profile_received.age}} yrs, {{interest_profile_received.height}} ft</p>
                          <p>{{interest_profile_received.occupation|titlecase}}</p>
                          <p>{{interest_profile_received.motherTongue|titlecase}},
                            {{interest_profile_received.religion|titlecase}}
                          </p>
                          <p>{{interest_profile_received.residenceState}}, {{interest_profile_received.residenceCity}}</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="text-center btn-sect">
                        <p>Waiting for a respons?</p>
                        <br>
                        <div (click)="SendAcceptRequestFromInterestReceived(interest_profile_received.userId,'accepted')">
                          <mat-icon>check_circle</mat-icon>
                          <p>Accept</p>
                          <!-- <button mat-raised-button color="primary">Connect</button> -->
                        </div>
                        <br>
                        <div (click)="SendAcceptRequestFromInterestReceived(interest_profile_received.userId,'rejected')">
                          <mat-icon>cancel</mat-icon>
                          <p>Reject</p>
                          <!-- <button mat-raised-button color="warn">Reject</button> -->
                        </div>
                        <!-- <button mat-raised-button color="primary">Connect</button> -->
                        <br>
                        <!-- <button mat-raised-button color="warn">Reject</button> -->

                      </div>
                    </div>
                  </div>
                </mat-card>
              </div>
             
              <div class="col-md-2">
                <div class="add-section-img">
                  <img src="assets/images/add-img.jpg" alt="Image">
                </div>
              </div>
            </div>
          </div>

        </mat-tab>
        <!-- -------------Interests Received-------------- -->

        <!-- -------------Interests Sent-------------- -->
        <mat-tab label="Interests Sent">
          <div class="inbox-card-margin">
            <div class="row">
              <div class="col-md-3">
                <mat-card class="search-card">
                  Profiles
                  <mat-radio-group class="example-radio-group">
                    <mat-radio-button class="example-radio-button"
                      *ngFor="let interestsentsearch of interestsentsearch_options;let i=index"
                      [value]="interestsentsearch">{{interestsentsearch}}</mat-radio-button>
                  </mat-radio-group>
                </mat-card>
              </div>
              <div class="col-md-7">
                <mat-card class="mt-2 image-card"
                  *ngIf="all_interest_sent_profileList==null ||all_interest_sent_profileList.length==0 ">
                  <div class="row row-flex" style="background-color: silver;text-align:center">
                    <div class="col-md-12">
                      <h3>No data available!</h3>
                    </div>
                  </div>
                </mat-card>
                <mat-card class="profile-inbox-card"
                  *ngFor="let interest_profile_sent of all_interest_sent_profileList">
                  <div class="row">
                    <div class="col-md-4" *ngIf="interest_profile_sent.pictureRights== 'OnAccept'">
                      <div class="image-radius-card">
                        <img *ngIf="interest_profile_sent.profile_picture==null"
                          src="assets/images/matches/request-image.png" class="img-fluid " alt="Image">
                        <img *ngIf="interest_profile_sent.profile_picture!=null "
                          src="{{interest_profile_sent.profile_picture[0]}}" alt="Image" class="view-image-blur">
                          <div class="lock-image">
                            <div class="lock-accept-details">
                              <i class="fa fa-lock" aria-hidden="true"></i>
                              <p>OnAccept</p>
                            </div>
                          </div>
                        </div>
                       
                    </div>

                    <div class="col-md-4" *ngIf="interest_profile_sent.pictureRights!= 'OnAccept'">
                      <div class="image-radius-card">
                        <img *ngIf="interest_profile_sent.profile_picture==null"
                          src="assets/images/matches/request-image.png" class="img-fluid " alt="Image">
                        <img *ngIf="interest_profile_sent.profile_picture!=null "
                          src="{{interest_profile_sent.profile_picture[0]}}" alt="Image">
                        
                        </div>
                       
                    </div>
                    <div class="col-md-4 br-border">
                      <div class="profile-content">
                        <div class="head-sec">
                          <a>{{interest_profile_sent.fullName|titlecase}} </a>
                          <!-- <p>Software Proffessional (Developer)</p> -->
                        </div>
                        <div class="chat-sec">
                          <a>
                            <mat-icon>chat</mat-icon><span>&nbsp;{{interest_profile_sent.onlineStatus}}</span>
                          </a>
                        </div>
                        <mat-divider></mat-divider>
                        <div class="about-sec">
                          <p>{{interest_profile_sent.age}} yrs, {{interest_profile_sent.height}} ft</p>
                          <p>{{interest_profile_sent.occupation|titlecase}}</p>
                          <p>{{interest_profile_sent.motherTongue|titlecase}},
                            {{interest_profile_sent.religion|titlecase}}
                          </p>
                          <p>{{interest_profile_sent.residenceState}}, {{interest_profile_sent.residenceCity}}</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="text-center btn-sect">
                        <p>Waiting for a respons?</p>
                        <br>
                        <div (click)="SendAcceptRequestFromInterestSent(interest_profile_sent.userId,'connect')">
                          <mat-icon>add_alert</mat-icon>
                          <p>Remind</p>
                          <!-- <button mat-raised-button color="primary">Connect</button> -->
                        </div>
                        <br>
                        <div (click)="SendAcceptRequestFromInterestSent(interest_profile_sent.userId,'cancel')">
                          <mat-icon>cancel</mat-icon>
                          <p>Cancel</p>
                          <!-- <button mat-raised-button color="warn">Reject</button> -->
                        </div>
                        <!-- <button mat-raised-button color="primary">Connect</button> -->
                        <br>
                        <!-- <button mat-raised-button color="warn">Reject</button> -->

                      </div>
                    </div>
                  </div>
                </mat-card>
              </div>
              <div class="col-md-2">
                <div class="add-section-img">
                  <img src="assets/images/add-img.jpg" alt="Image">
                </div>
              </div>
            </div>
          </div>

        </mat-tab>
        <!-- -------------Interests Sent-------------- -->

        <!-- -------------Accepted-------------- -->
        <mat-tab label="Accepted">
          <div class="inbox-card-margin">
            <div class="row">
              <div class="col-md-3">
                <mat-card class="search-card">
                  Profiles
                  <mat-radio-group class="example-radio-group">
                    <mat-radio-button class="example-radio-button"
                      *ngFor="let accceptedsearch of accceptedsearch_options;let i=index"
                      (click)="DisplayAcceptedFilterRecords(i)" [value]="accceptedsearch">{{accceptedsearch}}
                    </mat-radio-button>
                  </mat-radio-group>
                </mat-card>
              </div>
              <div class="col-md-7">
                <mat-card class="mt-2 image-card"
                  *ngIf="all_interest_accpeted_profileList==null ||all_interest_accpeted_profileList.length==0 ">
                  <div class="row row-flex" style="background-color: silver;text-align:center">
                    <div class="col-md-12">
                      <h3>No data available!</h3>
                    </div>
                  </div>
                </mat-card>
                <mat-card class="profile-inbox-card" *ngFor="let accepted_profile of all_interest_accpeted_profileList">
                  <div class="row">
                    <div class="col-md-4" *ngIf="accepted_profile.pictureRights== 'OnAccept'">
                      <div class="image-radius-card">
                        <img *ngIf="accepted_profile.profile_picture==null"
                          src="assets/images/matches/request-image.png" class="img-fluid " alt="Image">
                        <img *ngIf="accepted_profile.profile_picture!=null "
                          src="{{accepted_profile.profile_picture[0]}}" alt="Image" class="view-image-blur">
                          <div class="lock-image">
                            <div class="lock-accept-details">
                              <i class="fa fa-lock" aria-hidden="true"></i>
                              <p>OnAccept</p>
                            </div>
                          </div>
                        <!-- <img src="assets/images/matches/sam.jpg" alt="Image"> -->
                      </div>
                    </div>

                    <div class="col-md-4" *ngIf="accepted_profile.pictureRights!= 'OnAccept'">
                      <div class="image-radius-card">
                        <img *ngIf="accepted_profile.profile_picture==null"
                          src="assets/images/matches/request-image.png" class="img-fluid " alt="Image">
                        <img *ngIf="accepted_profile.profile_picture!=null "
                          src="{{accepted_profile.profile_picture[0]}}" alt="Image">
                        <!-- <img src="assets/images/matches/sam.jpg" alt="Image"> -->
                      </div>
                    </div>

                    <div class="col-md-8">
                      <div class="profile-content">
                        <div class="head-sec">
                          <a>{{accepted_profile.fullName|titlecase}} </a>
                          <!-- <a href="#">Samantha S <span class="align-right">26 Mar</span></a>
                                  <p>Software Proffessional (Developer)</p> -->
                        </div>
                        <div class="chat-sec">
                          <a>
                            <mat-icon>chat</mat-icon><span>&nbsp;{{accepted_profile.onlineStatus}}</span>
                          </a>
                        </div>
                        <div class="about-sec">
                          <p>{{accepted_profile.age}} yrs, {{accepted_profile.height}} ft</p>
                          <p>{{accepted_profile.occupation|titlecase}}</p>
                          <p>{{accepted_profile.motherTongue|titlecase}}, {{accepted_profile.religion|titlecase}}
                          </p>
                          <p>{{accepted_profile.residenceState}}, {{accepted_profile.residenceCity}}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </mat-card>
              </div>
              <div class="col-md-2">
                <div class="add-section-img">
                  <img src="assets/images/add-img.jpg" alt="Image">
                </div>
              </div>
            </div>
          </div>
        </mat-tab>
        <!-- -------------Accepted-------------- -->

        <!-- -------------Deleted-------------- -->
        <mat-tab label="Rejected">
          <div class="inbox-card-margin">
            <div class="row">
              <div class="col-md-3">
                <mat-card class="search-card">
                  Profiles
                  <mat-radio-group class="example-radio-group">
                    <mat-radio-button class="example-radio-button"
                      *ngFor="let rejectedsearch of rejectedsearch_options;let i=index"
                      (click)="DisplayRejectedFilterRecords(i)" [value]="rejectedsearch">{{rejectedsearch}}
                    </mat-radio-button>
                  </mat-radio-group>
                </mat-card>
              </div>
              <div class="col-md-7">
                <mat-card class="mt-2 image-card"
                  *ngIf="all_interest_rejected_profileList==null ||all_interest_rejected_profileList.length==0 ">
                  <div class="row row-flex" style="background-color: silver;text-align:center">
                    <div class="col-md-12">
                      <h3>No data available!</h3>
                    </div>
                  </div>
                </mat-card>
                <mat-card class="profile-inbox-card" *ngFor="let rejected_profile of all_interest_rejected_profileList">
                  <div class="row">
                    <div class="col-md-4" *ngIf="rejected_profile.pictureRights== 'OnAccept'">
                      <div class="image-radius-card">
                        <img *ngIf="rejected_profile.profile_picture==null"
                          src="assets/images/matches/request-image.png" class="img-fluid " alt="Image">
                        <img *ngIf="rejected_profile.profile_picture!=null "
                          src="{{rejected_profile.profile_picture[0]}}" alt="Image" class="view-image-blur">
                          <div class="lock-image">
                            <div class="lock-accept-details">
                              <i class="fa fa-lock" aria-hidden="true"></i>
                              <p>OnAccept</p>
                            </div>
                          </div>
                        <!-- <img src="assets/images/matches/sam.jpg" alt="Image"> -->
                      </div>
                    </div>

                    <div class="col-md-4" *ngIf="rejected_profile.pictureRights!= 'OnAccept'">
                      <div class="image-radius-card">
                        <img *ngIf="rejected_profile.profile_picture==null"
                          src="assets/images/matches/request-image.png" class="img-fluid " alt="Image">
                        <img *ngIf="rejected_profile.profile_picture!=null "
                          src="{{rejected_profile.profile_picture[0]}}" alt="Image">
                        <!-- <img src="assets/images/matches/sam.jpg" alt="Image"> -->
                      </div>
                    </div>

                    <div class="col-md-8">
                      <div class="profile-content">
                        <div class="head-sec">
                          <a>{{rejected_profile.fullName|titlecase}} </a>
                          <!-- <a href="#">Samantha S <span class="align-right">26 Mar</span></a>
                              <p>Software Proffessional (Developer)</p> -->
                        </div>
                        <div class="chat-sec">
                          <a>
                            <mat-icon>chat</mat-icon><span>&nbsp;{{rejected_profile.onlineStatus}}</span>
                          </a>
                        </div>
                        <div class="about-sec">
                          <p>{{rejected_profile.age}} yrs, {{rejected_profile.height}} ft</p>
                          <p>{{rejected_profile.occupation|titlecase}}</p>
                          <p>{{rejected_profile.motherTongue|titlecase}}, {{rejected_profile.religion|titlecase}}
                          </p>
                          <p>{{rejected_profile.residenceState}}, {{rejected_profile.residenceCity}}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </mat-card>
              </div>
              <div class="col-md-2">
                <div class="add-section-img">
                  <img src="assets/images/add-img.jpg" alt="Image">
                </div>
              </div>
            </div>
          </div>
        </mat-tab>
        <!-- ------------Deleted-------------- -->
      </mat-tab-group>
    </mat-card>
  </div>
  <app-chat></app-chat>
</section>