<div class="join-wrapper mt-100">
    <div class="row">
        <div class="col-md-12">
            <h5 _class="text-center">What are you waiting for join today!
                <button mat-raised-button style="margin-left: 25px;" (click)="gotoTop()">Join Now</button>

            </h5>
        </div>
        <!-- <div class="col-md-3"></div> -->
    </div>
</div>