.matches-section{
  .main-card-matches{
    padding: 0px;
  }
}

  .matches-card  {
    padding: 0px;
    img {
      height: 320px;
      width: 100%;
    }
    img.view-image-blur {
      filter: blur(8px);
      -webkit-filter: blur(8px);
    }

    img.view-image-blur {
      position: relative;
    }

    .lock-image {
      background: #808080cf;
      height: 320px;
      width: 100%;
      position: absolute;
      top: 0px;
      border-radius: 4px;
      .lock-accept-details{
        position: absolute;
        top: 44%;
        left: 44%;
      }
      .fa-lock {
        font-size: 50px;
      }
      p{
        font-size: 18px;
        cursor: pointer;
        margin-left: -18px;
        color: white;
        text-decoration: underline;
        font-weight: 500;
      }
    }
.request-empty-image-sec{
  position: relative;
  img.accept-request-image {
    opacity: 0.3;
  }
  button{
    position: absolute;
    top: 50%;
    left: 30%;
  }
}

    .mat-card-content{
      margin: 5px;
      .title-name{
        margin-left: 5px;
        h4{
          font-size: 18px;
        }
        .mat-icon{
          font-size: 16px;
          position: relative;
          top: 5px;
        }
      }
      .location-sect{
        margin-left: 5px;
        margin-top: -8px;
        .mat-icon{
          font-size: 13px;
        }
        span{
          margin-left: -7px;
          margin-top: -4px;
          font-size: 14px;
        }
      }
    }
    .mat-list-base .mat-list-item,
    .mat-list-base .mat-list-option {
      font-size: 14px;
      word-break: break-all;
    word-spacing: normal;
    }
    .btn-sec{
      button{
        margin-bottom: 5px;
      }
    }
  }


  .mat-flat-button.mat-warn,
  .mat-raised-button.mat-warn,
  .mat-fab.mat-warn,
  .mat-mini-fab.mat-warn {
    background-color: #be3d52;
  }

  .mat-list-base .mat-list-item,
  .mat-list-base .mat-list-option {
    display: block;
    height: 25px;
    -webkit-tap-highlight-color: transparent;
    width: 100%;
    padding: 0;
    font-size: 12px;
  }

  :host /deep/ .mat-list-base .mat-list-item .mat-list-item-content {
    padding: 0 0px !important;
    word-break: break-all;
  }

  // --------------------recently viewed card style--------------
  .recently-viewed-sect {
    margin-top: 20px;
    margin-bottom: 10px;

    .mat-card.image-card {
      padding: 0px;
      box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.3), 0px 1px 1px 0px rgba(0, 0, 0, 0.38), 0px 1px 3px 0px rgba(0, 0, 0, 0.49);
      height: 200px;
    }
    .mat-card .mat-divider-horizontal{
      width: 96%;
    }
    .mat-card-actions, .mat-card-content, .mat-card-subtitle{
      margin-bottom: 0px;
    }
    img{
      height: 200px;
      width: 100%;
    }
    .mat-card-content {
      margin-top: 15px;
    }

    .mat-list-base .mat-list-item,
    .mat-list-base .mat-list-option {
      font-size: 15px;
    }

    h4 {
      font-size: 18px;
    }
    p{
      span{
        position: relative;
        top: -8px;
      }
    }
    .btn-sect {
      button {
        margin: 5px;
        line-height: 30px;
        padding: 0 8px;
      }
    }
    .search-card{
      .form-group {
        margin-bottom: 0px;
    }
      .divider-filter{
        font-size: 14px;
        border: 1px solid #adadad;
        max-width: 50px;
        margin: 0px auto;
        font-size: 14px;
      }
      .mat-card{
        padding: 16px;
      }
    }
    img.view-image-blur {
      filter: blur(8px);
      -webkit-filter: blur(8px);
    }

    img.view-image-blur {
      position: relative;
    }
    .lock-image {
      background: #808080cf;
      // height: 320px;
      // width: 100%;
      position: absolute;
      top: 30%;
      left: 42%;
      border-radius: 4px;
      .lock-accept-details{
        position: absolute;
        top: 44%;
        left: 44%;
      }
      .fa-lock {
        font-size: 50px;
      }
      p{
        font-size: 18px;
        cursor: pointer;
        margin-left: -18px;
        color: white;
        text-decoration: underline;
        font-weight: 500;
      }
    }

  }
  .mat-expansion-panel-spacing {
    margin: 0px 0;
}
  // --------------------recently viewed card style--------------
  .mat-card.no-data-card{
    background: #b6b7b6;
    h3{
      font-size: 20px;
    }
  }
  .no-data-card1{
    background: #b6b7b6;
    margin: 0 auto;
    margin-bottom: 20px;
    h3{
      font-size: 20px;
    }
  }