.about-us{
    background-image: linear-gradient(to bottom, #00000059 0%, rgba(0, 0, 0, 0.8) 100%), url('~/assets/images/bg2.jpeg');
    background-attachment: fixed;
    background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    padding: 100px 0;
    margin-top: 60px;
    // margin-bottom: 60px;
    height: 575px;
    .about-content{
        color: #fff;
        h1{
            color: #ffffff;
        }
        hr {
            border-top: 1px solid rgb(226, 226, 226);
        }
        p{
            padding: 10px;
            margin: 10px;
        }
    }

}
