<section class="user-approval">
    <p-toast position="top-center"></p-toast>
    <div class="container-fluid">
        <mat-card>
            <div class="heading-sec">
                <div class="row">
                    <div class="col">
                        <div class="btn-sec">
                            <button mat-raised-button color="{{male_button_color}}" *ngIf="is_male_button_clicked" (click)="filterMaleUserList('Male')">Male</button>
                            <button mat-raised-button color="{{female_button_color}}" *ngIf="is_female_button_clicked" (click)="filterFemaleUserList('Female')">Female</button>
                        </div>
                    </div>
                    <div class="col">
                        <div class="search-hero">
                            <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="&#xF002;  Search Here......">
                        </div>
                    </div>
                    <div class="col">
                        <mat-form-field>
                            <mat-label>Choose an option</mat-label>
                            <mat-select name="ddl_status" [(ngModel)]="ddl_status" (ngModelChange)="selectedstatus(ddl_status)">
                                <mat-option value="{{status}}" *ngFor="let status of status_list">{{status|titlecase}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <mat-divider></mat-divider>
            <div class="approve-reject-sect">
                <mat-card class="mt-3 no-data-card1 col-md-7" *ngIf="all_user_list==null ||all_user_list.length==0">
                    <div class="text-center">
                        <h3>No data available!</h3>
                    </div>
                </mat-card>
                <div class="row">
                    <div class="col-md-3" *ngFor="let users of all_user_list|filter:searchText;let i=index">
                        <mat-card class="mt-2 content-data-card">
                            <div class="row row-flex">
                                <div class="col-md-4">
                                    <img *ngIf="users.profile_picture==null" src="http://bestjquery.com/tutorial/product-grid/demo9/images/img-3.jpg" class="img-fluid " alt="Image">
                                    <img *ngIf="users.profile_picture!=null && users.profile_picture[0]" src="http://bestjquery.com/tutorial/product-grid/demo9/images/img-3.jpg" class="img-fluid " alt="Image">
                                </div>
                                <div class="col-md-8">
                                    <mat-card-content>
                                        <h4>{{users.fullName|titlecase}}</h4>
                                        <p>{{users.mobileNumber}}</p>
                                        <p>{{users.email}}</p>
                                        <p>{{users.residenceState|titlecase}} , {{users.residenceCity|titlecase}}</p>
                                        <!-- <div class="">
                                            <mat-list role="list">
                                                <mat-list-item role="listitem">8056156348</mat-list-item>
                                                <mat-list-item role="listitem">
                                                    Tamil</mat-list-item>
                                                <mat-list-item role="listitem">Tamilnadu, Chennai
                                                </mat-list-item>
                                            </mat-list>
                                        </div> -->
                                    </mat-card-content>
                                    <mat-divider></mat-divider>
                                    <div class="btn-sect">
                                        <!-- <mat-checkbox value="{{option}}" (change)="updatestatus(option)" name="{{option}}" *ngFor="let option of chk_box_list"> {{option|titlecase}}</mat-checkbox> -->
                                        <!-- <mat-checkbox name="checkbox" (click)="SaveUserApprovalStatus(users.userId_id,'accept')">Accept</mat-checkbox>
                                        <mat-checkbox name="checkbox" (click)="SaveUserApprovalStatus(users.userId_id,'reject')">Reject</mat-checkbox> -->
                                        <mat-radio-group name="userstatus-{{i}}">
                                            <mat-radio-button value="accept" [checked]='radio_accept_status' name="radio_status" (click)="SaveUserApprovalStatus(users.userId_id,'accept')">Accept</mat-radio-button>&nbsp;
                                            <mat-radio-button value="reject" [checked]='radio_reject_status' name="radio_status" (click)="SaveUserApprovalStatus(users.userId_id,'reject')">Reject</mat-radio-button>
                                        </mat-radio-group>
                                    </div>
                                </div>
                            </div>

                        </mat-card>
                    </div>




                </div>
            </div>
        </mat-card>
    </div>
</section>