<!-- Navbar  -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="header">
    <div class="container">
        <a class="navbar-brand" href="#"><img src="assets/images/logo/logo-bundham.png">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#" mat-stroked-button color="warn" [routerLink]="['/signup']" routerLinkActive="router-link-active">Login
            <span class="sr-only">(current)</span>
          </a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" href="#" mat-stroked-button color="warn" [routerLink]="['/register']" routerLinkActive="router-link-active">Sign-up</a>
                </li> -->
            </ul>
        </div>
    </div>
</nav>
<!-- End Navbar  -->
<div style="margin-top: 160px;">
    <div class="container">
        <div class="tc-style mt-3">

            <h4>TERMS AND CONDITIONS
            </h4>
            <p>
                Bundham provides the services to its members with the following terms and conditions. This legal agreement applies to the access and use of the Bundham website by its members, bride or groom or their family to get the services provided by Bundham As long
                as the members continue to use the services, members thereby to have read, understood and agreed to, and are bound by, these terms and conditions of service of this Agreement.
            </p>
            <p>
                At any point in time, if the member does not agree, or not to be bound by this agreement, he or she can stop using the services. The terms and conditions may be subject to be added or modified in the future. Thereby members are required to and be informed
                to check the terms and conditions agreement from time to time.
            </p>
            <p> The members are asked to furnish their information correctly when registering and modifying the profile details as per to seek their match and facilitate their right matches to be understood clearly of their requirements. Bundham is not responsible
                for any misrepresentation done by the members.
            </p>
            <h5>Eligibility
            </h5>
            <p>
                The bride and groom must be 21 years of age at the time of registration. Details of the marital status of the bride and groom, such as single, divorced, separated, should be revealed at the time of registration by the members, or the person registering
                on behalf of the bride or groom. Bundham does not conduct background screening on the member’s information. It is the members’ responsibility to give infallible information with authenticity. If you are married and not separated, you may
                not register to use the Bundham website. Bundham has the right to remove your membership if the member is not eligible or misrepresent membership and its terms and conditions.
            </p>
            <h5>
                Usage of the Account
            </h5>
            <p>
                When you register, you agree to take up the responsibility of maintaining the confidentiality of your information. You agree to use your account for your match searching purpose only. You cannot involve the third party in accessing your account by transferring
                your account details. You acknowledge that Bundham is not responsible for third party access to your account that results from theft or misappropriation of your user names and passwords. You cannot use the contact details of the other
                members to send inappropriate information such as advertisements, junk emails, business-related communication, or harming, abusing and harassing them at any point in time. In such cases, Bundham reserve the right to refuse service, terminate
                accounts, remove or edit content, or cancel a subscription at their sole discretion. Bundham will be responsible or liable for any loss or damage incurred as the result of any such occurrences.
            </p>
            <h5>
                Ownership solicitation:
            </h5>
            <p>
                You cannot use ownership properties of Bundham or its confidential information for personal or commercial usage. You will not copy, share, modify, distribute, display, or download any data from Bundham website.  </p>
            <h5>
                Misuse of Membership
            </h5>
            <p>
                To be a member, you need to register by providing a photograph of the bride or groom and by filling in the given details. You agree to provide the appropriate details at the time of registration and modifying profiles. If the member provides unauthorized
                content or information or offensive representation or misuse of the domain, Bundham will be responsible or liable for modifying such content. If Bundham finds such contents published on the domain, it reserves the right to remove the profile
                and terminate the membership instantly without notification.
            </p>
            <h5>
                Confidentiality
            </h5>
            <p>All the information provided by the members is kept confidential by Bundham. The collected information including matrimonial details and credit card details provided by the members will not be shared with any individual or the organization.
                The information provided by the member is treated with complete security. In case of a mandatory legal situation, if it emerges, we are restricted to provide members information to interface with the legal course of actions.
            </p>
            <h5>
                Termination
            </h5>
            <p>
                Membership can be terminated at any time by the members if they are not satisfied with the services of Bundham; Bundham reserves the right to terminate the membership in case of misusage or misrepresentation of the member is found.
            </p>
            <h5>
                Questions and Concerns
            </h5>
            <p>
                Satisfied Service is Bundham’s priority. It looks for suggestions, complaints, and concerns to improve its service. Emails are welcome to <a href="support@bundham.com">support@bundham.com</a>

            </p>
        </div>
    </div>

</div>

<!-- footer section -->
<div class="footer-border">
    <app-footer></app-footer>
</div>