.wrapper {
  margin-top: 20px;
  margin-bottom: 20px;
}

.back-button-sect {
  margin-bottom: 10px;
}

.upload-image-sect {
  margin-top: 10px;
  margin-bottom: 10px;

  .image-preview {
    margin: 5px;

    img {
      width: 200px;
      height: 200px;
    }

    .preview-image-remove {
      position: relative;
      top: -14px;
      left: -10px;
    }
  }

  input {
    outline: none;
  }
}

.heading-sect {
  margin-top: 10px;

  h3 {
    font-size: 17px;
  }
}

.list-images {
  margin-top: 12px;
  overflow: hidden;

  img {
    height: 100%;
    width: 100%;
    transition: transform .5s ease;

    &:hover {
      transform: scale(1.5);
    }
  }
}

.not-data-avai {
  margin: 15px auto;
  max-width: 500px;

  p {
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 1px 3px 0 rgba(0, 0, 0, .12);
    padding: 10px;
    color: #ff0000;
    text-align: center;
  }
}

.album-sec {
  .img-thumbnail {
    height: 200px;
    width: 100%;
  }

  .image-view-del {
    position: relative;
    margin: 10px 0px;
  }

  .image-view-del:hover .remImage{
    opacity: 1;
    z-index: 99;
    position: absolute;
    top: -7px;
    left: 36%;
  }

  .image-view-del:after {
    content: '';
    width: 100%;
    height: 200px;
    position: absolute;
    display: block;
    background: rgba(0, 0, 0, 0.6);
    top: 0px;
    z-index: 0;
    opacity: 0;
    transition: all .5s ease-in-out;
  }

  .image-view-del:hover:after {
    opacity: 1;
  }

  .remImage {
    box-shadow: none;
    position: absolute;
    z-index: 1;
    top: 100px;
    left: 0%;
    margin-top: 4px;
    opacity: 0;
    display: block;
    transition: all .5s ease-in-out;
    button{
      min-width: 24px;
      line-height: 20px;
      padding: 0 2px;
      .mat-icon{
        color: red;
      }
    }

  }
}