  
  .pr-cfeature {
    margin-top: 130px;
    .section-title {
      h2 {
        font-size: 35px;
        margin-bottom: 20px;
        color: #e31010;
      }
    }
  
    .pr-feature-card {
      .feature-course-card {
        background: #ffc107  ;
        color: #132632;
        padding: 25px 20px;
        -webkit-transition: all 0.3s ease 0s;
        -moz-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
        height: 100%;
  
        &:hover {
          background: #fff;
          box-shadow: 0px 12px 20px 0px #9E9E9E;
        }
      }
  
      .feature-card-img {
        margin-bottom: 15px;
      }
  
      .mat-card-title {
        font-size: 20px;
      }
  
      .mat-card-avatar {
        border-radius: 0;
      }
    }
  
    // .pr-feature-card:nth-child(3) {
    //   margin-top: -115px;
    // }
  
    // .pr-feature-card:nth-child(4) {
    //   margin-top: -220px;
    // }
  
    .pr-feature-card:nth-child(5) {
      margin-top: 25px;
    }
  
    .pr-feature-card:nth-child(6) {
      margin-top: 25px;
    }
  
    .pr-feature-card:nth-child(7) {
      margin-top: 25px;
    }
  }
