<!-- <section class="about-us py-5 " id="about-us">
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6">
                <h1 class='text-success'>Welcome!</h1>
                <h2>Know More About Us</h2>
                <hr>
                <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore etae magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
            <div class="col-md-6">
                <img src="https://images.pexels.com/photos/673649/pexels-photo-673649.jpeg?w=940&h=650&auto=compress&cs=tinysrgb" alt="Image">
            </div>
        </div>
    </div>
</section> -->
<section class="about-us py-5 " id="about-us">
    <div class="container mt-5">
        <div class="row">
            <div class="about-content">
                <h1 class='text-center'>Welcome! Know More About Us</h1>
                <div class="heart-divider text-center">
                    <span class="grey-line"></span>
                    <i class="fa fa-heart pink-heart"></i>
                    <i class="fa fa-heart grey-heart"></i>
                    <span class="grey-line"></span>
                </div>
                <p>Globalization has aggrandized our communications and shrunk our distances. It paved the way for people to travel all over the world for education, work, and living. It expanded the views of society and enhanced the lifestyle of people.
                    Amidst this newly adapted lifestyle, parents and children are living in different zones of the states and countries to lead their lives. Everyone gets busy with our workloads. This factor should not be a hurdle for finding our life
                    partners when the right time prospers. It should not be a hindrance for uniting with our soul mates no matter where we live.
                </p>
                <p>Bundham aims at people seeking matches to be smooth and successful. It intends to provide a service to make people’s match seeking to experience a pleasant one. Bundham is meant for the Indian community living in India and abroad. Since
                    Indian weddings unite the couple by connecting two different families; there are several aspects such as cultural, traditional, compatibility, and accustomed habits that play a big role. Keeping these in mind, Bundham is launched to
                    bring harmony in relationships and family unions. Bundham wishes to bring unity with love and care for its members.
                </p>
            </div>
        </div>
    </div>
</section>