.discounted-card-banner {
    padding: 50px;
    h3{
        margin-bottom: 35px;
    }
    .discounted-card{
        min-height: 300px;
        max-height: 300px;
        height: 300px;
        margin: 10px;
        background: #fff;
        color: #353535;
        .banner-img{
            height: 116px;
            width: 222px;
        }
        mat-card-subtitle{
            color: #353535;
            height: 50px;
            min-height: 50px;
            max-height: 50px;
        }
    }
    .leftRs {
        display: none;
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        width: 50px;
        height: 50px;
        box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, .3);
        border-radius: 999px;
        left: 0;
    }
    
    .rightRs {
        display: none;
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        width: 50px;
        height: 50px;
        box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, .3);
        border-radius: 999px;
        right: 0;
    }
  
}
mat-card-title{
    margin-top: 5px;
    font-size: 16px !important;
    height: 105px;
    min-height: 105px;
    max-height: 105px;
}

// .job-header-image {
//     background-size: cover;
//     border-radius: 0;
//     width: 56px;
//     height: 56px;
//     text-align: center;
//     font-size: 35px;
//     color: #fff;
//   }