<section class="view-profile-sec">
    <div class="container-fluid">
        <!-- <div class="row">
            <div class="offset-md-11 col-md-1 viepf-backbtn">
                <button class="align-right" mat-raised-button color="primary" [routerLink]="['/matches']"
                    routerLinkActive="router-link-active"><span>Back</span></button>
            </div>
        </div> -->
        <div class="row">
            <div class="col-md-3">
                <mat-card>
                    <div class="profile-img">
                        <ngb-carousel>
                            
                            <div *ngIf="viewprofile_image_rights== 'visible' && viewprofile_image_path!=null">
                                <ng-template ngbSlide *ngFor="let imagelist of viewprofile_image_path">
                                    <img [src]="imagelist" alt="Random slide" (click)="viewFullImage()">
                                </ng-template>
                            </div>
                            <div *ngIf="viewprofile_image_rights== 'OnAccept' && viewprofile_image_path!=null">
                                <ng-template ngbSlide *ngFor="let imagelist of viewprofile_image_path">
                                    <img [src]="imagelist" alt="Random slide" class="view-image-blur">
                                    <div class="lock-image">
                                        <div class="lock-accept-details">
                                            <i class="fa fa-lock" aria-hidden="true"></i>
                                            <p>OnAccept</p>
                                        </div>
                                    </div>
                                </ng-template>
                            </div>
                        </ngb-carousel>
                                                     
                     <img *ngIf="viewprofile_image_path==null" src="assets/images/matches/request-image.png" alt="Random slide" (click)="viewFullImage()">
                        
                    </div>
                    <div class="viewprf-about">
                        <mat-accordion class="about-cnt-sect">
                            <mat-expansion-panel expanded=[true]>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        About Me
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <p>My job is mostly lorem ipsuming and dolor sit ameting as long as consectetur adipiscing elit.
                                </p>
                            </mat-expansion-panel>
                        </mat-accordion>
                        <div>
                            <img src="../assets/images/add-img.jpg" alt="Image">
                        </div>
                    </div>
                </mat-card>
            </div>
            <div class="col-md-9">
                <mat-card class="viewdetails-card">
                    <mat-tab-group animationDuration="0ms">
                        <mat-tab label="Basic Information">
                            <div class="famildetails-sec">
                                <div class="family-exp">
                                    <h6>
                                        <mat-icon>supervisor_account</mat-icon><span>Basic Info</span>
                                    </h6>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <mat-list role="list">
                                                <mat-list-item role="listitem" *ngIf="BasicInfo.profileCreatedBy">Profile Created By</mat-list-item>
                                                <mat-list-item role="listitem" *ngIf="BasicInfo.activities">Gender</mat-list-item>
                                                <mat-list-item role="listitem" *ngIf="BasicInfo.activities">Date of birth</mat-list-item>
                                                <mat-list-item role="listitem" *ngIf="BasicInfo.maritalStatus">Marital Status</mat-list-item>
                                                <mat-list-item role="listitem" *ngIf="BasicInfo.age">Age</mat-list-item>
                                                <mat-list-item role="listitem" *ngIf="BasicInfo.height">Height</mat-list-item>
                                                <mat-list-item role="listitem" *ngIf="BasicInfo.weight">Weight</mat-list-item>
                                                <mat-list-item role="listitem" *ngIf="BasicInfo.bloodGroup">Blood Group</mat-list-item>
                                                <mat-list-item role="listitem" *ngIf="BasicInfo.gothram">Gothram</mat-list-item>
                                                <mat-list-item role="listitem" *ngIf="BasicInfo.rasi">Rasi</mat-list-item>
                                                <mat-list-item role="listitem" *ngIf="BasicInfo.nakshatra">Nakshatra</mat-list-item>
                                                <mat-list-item role="listitem" *ngIf="BasicInfo.dosham">Dosham</mat-list-item>
                                                <mat-list-item role="listitem" *ngIf="BasicInfo.religion">Religion</mat-list-item>
                                                <mat-list-item role="listitem" *ngIf="BasicInfo.motherTongue">Mother Tongue</mat-list-item>
                                                <mat-list-item role="listitem" *ngIf="BasicInfo.caste">Caste</mat-list-item>
                                                <mat-list-item role="listitem" *ngIf="BasicInfo.subCaste">Sub Caste</mat-list-item>
                                                <mat-list-item role="listitem" *ngIf="BasicInfo.skinColor">Skin Color</mat-list-item>
                                                <mat-list-item role="listitem" *ngIf="BasicInfo.physicallyChallenged">Physically Challenged</mat-list-item>
                                                <mat-list-item role="listitem" *ngIf="BasicInfo.languagesKnown">Languages Known</mat-list-item>
                                                <mat-list-item role="listitem" *ngIf="BasicInfo.foodHabits">Food Habits</mat-list-item>
                                            </mat-list>
                                        </div>
                                        <div class="col-md-2">
                                            <mat-list role="list">
                                                <mat-list-item role="listitem" *ngIf="BasicInfo.profileCreatedBy">:</mat-list-item>
                                                <mat-list-item role="listitem" *ngIf="BasicInfo.activities">:</mat-list-item>
                                                <mat-list-item role="listitem" *ngIf="BasicInfo.activities">:</mat-list-item>
                                                <mat-list-item role="listitem" *ngIf="BasicInfo.maritalStatus">:</mat-list-item>
                                                <mat-list-item role="listitem" *ngIf="BasicInfo.age">:</mat-list-item>
                                                <mat-list-item role="listitem" *ngIf="BasicInfo.height">:</mat-list-item>
                                                <mat-list-item role="listitem" *ngIf="BasicInfo.weight">:</mat-list-item>
                                                <mat-list-item role="listitem" *ngIf="BasicInfo.bloodGroup">:</mat-list-item>
                                                <mat-list-item role="listitem" *ngIf="BasicInfo.gothram">:</mat-list-item>
                                                <mat-list-item role="listitem" *ngIf="BasicInfo.rasi">:</mat-list-item>
                                                <mat-list-item role="listitem" *ngIf="BasicInfo.nakshatra">:</mat-list-item>
                                                <mat-list-item role="listitem" *ngIf="BasicInfo.dosham">:</mat-list-item>
                                                <mat-list-item role="listitem" *ngIf="BasicInfo.religion">:</mat-list-item>
                                                <mat-list-item role="listitem" *ngIf="BasicInfo.motherTongue">:</mat-list-item>
                                                <mat-list-item role="listitem" *ngIf="BasicInfo.caste">:</mat-list-item>
                                                <mat-list-item role="listitem" *ngIf="BasicInfo.subCaste">:</mat-list-item>
                                                <mat-list-item role="listitem" *ngIf="BasicInfo.skinColor">:</mat-list-item>
                                                <mat-list-item role="listitem" *ngIf="BasicInfo.physicallyChallenged">:</mat-list-item>
                                                <mat-list-item role="listitem" *ngIf="BasicInfo.languagesKnown">:</mat-list-item>
                                                <mat-list-item role="listitem" *ngIf="BasicInfo.foodHabits">:</mat-list-item>
                                            </mat-list>
                                        </div>
                                        <div class="col-md-6">
                                            <mat-list role="list">
                                                <mat-list-item role="listitem" *ngIf="BasicInfo.profileCreatedBy!=null">{{BasicInfo?.profileCreatedBy}}</mat-list-item>
                                                <mat-list-item role="listitem" *ngIf="BasicInfo.activities!=null">{{''}}</mat-list-item>
                                                <mat-list-item role="listitem" *ngIf="BasicInfo.activities!=null">{{''}}</mat-list-item>
                                                <mat-list-item role="listitem" *ngIf="BasicInfo.maritalStatus!=null">{{BasicInfo?.maritalStatus}}</mat-list-item>
                                                <mat-list-item role="listitem" *ngIf="BasicInfo.age!=null">{{BasicInfo?.age}}</mat-list-item>
                                                <mat-list-item role="listitem" *ngIf="BasicInfo.height!=null">{{BasicInfo?.height}}</mat-list-item>
                                                <mat-list-item role="listitem" *ngIf="BasicInfo.weight!=null">{{BasicInfo?.weight}}</mat-list-item>
                                                <mat-list-item role="listitem" *ngIf="BasicInfo.bloodGroup!=null">{{BasicInfo?.bloodGroup}}</mat-list-item>
                                                <mat-list-item role="listitem" *ngIf="BasicInfo.gothram!=null">{{BasicInfo?.gothram}}</mat-list-item>
                                                <mat-list-item role="listitem" *ngIf="BasicInfo.rasi!=null">{{BasicInfo?.rasi}}</mat-list-item>
                                                <mat-list-item role="listitem" *ngIf="BasicInfo.nakshatra!=null">{{BasicInfo?.nakshatra}}</mat-list-item>
                                                <mat-list-item role="listitem" *ngIf="BasicInfo.dosham!=null">{{BasicInfo?.dosham}}</mat-list-item>
                                                <mat-list-item role="listitem" *ngIf="BasicInfo.religion!=null">{{BasicInfo?.religion}}</mat-list-item>
                                                <mat-list-item role="listitem" *ngIf="BasicInfo.motherTongue!=null">{{BasicInfo?.motherTongue}}</mat-list-item>
                                                <mat-list-item role="listitem" *ngIf="BasicInfo.caste!=null">{{BasicInfo?.caste}}</mat-list-item>
                                                <mat-list-item role="listitem" *ngIf="BasicInfo.subCaste!=null">{{BasicInfo?.subCaste}}</mat-list-item>
                                                <mat-list-item role="listitem" *ngIf="BasicInfo.skinColor!=null">{{BasicInfo?.skinColor}}</mat-list-item>
                                                <mat-list-item role="listitem" *ngIf="BasicInfo.physicallyChallenged!=null">{{BasicInfo?.physicallyChallenged}}</mat-list-item>
                                                <mat-list-item role="listitem" *ngIf="BasicInfo.languagesKnown!=null">{{BasicInfo?.languagesKnown}}</mat-list-item>
                                                <mat-list-item role="listitem" *ngIf="BasicInfo.foodHabits!=null">{{BasicInfo?.foodHabits}}</mat-list-item>
                                            </mat-list>
                                        </div>
                                    </div>
                                    <mat-divider></mat-divider>
                                </div>
                                <div class="family-exp">
                                    <h6>
                                        <mat-icon>integration_instructions</mat-icon><span>Leisures / Skills</span>
                                    </h6>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <mat-list role="list">
                                                <mat-list-item role="listitem" *ngIf="BasicInfo.activities!=null">Activities</mat-list-item>
                                                <mat-list-item role="listitem" *ngIf="BasicInfo.skills!=null">Skills</mat-list-item>
                                            </mat-list>
                                        </div>
                                        <div class="col-md-2">
                                            <mat-list role="list">
                                                <mat-list-item role="listitem" *ngIf="BasicInfo.activities!=null">:</mat-list-item>
                                                <mat-list-item role="listitem" *ngIf="BasicInfo.skills!=null">:</mat-list-item>
                                            </mat-list>
                                        </div>
                                        <div class="col-md-6">
                                            <mat-list role="list">
                                                <mat-list-item role="listitem" *ngIf="BasicInfo.activities!=null">{{BasicInfo?.activities}}</mat-list-item>
                                                <mat-list-item role="listitem" *ngIf="BasicInfo.skills!=null">{{BasicInfo?.skills}}</mat-list-item>
                                            </mat-list>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </mat-tab>
                        <mat-tab label="Family Background">
                            <div class="famildetails-sec">
                                <div class="family-exp">
                                    <h6>
                                        <mat-icon>group_work</mat-icon><span>Family Details</span>
                                    </h6>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <mat-list role="list">
                                                <mat-list-item role="listitem" *ngIf="familyInfo.father!=null">Father</mat-list-item>
                                                <mat-list-item role="listitem" *ngIf="familyInfo.mother!=null">Mother</mat-list-item>
                                                <mat-list-item role="listitem" *ngIf="familyInfo.dateOfBirth!=null">Date of birth</mat-list-item>
                                                <mat-list-item role="listitem" *ngIf="familyInfo.familyType!=null">Family Type</mat-list-item>
                                                <mat-list-item role="listitem" *ngIf="familyInfo.brothersMartitalStatus!=null">Brother(s) & Marital Status</mat-list-item>
                                                <mat-list-item role="listitem" *ngIf="familyInfo.SistersMartitalStatus!=null">Sister(s) & Marital Status</mat-list-item>
                                                <mat-list-item role="listitem" *ngIf="familyInfo.houseHold!=null">House hold</mat-list-item>
                                                <mat-list-item role="listitem" *ngIf="familyInfo.father!=null">Native</mat-list-item>
                                                <mat-list-item role="listitem" *ngIf="familyInfo.bgVisaStatus!=null">Visa status</mat-list-item>
                                            </mat-list>
                                        </div>
                                        <div class="col-md-2">
                                            <mat-list role="list">
                                                <mat-list-item role="listitem" *ngIf="familyInfo.father!=null">:</mat-list-item>
                                                <mat-list-item role="listitem" *ngIf="familyInfo.mother!=null">:</mat-list-item>
                                                <mat-list-item role="listitem" *ngIf="familyInfo.dateOfBirth!=null">:</mat-list-item>
                                                <mat-list-item role="listitem" *ngIf="familyInfo.familyType!=null">:</mat-list-item>
                                                <mat-list-item role="listitem" *ngIf="familyInfo.brothersMartitalStatus!=null">:</mat-list-item>
                                                <mat-list-item role="listitem" *ngIf="familyInfo.SistersMartitalStatus!=null">:</mat-list-item>
                                                <mat-list-item role="listitem" *ngIf="familyInfo.houseHold!=null">:</mat-list-item>
                                                <mat-list-item role="listitem" *ngIf="familyInfo.father!=null">:</mat-list-item>
                                                <mat-list-item role="listitem" *ngIf="familyInfo.bgVisaStatus!=null">:</mat-list-item>
                                       
                                            </mat-list>
                                        </div>
                                        <div class="col-md-6">
                                            <mat-list role="list">
                                                <mat-list-item role="listitem" *ngIf="familyInfo.father!=null">{{familyInfo?.father}}</mat-list-item>
                                                <mat-list-item role="listitem" *ngIf="familyInfo.mother!=null">{{familyInfo?.mother}}</mat-list-item>
                                                <mat-list-item role="listitem" *ngIf="familyInfo.dateOfBirth!=null">{{familyInfo?.dateOfBirth}}</mat-list-item>
                                                <mat-list-item role="listitem" *ngIf="familyInfo.familyType!=null">{{familyInfo?.familyType}}</mat-list-item>
                                                <mat-list-item role="listitem" *ngIf="familyInfo.brothersMartitalStatus!=null">{{familyInfo?.brothersMartitalStatus}}</mat-list-item>
                                                <mat-list-item role="listitem" *ngIf="familyInfo.SistersMartitalStatus!=null">{{familyInfo?.SistersMartitalStatus}}</mat-list-item>
                                                <mat-list-item role="listitem" *ngIf="familyInfo.houseHold!=null">{{familyInfo?.houseHold}}</mat-list-item>
                                                <mat-list-item role="listitem" *ngIf="familyInfo.father!=null">{{''}}</mat-list-item>
                                                <mat-list-item role="listitem" *ngIf="familyInfo.bgVisaStatus!=null">{{familyInfo?.bgVisaStatus}}</mat-list-item>
                                               
                                            </mat-list>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </mat-tab>
                        <mat-tab label="Profession">
                            <div class="famildetails-sec">
                                <div class="family-exp">
                                    <h6>
                                        <mat-icon>cast_for_education</mat-icon><span>Education & Career</span>
                                    </h6>
                                    <div class="row">
                                        <div class="col-md-2">
                                            <mat-list role="list">
                                                <mat-list-item role="listitem" *ngIf="proffesionInfo.education!=null">Education</mat-list-item>
                                                <mat-list-item role="listitem" *ngIf="proffesionInfo.university!=null">University</mat-list-item>
                                                <mat-list-item role="listitem" *ngIf="proffesionInfo.employement!=null">Employment</mat-list-item>
                                                <mat-list-item role="listitem" *ngIf="proffesionInfo.occupation!=null">Occupation</mat-list-item>
                                                <mat-list-item role="listitem" *ngIf="proffesionInfo.annualIncome!=null">Annual Income</mat-list-item>
                                            </mat-list>
                                        </div>
                                        <div class="col-md-2">
                                            <mat-list role="list">
                                                <mat-list-item role="listitem" *ngIf="proffesionInfo.education!=null">:</mat-list-item>
                                                <mat-list-item role="listitem" *ngIf="proffesionInfo.university!=null">:</mat-list-item>
                                                <mat-list-item role="listitem" *ngIf="proffesionInfo.employement!=null">:</mat-list-item>
                                                <mat-list-item role="listitem" *ngIf="proffesionInfo.occupation!=null">:</mat-list-item>
                                                <mat-list-item role="listitem" *ngIf="proffesionInfo.annualIncome!=null">:</mat-list-item>
                                            </mat-list>
                                        </div>
                                        <div class="col-md-8">
                                            <mat-list role="list">
                                                <mat-list-item role="listitem" *ngIf="proffesionInfo.education!=null">{{proffesionInfo?.education}}</mat-list-item>
                                                <mat-list-item role="listitem" *ngIf="proffesionInfo.university!=null">{{proffesionInfo?.university}}</mat-list-item>
                                                <mat-list-item role="listitem" *ngIf="proffesionInfo.employement!=null">{{proffesionInfo?.employement}}</mat-list-item>
                                                <mat-list-item role="listitem" *ngIf="proffesionInfo.occupation!=null">{{proffesionInfo?.occupation}}</mat-list-item>
                                                <mat-list-item role="listitem" *ngIf="proffesionInfo.annualIncome!=null">{{proffesionInfo?.annualIncome}}</mat-list-item>
                                            </mat-list>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </mat-tab>
                        <mat-tab label="Location Details">
                            <div class="loc-deatils-sec">
                                <div class="family-exp">
                                    <h6>
                                        <mat-icon>location_on</mat-icon><span>Residence</span>
                                    </h6>
                                    <div class="row">
                                        <div class="col-md-2">
                                            <mat-list role="list">
                                                <mat-list-item role="listitem" *ngIf="locationInfo.residenceCountry!=null">Country</mat-list-item>
                                                <mat-list-item role="listitem" *ngIf="locationInfo.residenceState!=null">State</mat-list-item>
                                                <mat-list-item role="listitem" *ngIf="locationInfo.residenceCity!=null">City</mat-list-item>
                                                <mat-list-item role="listitem" *ngIf="locationInfo.relocation!=null">Relocation</mat-list-item>
                                            </mat-list>
                                        </div>
                                        <div class="col-md-2">
                                            <mat-list role="list">
                                                <mat-list-item role="listitem" *ngIf="locationInfo.residenceCountry!=null" >:</mat-list-item>
                                                <mat-list-item role="listitem" *ngIf="locationInfo.residenceState!=null" >:</mat-list-item>
                                                <mat-list-item role="listitem" *ngIf="locationInfo.residenceCity!=null" >:</mat-list-item>
                                                <mat-list-item role="listitem" *ngIf="locationInfo.relocation!=null" >:</mat-list-item>
                                            </mat-list>
                                        </div>
                                        <div class="col-md-8">
                                            <mat-list role="list">
                                                <mat-list-item role="listitem" *ngIf="locationInfo.residenceCountry!=null">{{locationInfo?.residenceCountry}}</mat-list-item>
                                                <mat-list-item role="listitem" *ngIf="locationInfo.residenceState!=null">{{locationInfo?.residenceState}}</mat-list-item>
                                                <mat-list-item role="listitem" *ngIf="locationInfo.residenceCity!=null">{{locationInfo?.residenceCity}}</mat-list-item>
                                                <mat-list-item role="listitem" *ngIf="locationInfo.relocation!=null">{{locationInfo?.relocation}}</mat-list-item>
                                            </mat-list>
                                        </div>
                                    </div>
                                </div>
                                <mat-divider></mat-divider>
                                <div class="family-exp">
                                    <h6>
                                        <mat-icon>location_on</mat-icon><span>Bride/Groom Residence</span>
                                    </h6>
                                    <div class="row">
                                        <div class="col-md-2">
                                            <mat-list role="list">
                                                <mat-list-item role="listitem" *ngIf="locationInfo.bridegroomCountry!=null">Country</mat-list-item>
                                                <mat-list-item role="listitem" *ngIf="locationInfo.bridegroomState!=null">State</mat-list-item>
                                                <mat-list-item role="listitem" *ngIf="locationInfo.bridegroomCity!=null">City</mat-list-item>
                                                <mat-list-item role="listitem" *ngIf="locationInfo.bridegroomCitizenship!=null">Bride/groom citizenship</mat-list-item>
                                            </mat-list>
                                        </div>
                                        <div class="col-md-2">
                                            <mat-list role="list">
                                                <mat-list-item role="listitem" *ngIf="locationInfo.bridegroomCountry">:</mat-list-item>
                                                <mat-list-item role="listitem" *ngIf="locationInfo.bridegroomState">:</mat-list-item>
                                                <mat-list-item role="listitem" *ngIf="locationInfo.bridegroomCity">:</mat-list-item>
                                                <mat-list-item role="listitem" *ngIf="locationInfo.bridegroomCitizenship">:</mat-list-item>
                                            </mat-list>
                                        </div>
                                        <div class="col-md-8">
                                            <mat-list role="list">
                                                <mat-list-item role="listitem" *ngIf="locationInfo.bridegroomCountry!=null">{{locationInfo?.bridegroomCountry}}</mat-list-item>
                                                <mat-list-item role="listitem" *ngIf="locationInfo.bridegroomState!=null">{{locationInfo?.bridegroomState}}</mat-list-item>
                                                <mat-list-item role="listitem" *ngIf="locationInfo.bridegroomCity!=null">{{locationInfo?.bridegroomCity}}</mat-list-item>
                                                <mat-list-item role="listitem" *ngIf="locationInfo.bridegroomCitizenship!=null">{{locationInfo?.bridegroomCitizenship}}</mat-list-item>
                                            </mat-list>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </mat-tab>
                        <mat-tab label="Contact Details">
                            <div class="viewprf-cntdetails">
                                <h6>
                                    <mat-icon>contact_mail</mat-icon><span>Contact</span>
                                </h6>
                                <div class="row" *ngIf='contactInfo?.visibleTo !="Private"'>
                                    <div class="col-md-2">
                                        <mat-list role="list">
                                            <mat-list-item role="listitem">
                                                <mat-icon>call</mat-icon>&nbsp;Parents
                                            </mat-list-item>
                                            <mat-list-item role="listitem">
                                                <mat-icon>mail_outline</mat-icon>&nbsp;Parents
                                            </mat-list-item>
                                            <mat-list-item role="listitem">
                                                <mat-icon>call</mat-icon>&nbsp;Bride/Groom
                                            </mat-list-item>
                                            <mat-list-item role="listitem">
                                                <mat-icon>mail_outline</mat-icon>&nbsp;Bride/Groom
                                            </mat-list-item>
                                            <mat-list-item role="listitem">
                                                <mat-icon>remove_red_eye</mat-icon>&nbsp;Visible
                                            </mat-list-item>
                                        </mat-list>
                                    </div>
                                    <div class="col-md-2">
                                        <mat-list role="list">
                                            <mat-list-item role="listitem">:</mat-list-item>
                                            <mat-list-item role="listitem">:</mat-list-item>
                                            <mat-list-item role="listitem">:</mat-list-item>
                                            <mat-list-item role="listitem">:</mat-list-item>
                                            <mat-list-item role="listitem">:</mat-list-item>
                                        </mat-list>
                                    </div>
                                    <div class="col-md-8">
                                        <mat-list role="list">
                                            <mat-list-item role="listitem"> <i class="fas fa-lock" *ngIf="contactInfo.parentContact.txt_cnt_mobile_no!=null && contactInfo.parentContact.visibleTo=='private'"></i> {{contactInfo?.parentsContact?.txt_cnt_mobile_no}}</mat-list-item>
                                            <mat-list-item role="listitem"> <i class="fas fa-lock" *ngIf="contactInfo.parentContact.txt_cnt_email!=null &&  contactInfo.parentContact.visibleTo=='private'"></i> {{contactInfo?.parentsContact?.txt_cnt_email}}</mat-list-item>
                                            <mat-list-item role="listitem"> <i class="fas fa-lock" *ngIf="contactInfo.parentContact.txt_cnt_mobile_no!=null &&  contactInfo.parentContact.visibleTo=='private'"></i> {{contactInfo?.bridegroomContact?.txt_cnt_mobile_no}}</mat-list-item>
                                            <mat-list-item role="listitem"> <i class="fas fa-lock" *ngIf="contactInfo.parentContact.txt_cnt_email!=null && contactInfo.parentContact.visibleTo=='private'" ></i> {{contactInfo?.bridegroomContact?.txt_cnt_email}}</mat-list-item>
                                            <mat-list-item role="listitem"> <i class="fas fa-lock" *ngIf="contactInfo.parentContact.visibleTo=='private'"></i> {{contactInfo?.visibleTo}}</mat-list-item>

                                            
                                        </mat-list>
                                    </div>
                                    </div>
                                    <div class="row" *ngIf='contactInfo?.visibleTo =="Private"'>
                                        <button style=" display: flex;flex-wrap: wrap;align-content:center;">Raise to view Contact</button>
                                    </div>
                            </div>
                        </mat-tab>
                        <mat-tab label="Partner Preference" >
                            <div  class="partner-preference">
                                <h6>
                                    <mat-icon>group_add</mat-icon><span>Partner</span>
                                </h6>
                                <div class="row" *ngIf="PartnerPreference.partnerpreference.maritalStatus!=null">
                                    <div class="col-md-3" >
                                        <mat-list role="list"> {{PartnerPreference.partnerpreference|json}}
                                            <mat-list-item role="listitem">Marital Status</mat-list-item>
                                        </mat-list>
                                    </div>
                                    <div class="col-md-1" >
                                        <mat-list role="list">
                                            <mat-list-item role="listitem">-</mat-list-item>
                                        </mat-list>
                                    </div>
                                    <div class="col-md-4">
                                        <mat-list role="list">
                                            <mat-list-item role="listitem">{{PartnerPreference?.partnerpreference[0]?.maritalStatus}}</mat-list-item>
                                        </mat-list>
                                    </div>
                                    <!-- <div class="col-md-4">
                                        <mat-list role="list">
                                            <mat-list-item role="listitem">Unmarried</mat-list-item>
                                        </mat-list>
                                    </div> -->
                                </div>
                                <div class="row" *ngIf="PartnerPreference.partnerpreference[0].ageFrom!=null">
                                    <div class="col-md-3">
                                        <mat-list role="list">
                                            <mat-list-item role="listitem">Age</mat-list-item>
                                        </mat-list>
                                    </div>
                                    <div class="col-md-1">
                                        <mat-list role="list">
                                            <mat-list-item role="listitem">-</mat-list-item>
                                        </mat-list>
                                    </div>
                                    <div class="col-md-4">
                                        <mat-list role="list">
                                            <mat-list-item role="listitem">{{PartnerPreference?.partnerpreference[0]?.ageFrom}} to {{PartnerPreference?.partnerpreference[0]?.ageTo}} years</mat-list-item>
                                        </mat-list>
                                    </div>
                                    <mat-divider></mat-divider>
                                </div>
                                <div class="row" *ngIf="PartnerPreference.partnerpreference[0].heightFrom!=null && PartnerPreference.partnerpreference[0].heightTo!=null">
                                    <div class="col-md-3">
                                        <mat-list role="list">
                                            <mat-list-item role="listitem">Height</mat-list-item>
                                        </mat-list>
                                    </div>
                                    <div class="col-md-1">
                                        <mat-list role="list">
                                            <mat-list-item role="listitem">-</mat-list-item>
                                        </mat-list>
                                    </div>
                                    <div class="col-md-4">
                                        <mat-list role="list">
                                            <mat-list-item role="listitem">{{PartnerPreference?.partnerpreference[0]?.heightFrom}}ft to {{PartnerPreference?.partnerpreference[0]?.heightTo}}ft</mat-list-item>
                                        </mat-list>
                                    </div>
                                    <!-- <div class="col-md-4">
                                        <mat-list role="list">
                                            <mat-list-item role="listitem">5ft to 7ft</mat-list-item>
                                        </mat-list>
                                    </div> -->
                                    <mat-divider></mat-divider>
                                </div>
                                <div class="row" *ngIf="PartnerPreference.partnerpreference[0].motherTongue!=null">
                                    <div class="col-md-3">
                                        <mat-list role="list">
                                            <mat-list-item role="listitem">Mother Tongue</mat-list-item>
                                        </mat-list>
                                    </div>
                                    <div class="col-md-1">
                                        <mat-list role="list">
                                            <mat-list-item role="listitem">-</mat-list-item>
                                        </mat-list>
                                    </div>
                                    <div class="col-md-4">
                                        <mat-list role="list">
                                            <mat-list-item role="listitem">
                                                {{(showMore) ? PartnerPreference?.partnerpreference[0]?.motherTongue : PartnerPreference?.partnerpreference[0]?.motherTongue | slice:0:15}} <span *ngIf="!showMore">...</span>
                                                <a *ngIf="!showMore" (click)="showMore=true" class="mt-showmore">Show More</a>
                                            </mat-list-item>
                                            <mat-list-item *ngIf="showMore">
                                                <a (click)="showMore=false" class="mt-showmore">Show Less</a>
                                            </mat-list-item>
                                        </mat-list>
                                    </div>
                                    <!-- <div class="col-md-4">
                                        <mat-list role="list">
                                            <mat-list-item role="listitem">Tamil</mat-list-item>
                                        </mat-list>
                                    </div> -->
                                    <mat-divider></mat-divider>
                                </div>
                                <div class="row" *ngIf="PartnerPreference.partnerpreference[0].appearance!=null">
                                    <div class="col-md-3">
                                        <mat-list role="list">
                                            <mat-list-item role="listitem">Physical Status</mat-list-item>
                                        </mat-list>
                                    </div>
                                    <div class="col-md-1">
                                        <mat-list role="list">
                                            <mat-list-item role="listitem">-</mat-list-item>
                                        </mat-list>
                                    </div>
                                    <div class="col-md-4">
                                        <mat-list role="list">
                                            <mat-list-item role="listitem">{{PartnerPreference?.partnerpreference[0]?.appearance}}</mat-list-item>
                                        </mat-list>
                                    </div>
                                    <mat-divider></mat-divider>
                                </div>

                                <div class="row" *ngIf="PartnerPreference.partnerpreference[0].religion!=null">
                                    <div class="col-md-3">
                                        <mat-list role="list">
                                            <mat-list-item role="listitem">Religion</mat-list-item>
                                        </mat-list>
                                    </div>
                                    <div class="col-md-1">
                                        <mat-list role="list">
                                            <mat-list-item role="listitem">-</mat-list-item>
                                        </mat-list>
                                    </div>
                                    <div class="col-md-4">
                                        <mat-list role="list">
                                            <mat-list-item role="listitem">{{PartnerPreference?.partnerpreference[0]?.religion}}</mat-list-item>
                                        </mat-list>
                                    </div>
                                    <mat-divider></mat-divider>
                                </div>

                                <div class="row" *ngIf="PartnerPreference.partnerpreference[0].caste!=null">
                                    <div class="col-md-3">
                                        <mat-list role="list">
                                            <mat-list-item role="listitem">Caste</mat-list-item>
                                        </mat-list>
                                    </div>
                                    <div class="col-md-1">
                                        <mat-list role="list">
                                            <mat-list-item role="listitem">-</mat-list-item>
                                        </mat-list>
                                    </div>
                                    <div class="col-md-4">
                                        <mat-list role="list">
                                            <mat-list-item role="listitem">{{PartnerPreference?.partnerpreference[0]?.caste}}</mat-list-item>
                                        </mat-list>
                                    </div>
                                    <mat-divider></mat-divider>
                                </div>

                                <div class="row" *ngIf="PartnerPreference.partnerpreference[0].residenceCity!=null">
                                    <div class="col-md-3">
                                        <mat-list role="list">
                                            <mat-list-item role="listitem">City</mat-list-item>
                                        </mat-list>
                                    </div>
                                    <div class="col-md-1">
                                        <mat-list role="list">
                                            <mat-list-item role="listitem">-</mat-list-item>
                                        </mat-list>
                                    </div>
                                    <div class="col-md-4">
                                        <mat-list role="list">
                                            <mat-list-item role="listitem">{{PartnerPreference?.partnerpreference[0]?.residenceCity}}</mat-list-item>
                                        </mat-list>
                                    </div>
                                    <mat-divider></mat-divider>
                                </div>

                                <div class="row" *ngIf="PartnerPreference.partnerpreference[0].residenceState!=null">
                                    <div class="col-md-3">
                                        <mat-list role="list">
                                            <mat-list-item role="listitem">State</mat-list-item>
                                        </mat-list>
                                    </div>
                                    <div class="col-md-1">
                                        <mat-list role="list">
                                            <mat-list-item role="listitem">-</mat-list-item>
                                        </mat-list>
                                    </div>
                                    <div class="col-md-4">
                                        <mat-list role="list">
                                            <mat-list-item role="listitem">{{PartnerPreference?.partnerpreference[0]?.residenceState}}</mat-list-item>
                                        </mat-list>
                                    </div>
                                    <mat-divider></mat-divider>
                                </div>

                                <div class="row" *ngIf="PartnerPreference.partnerpreference[0].residenceCountry!=null">
                                    <div class="col-md-3">
                                        <mat-list role="list">
                                            <mat-list-item role="listitem">Country</mat-list-item>
                                        </mat-list>
                                    </div>
                                    <div class="col-md-1">
                                        <mat-list role="list">
                                            <mat-list-item role="listitem">-</mat-list-item>
                                        </mat-list>
                                    </div>
                                    <div class="col-md-4">
                                        <mat-list role="list">
                                            <mat-list-item role="listitem">{{PartnerPreference?.partnerpreference[0]?.residenceCountry}}</mat-list-item>
                                        </mat-list>
                                    </div>
                                    <mat-divider></mat-divider>
                                </div>

                                <div class="row" *ngIf="PartnerPreference.partnerpreference[0].education!=null">
                                    <div class="col-md-3">
                                        <mat-list role="list">
                                            <mat-list-item role="listitem">Education</mat-list-item>
                                        </mat-list>
                                    </div>
                                    <div class="col-md-1">
                                        <mat-list role="list">
                                            <mat-list-item role="listitem">-</mat-list-item>
                                        </mat-list>
                                    </div>
                                    <div class="col-md-4">
                                        <mat-list role="list">
                                            <mat-list-item role="listitem">{{PartnerPreference?.partnerpreference[0]?.education}}</mat-list-item>
                                        </mat-list>
                                    </div>
                                    <mat-divider></mat-divider>
                                </div>

                                <div class="row" *ngIf="PartnerPreference.partnerpreference[0].employment!=null">
                                    <div class="col-md-3">
                                        <mat-list role="list">
                                            <mat-list-item role="listitem">Employment</mat-list-item>
                                        </mat-list>
                                    </div>
                                    <div class="col-md-1">
                                        <mat-list role="list">
                                            <mat-list-item role="listitem">-</mat-list-item>
                                        </mat-list>
                                    </div>
                                    <div class="col-md-4">
                                        <mat-list role="list">
                                            <mat-list-item role="listitem">{{PartnerPreference?.partnerpreference[0]?.employment}}</mat-list-item>
                                        </mat-list>
                                    </div>
                                    <mat-divider></mat-divider>
                                </div>

                                <div class="row" *ngIf="PartnerPreference.partnerpreference[0].occupation!=null">
                                    <div class="col-md-3">
                                        <mat-list role="list">
                                            <mat-list-item role="listitem">Occupation</mat-list-item>
                                        </mat-list>
                                    </div>
                                    <div class="col-md-1">
                                        <mat-list role="list">
                                            <mat-list-item role="listitem">-</mat-list-item>
                                        </mat-list>
                                    </div>
                                    <div class="col-md-4">
                                        <mat-list role="list">
                                            <mat-list-item role="listitem">{{PartnerPreference?.partnerpreference[0]?.occupation}}</mat-list-item>
                                        </mat-list>
                                    </div>
                                    <mat-divider></mat-divider>
                                </div>

                                <div class="row" *ngIf="PartnerPreference.partnerpreference[0].incomeFrom!=null">
                                    <div class="col-md-3">
                                        <mat-list role="list">
                                            <mat-list-item role="listitem">Annual Income</mat-list-item>
                                        </mat-list>
                                    </div>
                                    <div class="col-md-1">
                                        <mat-list role="list">
                                            <mat-list-item role="listitem">-</mat-list-item>
                                        </mat-list>
                                    </div>
                                    <div class="col-md-4">
                                        <mat-list role="list">
                                            <mat-list-item role="listitem">{{PartnerPreference?.partnerpreference[0]?.incomeFrom}} to {{PartnerPreference?.partnerpreference[0]?.incomeTo}}</mat-list-item>
                                        </mat-list>
                                    </div>
                                    <mat-divider></mat-divider>
                                </div>

                            </div>
                        </mat-tab>
                    </mat-tab-group>

                </mat-card>
            </div>
        </div>
    </div>
    <!-- <app-chat></app-chat> -->
</section>