.view-profile-sec {
    margin-top: 20px;

    .viepf-backbtn {
        margin-bottom: 10px;
    }

    .viewprf-about {
        margin-top: 10px;

        img {
            width: 100%;
        }

        .about-cnt-sect {
            padding: 18px 32px;

            p {
                font-size: 13px;
            }

            .mat-expansion-panel-header-title {
                font-weight: 500;
            }

            .mat-list-base {
                padding-top: 0px;
                margin-left: -25px;
            }

            .mat-list-base .mat-list-item {
                font-size: 13px;
            }

            .mat-list-base .mat-list-item,
            .mat-list-base .mat-list-option {
                height: 35px;
            }

            span.about-cnt-left {
                margin-left: 10px;

                strong {
                    color: #343a40;
                    font-weight: 500;
                }
            }
        }
    }

    .viewdetails-card {
        padding: 0px;
    }

    .viewprf-cntdetails {
        margin-top: 15px;
        padding: 15px;
        .mat-icon{
            font-size: 20px;
        }
        .agent-contact-details {
            list-style: none;

            li {
                position: relative;
                line-height: 24px;
                padding: 3px 0;
                word-break: break-all
            }
        }

        .agent-contact-details {
            li {
                span {
                    font-size: 16px;
                    margin-left: 20px;
                    position: relative;
                    top: -5px;
                }
            }
        }
        h6 {
          font-size: 14px;

          .mat-icon {
              font-size: 20px;
          }

          span {
              position: relative;
              top: -5px;
              left: 0px;
          }
      }
    }

    .famildetails-sec {
        margin-top: 5px;

        .family-exp {
            padding: 15px;

            .mat-list-base {
                padding-top: 0px;
            }

            h5 {
                font-size: 16px;
            }

            h6 {
                font-size: 14px;

                .mat-icon {
                    font-size: 20px;
                }

                span {
                    position: relative;
                    top: -5px;
                    left: 0px;
                }
            }
        }
    }

    .loc-deatils-sec {
        .family-exp {
            padding: 15px;

            .mat-list-base {
                padding-top: 0px;
            }

            h5 {
                font-size: 16px;
            }

            h6 {
                font-size: 14px;

                .mat-icon {
                    font-size: 20px;
                }

                span {
                    position: relative;
                    top: -5px;
                    left: 0px;
                }
            }
        }
    }
    .partner-preference{
        padding: 15px;
        .row{
            margin-bottom: 5px;
        }
        h6 {
          font-size: 14px;

          .mat-icon {
              font-size: 20px;
          }

          span {
              position: relative;
              top: -5px;
              left: 0px;
          }
      }
    }
}
.profile-img  {
    padding: 0px;
    img {
      height: 320px;
      width: 100%;
    }
    img.view-image-blur {
      filter: blur(8px);
      -webkit-filter: blur(8px);
    }

    img.view-image-blur {
      position: relative;
    }

    .lock-image {
      background: #808080cf;
      height: 320px;
      width: 100%;
      position: absolute;
      top: 0px;
      border-radius: 4px;
      .lock-accept-details{
        position: absolute;
        top: 44%;
        left: 44%;
      }
      .fa-lock {
        font-size: 50px;
      }
      p{
        font-size: 18px;
        cursor: pointer;
        margin-left: -18px;
        color: white;
        text-decoration: underline;
        font-weight: 500;
      }
    }
.request-empty-image-sec{
  position: relative;
  img.accept-request-image {
    opacity: 0.3;
  }
  button{
    position: absolute;
    top: 50%;
    left: 30%;
  }
}

    .mat-card-content{
      margin: 5px;
      .title-name{
        margin-left: 5px;
        h4{
          font-size: 18px;
        }
        .mat-icon{
          font-size: 16px;
          position: relative;
          top: 5px;
        }
      }
      .location-sect{
        margin-left: 5px;
        margin-top: -8px;
        .mat-icon{
          font-size: 13px;
        }
        span{
          margin-left: -7px;
          margin-top: -4px;
          font-size: 14px;
        }
      }
    }
    .mat-list-base .mat-list-item,
    .mat-list-base .mat-list-option {
      font-size: 14px;
      word-break: break-all;
    word-spacing: normal;
    }
    .btn-sec{
      button{
        margin-bottom: 5px;
      }
    }
  }
  .mt-showmore{
    color: blue;
    cursor: pointer;
  }
