<p-toast position="top-center"></p-toast>
<div class="global-container">
    <div class="card login-form">
        <div class="card-body">
            <div class="container">
                <h3 class="card-title text-center">Forgot your Password
                    <!-- <mat-icon>lock</mat-icon> -->
                </h3>
                <p>The verification OTP will be sent in email/mobile Please check it</p>
            </div>
            <div class="card-text mt-5">
                <div class="container">
                    <label for="">Email address/Mobile Number</label>
                    <div class="row">
                        <div class="col-md-9">
                            <input type="text" class="form-control form-control-sm" id="" aria-describedby=""
                            name="txt_user_email_or_mobile" ngModel #txt_user_email_or_mobile="ngModel" [(ngModel)]="email_or_mobile" required>
                         <div *ngIf="txt_user_email_or_mobile.invalid && (txt_user_email_or_mobile.dirty || txt_user_email_or_mobile.touched)">
                            <p *ngIf="txt_user_email_or_mobile.errors.required" class="error">Email Address or Mobile Number is required</p>
                            
                        </div>
                        </div>
                       
                        <div class="col-md-3">
                            <button mat-raised-button color="primary" style="line-height: 31px;width: 100%;" (click)="forgotpassword()" [disabled]="!txt_user_email_or_mobile.valid?'disabled':null">Send OTP</button>
                        </div>
                        
                    </div>
                    <div class="mt-3">
                        <label for="">Verification Code</label>

                        <input type="number" class="form-control form-control-sm" id="" aria-describedby=""
                        name="txt_user_verification_code" ngModel #txt_user_verification_code="ngModel" [(ngModel)]="verification_code" required>
                        <div *ngIf="txt_user_verification_code.invalid && (txt_user_verification_code.dirty || txt_user_verification_code.touched)">
                            <p *ngIf="txt_user_verification_code.errors.required" class="error">Verification Code is required</p>
                            
                        </div>


                    </div>
                    <div class="mt-3">
                        <button mat-raised-button color="primary" style="width: 100%;" (click)="verifypassword()" [disabled]="!txt_user_verification_code.valid?'disabled':null">Verify OTP</button>
                    </div>
                    <div class="mt-3">
                        <a href="" style="text-decoration: none;" [routerLink]="['/signup']" routerLinkActive="router-link-active">
                             Back to Login</a>
                    </div>
                    <!-- <p  style="cursor: pointer;" >Back to Login</p> -->
                </div>


            </div>
        </div>
    </div>
</div>