<app-main-nav>
    <router-outlet></router-outlet>
</app-main-nav>
<app-home *ngIf="router.url == '/home'"></app-home>
<app-signup *ngIf="router.url == '/signup'"></app-signup>
<app-register *ngIf="router.url == '/register'"></app-register>
<app-login *ngIf="router.url == '/admin'"></app-login>

<app-terms-and-conditions *ngIf="router.url == '/terms&conditions'"></app-terms-and-conditions>
<app-privacy-policy *ngIf="router.url == '/privacy'"></app-privacy-policy>
<app-forgot-password *ngIf="router.url == '/forgot-password'"></app-forgot-password>
<app-registration-form *ngIf="router.url == '/register-form'"></app-registration-form>
<!-- <app-reset-password *ngIf="router.url == '/reset-password'"></app-reset-password> -->
<app-new-password *ngIf="router.url == '/new-password'"></app-new-password>