@import "../../styles.less";
.sidenav-container {
  height: 100%;
}
.mat-drawer {
  background: linear-gradient(220deg,#ec5252 -10%,#6e1a52 70%);
}
.mat-toolbar.mat-primary{
  background: #8a2652   !important;
  box-shadow: -3px 6px 5px 0 rgba(0, 0, 0, 0.15), 0 2px 10px 0 rgba(0, 0, 0, 0.25);
}
.sidenav {
  width: 150px;
  .mat-toolbar {
    background: #8a2652  ;
    box-shadow: -3px 6px 5px 0 rgba(0, 0, 0, 0.15), 0 2px 10px 0 rgba(0, 0, 0, 0.25);
    padding: 15px;
  }
 
  .mat-list-base .mat-list-item {
    color: rgba(239, 239, 239, 0.87);
  }
  .mat-list-base .mat-list-item {
    font-size: 13px;
  }
  .mat-list-base .mat-list-item,
  .mat-list-base .mat-list-option {
    height: 65px;
  }
  .logo-sec a {
    // margin-top: 10px;
    margin-left: 10px;
    // margin-bottom: 15px;
    img {
      height: 50px;
      width: auto;
    }
  }
}
.admin-sidenav {
  width: 150px;
  .mat-toolbar {
    background: #8a2652  ;
    box-shadow: -3px 6px 5px 0 rgba(0, 0, 0, 0.15), 0 2px 10px 0 rgba(0, 0, 0, 0.25);
    padding: 15px;
  }
 
  .mat-list-base .mat-list-item {
    color: rgba(239, 239, 239, 0.87);
  }
  .mat-list-base .mat-list-item {
    font-size: 13px;
  }
  .mat-list-base .mat-list-item,
  .mat-list-base .mat-list-option {
    height: 65px;
  }
  .logo-sec a {
    // margin-top: 10px;
    margin-left: 10px;
    // margin-bottom: 15px;
    img {
      height: 70px;
      width: auto;
    }
  }
}
.mat-toolbar.mat-primary {
  span {
    font-size: 16px;
  }
  .tmp-text{
    display: inline-block;
    position: relative;
    background-color: transparent;
    font-size: 11px;
    font-weight: 800;
    padding: .4em .6em 0.35em;
    text-transform: uppercase;
    margin-left: 10px;
    letter-spacing: .07143em;
    border-radius: .21429rem;
    line-height: 1;
    white-space: nowrap;
    color: #FFFFFF;
    border: 1px solid #DAD5D5;
  }
}
// .mat-toolbar-row, .mat-toolbar-single-row {
//   height: 45px;
// }
.mat-list-base {
  padding-top: 20px;
  display: block;
  -webkit-tap-highlight-color: transparent;
}
.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 99;
}
.spacer {
  flex: 1 1 auto;
}
mat-nav-list.left-menus {
  .material-icons {
    padding: 0 10px;
    font-size: 19px;
  }
}
mat-nav-list.list-horizontal {
  padding: 0;
  .mat-list-item {
    display: inline-block;
    height: auto;
    width: auto;
  }
  .material-icons {
    font-size: 22px;
    line-height: 2;
  }
  .myprofile-drpdwn{
    position: relative;
    top: 0px;
  }
}
button.mat-menu-item {
  width: 100%;
  font-size: 13px;
  margin-top: -7px;
  color: #3B3C48;
  span {
    margin-left: 5px;
    position: relative;
    top: -4px;
  }
  .material-icons {
    font-size: 18px;
  }
}
button.mat-menu-item.addstaff {
  width: 100%;
  font-size: 13px;
  margin-top: 5px;
  color: #3B3C48;
}
.router-link-active {
  // background: rgba(200,200,200,.2) !important;
  background: #d1d1d16b !important;
}
.mat-badge-small.mat-badge-overlap.mat-badge-after .mat-badge-content {
  right: -3px;
  top: -5px;
  font-size: 9px;
}
.mat-badge-content {
  color: rgba(255, 255, 255, 0.87);
  background: #FF9800;
}
// notification
::ng-deep.mat-menu-content:not(:empty) {
  padding-bottom: 0px !important;
}
.subject {
  border-bottom: 1px solid #D8D8D8;
  text-align: center;
}
.link {
  margin-left: 26px;
  font-size: 11px;
  text-decoration: underline;
}
.container {
  // border-left: 1px solid #D8D8D8;
  // border-right: 1px solid #D8D8D8;
  border-bottom: 1px solid #D8D8D8;
  background-color: #fff;
}
.container {
  width: 100%;
  padding-right: 25px;
  padding-left: 25px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 5px;
  padding-bottom: 5px;
}
.last {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom: 1px solid #D8D8D8;
  width: 382px;
}
.content {
  font-size: 14px;
  // padding: 20.99px 3.34px 35.66px 74.24px;
}
.time {
  color: #979797;
  font-size: 12px;
  margin-top: 4.36px;
}
.icon {
  margin-top: 19px;
  margin-left: 16px;
  position: absolute;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  border: 2px solid #818181;
}
.txt {
  color: #818181;
  margin: 6px;
}
.triangle {
  margin-left: 300px;
  width: 0px;
  height: 0px;
  border-color: transparent transparent #fff transparent;
  border-style: solid;
  border-width: 0px 25px 25px 25px;
  transform: translateY(1px)
}
// notification
.mat-icon  {
  color: #ffffff;
  cursor: pointer;
}