<!-- <mat-sidenav-container class="sidenav-container" *ngIf="(router.url != '/home' && router.url != '/signup')">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">Link 1</a>
      <a mat-list-item href="#">Link 2</a>
      <a mat-list-item href="#">Link 3</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>mfeo</span>
    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container> -->
<mat-sidenav-container class="sidenav-container" *ngIf="(router.url != '/home' && router.url != '/signup' && router.url != '/register'  && router.url != '/new-password' && router.url != '/terms&conditions' && router.url != '/privacy' && router.url != '/forgot-password' && router.url != '/register-form' && router.url != '/admin')">
    <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
        <mat-toolbar class="logo-sec">
            <a href="#">
                <!-- <h4 style="font-size: 25px; color: white;">LOGO</h4> -->
                <img src="assets/images/logo/logo-bundham.png" alt="logo-img">
            </a>
        </mat-toolbar>
        <mat-nav-list class="left-menus">
            <a mat-list-item href="#" [routerLink]="['/dashboard']" routerLinkActive="router-link-active"><i
          class="material-icons" *ngIf="this._userservice.IsAdminUser()==false"> account_balance </i> Home</a>
            <a mat-list-item [routerLink]="['/matches']" routerLinkActive="router-link-active" *ngIf="this._userservice.IsAdminUser()==false"><i class="material-icons">
          supervised_user_circle </i> <span matBadge="3" matBadgeOverlap="false"  matBadgeSize="small">Matches</span></a>
            <a mat-list-item [routerLink]="['/search']" routerLinkActive="router-link-active" *ngIf="this._userservice.IsAdminUser()==false"><i class="material-icons">
          search
        </i>Search</a>

            <a mat-list-item [routerLink]="['/inbox']" routerLinkActive="router-link-active" *ngIf="this._userservice.IsAdminUser()==false"><i class="material-icons">
          all_inbox
        </i><span matBadge="5" matBadgeOverlap="false"  matBadgeSize="small">Inbox</span></a>


            <a mat-list-item [routerLink]="['/admin/userapproval']" routerLinkActive="router-link-active" *ngIf="this._userservice.IsAdminUser()==true"><i class="material-icons">
              assignment_ind
        </i>User List</a>

            <a mat-list-item [routerLink]="['/admin/manageads']" routerLinkActive="router-link-active" *ngIf="this._userservice.IsAdminUser()==true"><i class="material-icons">
              add_box
        </i>Manage Ad's</a>
            <!-- <a mat-list-item [routerLink]="['/chatroom']" routerLinkActive="router-link-active"><i class="material-icons">
          supervised_user_circle </i>Chat Room</a> -->
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
            <!--  <span>My Dashboard</span>  -->
            <!--  <span class="tmp-text">Training Management Platform</span>  -->
            <span class="spacer"></span>
            <button mat-raised-button style="margin-right: 25px;" [routerLink]="['/price']" routerLinkActive="router-link-active">Upgrade</button>

            <mat-icon matBadge="13" matBadgeSize="small" [matMenuTriggerFor]="notificationMenu" matBadgeColor="warn" matTooltip="Notifications">
                notifications</mat-icon>
            <mat-menu #notificationMenu="matMenu" xPosition="before">

                <div class="subject">
                    Notifications
                </div>
                <div class="container">
                    <div class="content"><b>Kate: Hello, I was wondering if you</b>
                        <div class="time">5 hours ago</div>
                    </div>
                </div>
                <div class="container">
                    <div class="content"><b>Kate: Hello, I was wondering if you</b>
                        <div class="time">5 hours ago</div>
                    </div>
                </div>
                <div class="container">
                    <div class="content"><b>Kate: Hello, I was wondering if you</b>
                        <div class="time">5 hours ago</div>
                    </div>
                </div>
            </mat-menu>
            <mat-nav-list class="list-horizontal">
                <a mat-list-item matTooltip="My Profile" [matMenuTriggerFor]="beforeMenu" class="myprofile-drpdwn">
                    <span style="font-size: 15px;">My Profile</span><i class="material-icons" style="font-size: 17px;">keyboard_arrow_down</i>
                    <mat-menu #beforeMenu="matMenu" xPosition="before">
                        <button mat-menu-item [routerLink]="['/viewprofile']" routerLinkActive="router-link-active">
              <i class="material-icons"> person_pin </i><span>My Account</span>
            </button>
                        <mat-divider></mat-divider>
                        <button mat-menu-item matTooltip="Logout" [routerLink]="['/reset-password']" routerLinkActive="router-link-active">
              <i class="material-icons"> vpn_key </i><span>Change Password</span>
            </button>
                        <mat-divider></mat-divider>
                        <button mat-menu-item matTooltip="Logout" (click)="logOutUser()" routerLinkActive="router-link-active">
              <i class="material-icons"> exit_to_app </i><span>Logout</span>
            </button>
                    </mat-menu>
                </a>
            </mat-nav-list>
        </mat-toolbar>
        <ng-content>
            <!-- Add Content Here -->
        </ng-content>
    </mat-sidenav-content>
</mat-sidenav-container>