<section class="pr-cfeature mb-100">
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <div class="section-title text-left ">
                    <h2 class="text-success text-center">
                        Why Choose Us!
                    </h2>
                    <div class="heart-divider text-center">
                        <span class="grey-line"></span>
                        <i class="fa fa-heart pink-heart"></i>
                        <i class="fa fa-heart grey-heart"></i>
                        <span class="grey-line"></span>
                    </div>
                    <!-- <h2>
                        Why Choose Us<br> Popular Concepts
                    </h2> -->
                </div>
            </div>
            <div class="col-md-4 pr-feature-card mb-5" *ngFor="let feature of FeatureProgramsData">
                <mat-card class="feature-course-card">
                    <div class="feature-card-img">
                        <img src="{{feature.feIcon}}" alt="Image" mat-card-avatar>
                    </div>
                    <mat-card-title>{{feature.feName}}</mat-card-title>
                    <mat-card-content>
                        <p>
                            {{feature.fecontent}}
                        </p>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</section>