<!-- Navbar  -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="header">
    <div class="container">
        <a class="navbar-brand" href="#"><img src="assets/images/logo/logo-bundham.png">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#" mat-stroked-button color="warn" [routerLink]="['/signup']" routerLinkActive="router-link-active">Login
 <span class="sr-only">(current)</span>
          </a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" href="#" mat-stroked-button color="warn" [routerLink]="['/register']" routerLinkActive="router-link-active">Sign-up</a>
                </li> -->
            </ul>
        </div>
    </div>
</nav>
<!-- End Navbar  -->