<section class="chat-app-section">
    <div class="chat-button">
        <div class="chat-btn-bg text-center" (click)="showchatbox()">
            <a color="primary">Chat<mat-icon>message</mat-icon></a>
        </div>
        <div id="chat-container" *ngIf="displaychat_box">
            <div class="chat-section-start">
                <div class="fixed-chat-sec">
                    <main>
                        <div *ngIf="displaychatsection">
                            <header *ngIf="is_chat_person_selected">
                                <div class="row">
                                    <div class="col-md-6">
                                        <img *ngIf="selected_personimage!=null" [src]="selected_personimage" style="width: 27px;height: 27px;">
                                        <img *ngIf="selected_personimage==null" style="width: 27px;height: 27px;" src='https://www.clipartmax.com/png/middle/296-2969961_no-image-user-profile-icon.png'>
                                        <span style="margin-left: 10px;">{{selected_personName|titlecase}}</span>
                                        <!-- <span>already {{latest_msg_count}} messages</span> -->
                                    </div>
                                    <div class="col-md-6">
                                        <!-- <mat-icon class="pull-right" (click)="removeleftchatwindow()">refresh</mat-icon> -->
                                        <mat-icon class="pull-right" (click)="removeleftchatwindow()">cancel</mat-icon>
                                        <mat-icon class="pull-right" (click)="refreshchatwindow()">refresh</mat-icon>
                                    </div>
                                </div>
                            </header>
                            <ul id="chat" *ngIf="is_chat_person_selected">
                                <img *ngIf="displayChatLoader" src="../assets/images/Loaders/Chat-Loader.gif" class="chat-loader">
                                <li class="you" *ngFor="let mychat of msg_conversation_list?.chatDetails">

                                    <div class="entete" *ngIf="mychat.senderId==Loggedin_id">
                                        <h2>Me</h2>
                                        <span class="status green"></span>
                                    </div>
                                    <!-- <div class="triangle" *ngIf="mychat.senderId==Loggedin_id"></div> -->
                                    <div *ngIf="mychat.senderId==Loggedin_id" class="message">
                                        <p>{{mychat.message}}</p>
                                    </div>


                                    <div class="me">
                                        <div class="entete" *ngIf="mychat.senderId==selected_reciverId">
                                            <h2>{{selected_personName|titlecase}} </h2>
                                            <span class="status blue"></span>
                                        </div>
                                        <!-- <div class="triangle" *ngIf="mychat.senderId==selected_reciverId"></div> -->
                                        <div *ngIf="mychat.senderId==selected_reciverId" class="message">
                                            <p>{{mychat.message}}</p>
                                        </div>
                                    </div>

                                </li>

                            </ul>
                            <footer *ngIf="is_chat_person_selected">
                                <!-- <p>{{new_message_status}}</p> -->
                                <div class="form-group">
                                    <input type="text" placeholder="Type your message" class="form-control" name="typemessage" [(ngModel)]="typemessage" (keydown.enter)="addNewMessage(typemessage)">
                                    <!-- <textarea placeholder="Type your message" class="form-control" #typemessage (keydown.enter)="addNewMessage(typemessage.value)"></textarea> -->
                                    <button mat-raised-button (click)="addNewMessage(typemessage)">Send</button>
                                </div>
                            </footer>
                        </div>
                    </main>
                    <aside>
                        <div class="chatonlinelist">
                            <!-- <div class="chat-btn-bg" (click)="showchatbox()">
                                <a color="primary">Chat</a>
                            </div> -->
                            <!-- <header>
                    <input type="text" placeholder="search" name="txt_searchText" [(ngModel)]="searchText">
                </header> -->
                            <ul class="userchat-list">
                                <li *ngFor="let user of all_chat_user_details" (click)="getChatRoom(user?.fullName,user?.profile_picture,user?.userId)">
                                    <span *ngIf="user.onlineStatus!='online'">
                            <img src='https://www.clipartmax.com/png/middle/296-2969961_no-image-user-profile-icon.png' alt="">
                            <span>{{user.fullName|titlecase}}</span><span class="status orange pull-right"></span>
                                    </span>

                                    <span *ngIf="user.onlineStatus=='online'">
                            <img [src]="user.profile_picture[0]" alt="">
                            <span>{{user.fullName|titlecase}} </span><span class="status green pull-right"></span>
                                    </span>
                                </li>
                            </ul>
                        </div>
                        <!-- <div class="row chat-user-tab">
                        <div class="col-md-6">
                            <a (click)="NewChatUsers()">User List</a>
                        </div>
                        <div class="col-md-6">
                            <a (click)="OldChatUsers()">Chat List</a>
                        </div>
                    </div> -->
                        <div class="chat-user-tab">
                            <ul>
                                <li><a (click)="NewChatUsers()">User List</a></li>
                                <li><a (click)="OldChatUsers()">Chat List</a></li>
                            </ul>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </div>

</section>