.chat-app-section {
  position: relative;
  cursor: pointer;
}
.chat-button {
  position: fixed;
  bottom: 5px;
  right: 30px;
  z-index: 2;
}
.chat-btn-bg {
  background: #8A2652;
  // width: 245px;
  padding: 5px;
  border-radius: 4px;
  color: #ffffff;
  font-size: 15px;
  font-weight: 600;
  .mat-icon{
    color: white;
    position: relative;
    top: 6px;
    left: 3px;
    font-size: 20px;
  }
}

.chat-user-tab {
  position: relative;
  bottom: -12px;
  width: 100%;
  text-align: center;

  ul {
    list-style-type: none;
    background: #b1b1b1;
    // position: absolute;
    // bottom: -10px;
    // width: 100%;

    li {
      color: #212529;
      margin: 1px 10px;
      display: inline-block;
      cursor: pointer;

      &:hover {
        background: transparent;
      }
    }
  }
}

#chat-container {
  // width: 750px;
  // // height:800px;
  // // background:#eff3f7;
  // margin: 10px;
  // font-size: 0;
  // border-radius: 5px;
  // overflow: hidden;
  // float: right;
  // position: relative;
}

.fixed-chat-sec {
  // position: fixed;
  // top: 50%;
  // left: 50%;
  // z-index: 1;
  // margin-top: -16px;
  // margin-left: 99px;
}

.chat-section-start {
  // margin-top: 20px;
  // position: absolute;
  // z-index: 1;
  // top: 45%;
  // left: 52%;
}

aside {
  // width: 260px;
  // max-height: 600px;
  // height: 300px;
  // overflow-y: scroll;
  // overflow-x: hidden;
  // background-color: #3b3e49;
  background: #f1f1ef;
  display: inline-block;
  font-size: 15px;
  vertical-align: top;
  position: relative;
}


main {
  // width: 245px;
  display: inline-block;
  font-size: 15px;
  vertical-align: top;
  background: #c7c7c7;
  margin-right: 5px;
}

aside header {
  padding: 5px;
  border-bottom: 1px solid #ffffff;
}

aside input {
  width: 100%;
  height: 50px;
  line-height: 50px;
  padding: 0 50px 0 20px;
  background-color: #5e616a;
  border: none;
  border-radius: 3px;
  color: #fff;
  // background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1940306/ico_search.png);
  background-repeat: no-repeat;
  background-position: 170px;
  background-size: 40px;
}

aside input::placeholder {
  color: #fff;
}

aside ul.userchat-list {
  padding-left: 0;
  list-style-type: none;
  height: 270px;
  overflow-y: scroll;
}

aside ul.userchat-list li {
  padding: 5px 0;
  color: #393939;
  margin-top: 10px;
}

aside ul.userchat-list li:hover {
  background-color: #5e616a;
  color: #fff;
}

h2,
h3 {
  margin: 0;
}

aside ul.userchat-list li img {
  border-radius: 50%;
  margin-left: 20px;
  margin-right: 8px;
  height: 27px;
  width: 27px;
}

aside ul.userchat-list li div {
  display: inline-block;
  vertical-align: top;
  margin-top: 12px;
}

aside ul.userchat-list li h2 {
  font-size: 14px;
  color: #fff;
  font-weight: normal;
  margin-bottom: 5px;
}

aside ul.userchat-list li h3 {
  font-size: 12px;
  color: #7e818a;
  font-weight: normal;
}

.status {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 7px;
}

.green {
  background-color: #58b666;
  margin-left: 7px;
}

.orange {
  background-color: #ff725d;
}

.blue {
  background-color: #6fbced;
  margin-right: 0;
  margin-left: 7px;
}

main header {
  padding: 5px;
}

// main header>* {
//   display: inline-block;
//   vertical-align: top;
// }

main header img:first-child {
  border-radius: 50%;
}

main header img:last-child {
  width: 24px;
  margin-top: 8px;
}

// main header div {
//   margin-left: 10px;
//   margin-right: 145px;
// }

main header h2 {
  font-size: 13px;
  margin-bottom: 5px;
}

main header h3 {
  font-size: 13px;
  font-weight: normal;
  color: #7e818a;
}

header {
  .mat-icon {
    font-size: 18px;
  }
}

#chat {
  padding-left: 0;
  margin: 0;
  list-style-type: none;
  overflow-y: scroll;
  height: 235px;
  max-height: 600px;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  position: relative;
}
#chat .chat-loader{
  position: absolute;
  width: 100%;
  height: 100%;
}
#chat li {
  padding: 10px 30px;
}

#chat h2,
#chat h3 {
  display: inline-block;
  font-size: 13px;
  font-weight: normal;
}

#chat h3 {
  color: #bbb;
}

#chat .entete {
  margin-bottom: 5px;
}

#chat .message {
  padding: 4px;
  color: #fff;
  line-height: 25px;
  max-width: 80%;
  display: inline-block;
  text-align: left;
  border-radius: 5px;
}

#chat .me {
  text-align: right;
}

#chat .you .message {
  background-color: #58b666;
}

#chat .me .message {
  background-color: #6fbced;
}

#chat .triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10px 10px 10px;
}

#chat .you .triangle {
  border-color: transparent transparent #58b666 transparent;
  margin-left: 15px;
}

#chat .me .triangle {
  border-color: transparent transparent #6fbced transparent;
  margin-left: 375px;
}



main {
  footer {
    padding: 5px;
    margin-bottom: 25px;

    textarea {
      resize: none;
      display: block;
      width: 100%;
      height: 50px;
      border-radius: 3px;
      padding: 20px;
      font-size: 13px;
      margin-bottom: 13px;
    }

    textarea::placeholder {
      color: #ddd;
    }

    .form-control {
      width: 78%;
      float: left;
    }

    button {
      text-transform: uppercase;
      position: relative;
      float: right;
      top: 3px;
      right: 4px;
      min-width: 50px;
      line-height: 30px;
      padding: 0 8px;
      margin-bottom: 5px;
    }
  }
}