<!-- Navbar  -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="header">
    <div class="container">
        <a class="navbar-brand" href="#"><img src="assets/images/logo/logo-bundham.png">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#" mat-stroked-button color="warn" [routerLink]="['/signup']" routerLinkActive="router-link-active">Login
            <span class="sr-only">(current)</span>
          </a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" href="#" mat-stroked-button color="warn" [routerLink]="['/register']" routerLinkActive="router-link-active">Sign-up</a>
                </li> -->
            </ul>
        </div>
    </div>
</nav>
<!-- End Navbar  -->
<div style="margin-top: 160px;">
    <div class="container">
        <div class="tc-style mt-3">

            <h5>
                PRIVACY POLICY
            </h5>
            <p>
                Bundham would like to make clear about the privacy policy to its members. Our website publishes the generic information about the bride and groom which is provided by the members and their family at the time of registration and editing their profile information.
                Bundham uses information provided by the members to advertise for the members who look for the bride or groom. Interested registered members looking for a bride or groom can access this information to connect with the other interested
                members or bride or groom.
            </p>
            <p>
                The collected information including matrimonial details and credit card details provided by the members will not be shared with any individual or the organization. The information provided by the member is treated with complete security. In case a mandatory
                legal situation emerges, we are restricted to providing members with information to interface with the legal course of actions.
            </p>
            <p>
                Bundham aims at smooth and successful online services to its members. We strive to provide protected credit card services to safeguard your credit card information and transactions. </p>
            <p>
                Member’s privacy will be protected from the public domain through our website. This information includes but may not be limited to name, email address, location of residence, telephone numbers, cell phone numbers, fax number, mailing address, zip code,
                billing information, credit card number, and expiry date.
            </p>
            <p>
                Members are provided with the password which can be used anytime to login, to modify profile information, to unsubscribe if needed.
            </p>
            <p>
                Members are provided with a password that can be used anytime to log in, to modify profile information, to unsubscribe if needed. In the future, privacy policy statements would be modified as needed to enhance our service for the members. You can contact
                us if you want to share your comments or give us your input.
                <a href="support@bundham.com">support@bundham.com</a>
            </p>
        </div>
    </div>

</div>

<!-- footer section -->
<div class="footer-border">
    <app-footer></app-footer>
</div>