.profile-img  {
    padding: 0px;
    img {
      // height: 320px;
      width: 100%;
    }
    img.view-image-blur {
      filter: blur(8px);
      -webkit-filter: blur(8px);
    }

    img.view-image-blur {
      position: relative;
    }

    .lock-image {
      background: #808080cf;
      height: 320px;
      width: 100%;
      position: absolute;
      top: 0px;
      border-radius: 4px;
      .lock-accept-details{
        position: absolute;
        top: 44%;
        left: 44%;
      }
      .fa-lock {
        font-size: 50px;
      }
      p{
        font-size: 18px;
        cursor: pointer;
        margin-left: -18px;
        color: white;
        text-decoration: underline;
        font-weight: 500;
      }
    }
.request-empty-image-sec{
  position: relative;
  img.accept-request-image {
    opacity: 0.3;
  }
  button{
    position: absolute;
    top: 50%;
    left: 30%;
  }
}

    .mat-card-content{
      margin: 5px;
      .title-name{
        margin-left: 5px;
        h4{
          font-size: 18px;
        }
        .mat-icon{
          font-size: 16px;
          position: relative;
          top: 5px;
        }
      }
      .location-sect{
        margin-left: 5px;
        margin-top: -8px;
        .mat-icon{
          font-size: 13px;
        }
        span{
          margin-left: -7px;
          margin-top: -4px;
          font-size: 14px;
        }
      }
    }
    .mat-list-base .mat-list-item,
    .mat-list-base .mat-list-option {
      font-size: 14px;
      word-break: break-all;
    word-spacing: normal;
    }
    .btn-sec{
      button{
        margin-bottom: 5px;
      }
    }
  }
  ::ng-deep .mat-dialog-container{
    padding: 0px !important;
  }