<div class="profile-img">
    <ngb-carousel>
        <div *ngIf="viewprofile_image_rights== 'visible'">
            <ng-template ngbSlide *ngFor="let imagelist of viewprofile_image_path">
                <img [src]="imagelist" alt="Random slide" (click)="viewFullImage(imagelist.profile_picture,imagelist.pictureRights)">
            </ng-template>
        </div>
        <div *ngIf="viewprofile_image_rights== 'OnAccept'">
            <ng-template ngbSlide *ngFor="let imagelist of viewprofile_image_path">
                <img [src]="imagelist" alt="Random slide" class="view-image-blur">
                <div class="lock-image">
                    <div class="lock-accept-details">
                        <i class="fa fa-lock" aria-hidden="true"></i>
                        <p>OnAccept</p>
                    </div>
                </div>
            </ng-template>
        </div>
    </ngb-carousel>
</div>