<p-toast position="top-center"></p-toast>
<form #changepasswordform="ngForm">
    <div class="global-container">
        <div class="card login-form">
            <div class="card-body">
                <div class="container">
                    <h3 class="card-title text-center">Reset your Password </h3>
                </div>
                <div class="card-text mt-3">
                    <div class="container">
                        <div class="form-group">
                            <label for="old-password">Old Password</label>
                            <input type="password" class="form-control form-control-sm" id="" aria-describedby="" [(ngModel)]="txt_old_password" aria-describedby="" name="txt_user_old_password" ngModel #txt_user_old_password="ngModel" required>
                            <div *ngIf="txt_user_old_password.invalid && (txt_user_old_password.dirty || txt_user_old_password.touched)">
                                <p *ngIf="txt_user_old_password.errors.required" class="error">Old Password is required</p>

                            </div>
                        </div>
                        <div class="form-group">
                            <label for="new-password">New Password</label>
                            <input type="password" class="form-control form-control-sm" id="" [(ngModel)]="txt_user_actual_password" aria-describedby="" name="txt_user_password" ngModel #txt_user_password="ngModel" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).{6,12}$" minlength="6"
                                required>
                            <div *ngIf="txt_user_password.invalid && (txt_user_password.dirty || txt_user_password.touched)">
                                <p *ngIf="txt_user_password.errors.required" class="error">New Password is required</p>
                                <p *ngIf="txt_user_password.errors.minlength" class="error">New Password must be at least 6 characters</p>
                                <p *ngIf="txt_user_password.errors.pattern" class="error">
                                    New Password should contain atleast one uppercase,one lowercase,one digit!
                                </p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="conform-password">Confirm Password</label>
                            <input type="password" class="form-control form-control-sm" id="" [(ngModel)]="txt_user_conf_password" aria-describedby="" name="txt_user_confirm_password" ngModel #txt_user_confirm_password="ngModel" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).{6,12}$"
                                minlength="6" required>
                            <div *ngIf="txt_user_confirm_password.invalid && (txt_user_confirm_password.dirty || txt_user_confirm_password.touched)">
                                <p *ngIf="txt_user_confirm_password.errors.required" class="error">Confirm Password is required</p>
                                <p *ngIf="txt_user_confirm_password.errors.minlength" class="error">Confirm Password must be at least 6 characters</p>
                                <p *ngIf="txt_user_confirm_password.errors.pattern" class="error">
                                    Confirm Password should contain atleast one uppercase,one lowercase,one digit!
                                </p>

                            </div>
                            <p *ngIf="txt_user_actual_password!=txt_user_conf_password &&(txt_user_confirm_password.dirty || txt_user_confirm_password.touched)" class="error">
                                New Password and Confirm Password is not matched.
                            </p>

                        </div>
                        <div class="mt-3 mb-5">
                            <button mat-raised-button color="primary" style="width: 100%;" [disabled]="!changepasswordform.valid ?'disabled':null" (click)="changePassword(changepasswordform.value)">Reset my password</button>
                        </div>

                        <!-- <div class="mt-3">
                        <a href="" style="text-decoration: none;" [routerLink]="['/signup']" routerLinkActive="router-link-active">Back to Login</a>
                    </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<!-- <app-chat></app-chat> -->