.join-wrapper {
    width: 100%;
    padding: 16px 16px;
    /* height: 9vh; */
    background: linear-gradient(220deg, #e31010 -10%, #e6a900 70%);
    // /* margin-bottom: 50px;
    h5{
        margin-top: 8px;
        color: #ffffff;
        text-align: center;
    }
}