<section class="view-profile-sec">
    <div class="container-fluid">
        <!-- <div class="row">
            <div class="offset-md-11 col-md-1 viepf-backbtn">
                <button class="align-right" mat-raised-button color="primary" [routerLink]="['/matches']"
                    routerLinkActive="router-link-active"><span>Back</span></button>
            </div>
        </div> -->
        <div class="row">
            <div class="col-md-3">
                <mat-card>
                    <div class="profile-img">
                        <img src="http://bestjquery.com/tutorial/product-grid/demo9/images/img-1.jpg" class="img-fluid" alt="Image">
                        <button mat-raised-button color="primary" [routerLink]="['/editprofile']" routerLinkActive="router-link-active" style="width: 100%;" class="mt-2">Edit Profile</button>
                    </div>
                    <div class="viewprf-about">
                        <mat-accordion class="about-cnt-sect">
                            <mat-expansion-panel expanded=[true]>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        About Me
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <p>My job is mostly lorem ipsuming and dolor sit ameting as long as consectetur adipiscing elit.
                                </p>
                            </mat-expansion-panel>
                        </mat-accordion>
                        <div>
                            <img src="../assets/images/add-img.jpg" alt="Image">
                        </div>
                    </div>
                </mat-card>
            </div>
            <div class="col-md-9">
                <mat-card class="viewdetails-card">
                    <mat-tab-group animationDuration="0ms">
                        <mat-tab label="Basic Information">
                            <div class="famildetails-sec">
                                <div class="family-exp">
                                    <h6>
                                        <mat-icon>supervisor_account</mat-icon><span>Basic Info</span>
                                    </h6>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <mat-list role="list">
                                                <mat-list-item role="listitem">Profile Created By</mat-list-item>
                                                <mat-list-item role="listitem">Gender</mat-list-item>
                                                <mat-list-item role="listitem">Date of birth</mat-list-item>
                                                <mat-list-item role="listitem">Marital Status</mat-list-item>
                                                <mat-list-item role="listitem">Age</mat-list-item>
                                                <mat-list-item role="listitem">Height</mat-list-item>
                                                <mat-list-item role="listitem">Weight</mat-list-item>
                                                <mat-list-item role="listitem">Blood Group</mat-list-item>
                                                <mat-list-item role="listitem">Gothram</mat-list-item>
                                                <mat-list-item role="listitem">Rasi</mat-list-item>
                                                <mat-list-item role="listitem">Nakshatra</mat-list-item>
                                                <mat-list-item role="listitem">Dosham</mat-list-item>
                                                <mat-list-item role="listitem">Religion</mat-list-item>
                                                <mat-list-item role="listitem">Mother Tongue</mat-list-item>
                                                <mat-list-item role="listitem">Caste</mat-list-item>
                                                <mat-list-item role="listitem">Sub Caste</mat-list-item>
                                                <mat-list-item role="listitem">Skin Color</mat-list-item>
                                                <mat-list-item role="listitem">Physically Challenged</mat-list-item>
                                                <mat-list-item role="listitem">Languages Known</mat-list-item>
                                                <mat-list-item role="listitem">Food Habits</mat-list-item>
                                            </mat-list>
                                        </div>
                                        <div class="col-md-2">
                                            <mat-list role="list">
                                                <mat-list-item role="listitem">:</mat-list-item>
                                                <mat-list-item role="listitem">:</mat-list-item>
                                                <mat-list-item role="listitem">:</mat-list-item>
                                                <mat-list-item role="listitem">:</mat-list-item>
                                                <mat-list-item role="listitem">:</mat-list-item>
                                                <mat-list-item role="listitem">:</mat-list-item>
                                                <mat-list-item role="listitem">:</mat-list-item>
                                                <mat-list-item role="listitem">:</mat-list-item>
                                                <mat-list-item role="listitem">:</mat-list-item>
                                                <mat-list-item role="listitem">:</mat-list-item>
                                                <mat-list-item role="listitem">:</mat-list-item>
                                                <mat-list-item role="listitem">:</mat-list-item>
                                                <mat-list-item role="listitem">:</mat-list-item>
                                                <mat-list-item role="listitem">:</mat-list-item>
                                                <mat-list-item role="listitem">:</mat-list-item>
                                                <mat-list-item role="listitem">:</mat-list-item>
                                                <mat-list-item role="listitem">:</mat-list-item>
                                                <mat-list-item role="listitem">:</mat-list-item>
                                                <mat-list-item role="listitem">:</mat-list-item>
                                                <mat-list-item role="listitem">:</mat-list-item>
                                            </mat-list>
                                        </div>
                                        <div class="col-md-6">
                                            <mat-list role="list">
                                                <mat-list-item role="listitem">BA</mat-list-item>
                                                <mat-list-item role="listitem">Anna University</mat-list-item>
                                                <mat-list-item role="listitem">It sector</mat-list-item>
                                                <mat-list-item role="listitem">Manager</mat-list-item>
                                                <mat-list-item role="listitem">INR 1l to 4l</mat-list-item>
                                            </mat-list>
                                        </div>
                                    </div>
                                    <mat-divider></mat-divider>
                                </div>
                                <div class="family-exp">
                                    <h6>
                                        <mat-icon>integration_instructions</mat-icon><span>Leisures / Skills</span>
                                    </h6>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <mat-list role="list">
                                                <mat-list-item role="listitem">Activities</mat-list-item>
                                                <mat-list-item role="listitem">Skills</mat-list-item>
                                            </mat-list>
                                        </div>
                                        <div class="col-md-2">
                                            <mat-list role="list">
                                                <mat-list-item role="listitem">:</mat-list-item>
                                                <mat-list-item role="listitem">:</mat-list-item>
                                            </mat-list>
                                        </div>
                                        <div class="col-md-6">
                                            <mat-list role="list">
                                                <mat-list-item role="listitem">BA</mat-list-item>
                                                <mat-list-item role="listitem">Anna University</mat-list-item>
                                            </mat-list>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </mat-tab>
                        <mat-tab label="Family Background">
                            <div class="famildetails-sec">
                                <div class="family-exp">
                                    <h6>
                                        <mat-icon>group_work</mat-icon><span>Family Details</span>
                                    </h6>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <mat-list role="list">
                                                <mat-list-item role="listitem">Father</mat-list-item>
                                                <mat-list-item role="listitem">Mother</mat-list-item>
                                                <mat-list-item role="listitem">Date of birth</mat-list-item>
                                                <mat-list-item role="listitem">Family Type</mat-list-item>
                                                <mat-list-item role="listitem">Brother(s) & Marital Status</mat-list-item>
                                                <mat-list-item role="listitem">Sister(s) & Marital Status</mat-list-item>
                                                <mat-list-item role="listitem">House hold</mat-list-item>
                                                <mat-list-item role="listitem">Native</mat-list-item>
                                                <mat-list-item role="listitem">Bride/groom citizenship</mat-list-item>
                                                <mat-list-item role="listitem">Visa status</mat-list-item>
                                                <mat-list-item role="listitem">Relocation</mat-list-item>
                                            </mat-list>
                                        </div>
                                        <div class="col-md-2">
                                            <mat-list role="list">
                                                <mat-list-item role="listitem">:</mat-list-item>
                                                <mat-list-item role="listitem">:</mat-list-item>
                                                <mat-list-item role="listitem">:</mat-list-item>
                                                <mat-list-item role="listitem">:</mat-list-item>
                                                <mat-list-item role="listitem">:</mat-list-item>
                                                <mat-list-item role="listitem">:</mat-list-item>
                                                <mat-list-item role="listitem">:</mat-list-item>
                                                <mat-list-item role="listitem">:</mat-list-item>
                                                <mat-list-item role="listitem">:</mat-list-item>
                                                <mat-list-item role="listitem">:</mat-list-item>
                                                <mat-list-item role="listitem">:</mat-list-item>
                                            </mat-list>
                                        </div>
                                        <div class="col-md-6">
                                            <mat-list role="list">
                                                <mat-list-item role="listitem">BA</mat-list-item>
                                                <mat-list-item role="listitem">Anna University</mat-list-item>
                                                <mat-list-item role="listitem">It sector</mat-list-item>
                                                <mat-list-item role="listitem">Manager</mat-list-item>
                                                <mat-list-item role="listitem">INR 1l to 4l</mat-list-item>
                                            </mat-list>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </mat-tab>
                        <mat-tab label="Profession">
                            <div class="famildetails-sec">
                                <div class="family-exp">
                                    <h6>
                                        <mat-icon>cast_for_education</mat-icon><span>Education & Career</span>
                                    </h6>
                                    <div class="row">
                                        <div class="col-md-2">
                                            <mat-list role="list">
                                                <mat-list-item role="listitem">Education</mat-list-item>
                                                <mat-list-item role="listitem">University</mat-list-item>
                                                <mat-list-item role="listitem">Employment</mat-list-item>
                                                <mat-list-item role="listitem">Occupation</mat-list-item>
                                                <mat-list-item role="listitem">Annual Income</mat-list-item>
                                            </mat-list>
                                        </div>
                                        <div class="col-md-2">
                                            <mat-list role="list">
                                                <mat-list-item role="listitem">:</mat-list-item>
                                                <mat-list-item role="listitem">:</mat-list-item>
                                                <mat-list-item role="listitem">:</mat-list-item>
                                                <mat-list-item role="listitem">:</mat-list-item>
                                                <mat-list-item role="listitem">:</mat-list-item>
                                            </mat-list>
                                        </div>
                                        <div class="col-md-8">
                                            <mat-list role="list">
                                                <mat-list-item role="listitem">BA</mat-list-item>
                                                <mat-list-item role="listitem">Anna University</mat-list-item>
                                                <mat-list-item role="listitem">It sector</mat-list-item>
                                                <mat-list-item role="listitem">Manager</mat-list-item>
                                                <mat-list-item role="listitem">INR 1l to 4l</mat-list-item>
                                            </mat-list>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </mat-tab>
                        <mat-tab label="Location Details">
                            <div class="loc-deatils-sec">
                                <div class="family-exp">
                                    <h6>
                                        <mat-icon>location_on</mat-icon><span>Residence</span>
                                    </h6>
                                    <div class="row">
                                        <div class="col-md-2">
                                            <mat-list role="list">
                                                <mat-list-item role="listitem">Country</mat-list-item>
                                                <mat-list-item role="listitem">State</mat-list-item>
                                                <mat-list-item role="listitem">City</mat-list-item>
                                            </mat-list>
                                        </div>
                                        <div class="col-md-2">
                                            <mat-list role="list">
                                                <mat-list-item role="listitem">:</mat-list-item>
                                                <mat-list-item role="listitem">:</mat-list-item>
                                                <mat-list-item role="listitem">:</mat-list-item>
                                            </mat-list>
                                        </div>
                                        <div class="col-md-8">
                                            <mat-list role="list">
                                                <mat-list-item role="listitem">India</mat-list-item>
                                                <mat-list-item role="listitem">Tamilnadu</mat-list-item>
                                                <mat-list-item role="listitem">Chennai</mat-list-item>
                                            </mat-list>
                                        </div>
                                    </div>
                                </div>
                                <mat-divider></mat-divider>
                                <div class="family-exp">
                                    <h6>
                                        <mat-icon>location_on</mat-icon><span>Bride/Groom Residence</span>
                                    </h6>
                                    <div class="row">
                                        <div class="col-md-2">
                                            <mat-list role="list">
                                                <mat-list-item role="listitem">Country</mat-list-item>
                                                <mat-list-item role="listitem">State</mat-list-item>
                                                <mat-list-item role="listitem">City</mat-list-item>
                                            </mat-list>
                                        </div>
                                        <div class="col-md-2">
                                            <mat-list role="list">
                                                <mat-list-item role="listitem">:</mat-list-item>
                                                <mat-list-item role="listitem">:</mat-list-item>
                                                <mat-list-item role="listitem">:</mat-list-item>
                                            </mat-list>
                                        </div>
                                        <div class="col-md-8">
                                            <mat-list role="list">
                                                <mat-list-item role="listitem">India</mat-list-item>
                                                <mat-list-item role="listitem">Tamilnadu</mat-list-item>
                                                <mat-list-item role="listitem">Chennai</mat-list-item>
                                            </mat-list>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </mat-tab>
                        <mat-tab label="Contact Details">
                            <div class="viewprf-cntdetails">
                                <h6>
                                    <mat-icon>contact_mail</mat-icon><span>Contact</span>
                                </h6>
                                <div class="row">
                                    <div class="col-md-2">
                                        <mat-list role="list">
                                            <mat-list-item role="listitem">
                                                <mat-icon>call</mat-icon>&nbsp;Parents
                                            </mat-list-item>
                                            <mat-list-item role="listitem">
                                                <mat-icon>mail_outline</mat-icon>&nbsp;Parents
                                            </mat-list-item>
                                            <mat-list-item role="listitem">
                                                <mat-icon>call</mat-icon>&nbsp;Bride/Groom
                                            </mat-list-item>
                                            <mat-list-item role="listitem">
                                                <mat-icon>mail_outline</mat-icon>&nbsp;Bride/Groom
                                            </mat-list-item>
                                            <mat-list-item role="listitem">
                                                <mat-icon>remove_red_eye</mat-icon>&nbsp;Visible
                                            </mat-list-item>
                                        </mat-list>
                                    </div>
                                    <div class="col-md-2">
                                        <mat-list role="list">
                                            <mat-list-item role="listitem">:</mat-list-item>
                                            <mat-list-item role="listitem">:</mat-list-item>
                                            <mat-list-item role="listitem">:</mat-list-item>
                                            <mat-list-item role="listitem">:</mat-list-item>
                                            <mat-list-item role="listitem">:</mat-list-item>
                                        </mat-list>
                                    </div>
                                    <div class="col-md-8">
                                        <mat-list role="list">
                                            <mat-list-item role="listitem">(123) 123-456</mat-list-item>
                                            <mat-list-item role="listitem">info@example.com</mat-list-item>
                                            <mat-list-item role="listitem">(123) 123-456</mat-list-item>
                                            <mat-list-item role="listitem">info@example.com</mat-list-item>
                                            <mat-list-item role="listitem">Yes</mat-list-item>
                                        </mat-list>
                                    </div>
                                </div>
                            </div>
                        </mat-tab>
                        <mat-tab label="Partner Preference">
                            <div class="partner-preference">
                                <h6>
                                    <mat-icon>group_add</mat-icon><span>Partner</span>
                                </h6>
                                <div class="row">
                                    <div class="col-md-3">
                                        <mat-list role="list">
                                            <mat-list-item role="listitem">Marital Status</mat-list-item>
                                        </mat-list>
                                    </div>
                                    <div class="col-md-1">
                                        <mat-list role="list">
                                            <mat-list-item role="listitem">-</mat-list-item>
                                        </mat-list>
                                    </div>
                                    <div class="col-md-4">
                                        <mat-list role="list">
                                            <mat-list-item role="listitem">Unmarried</mat-list-item>
                                        </mat-list>
                                    </div>
                                    <!-- <div class="col-md-4">
                                        <mat-list role="list">
                                            <mat-list-item role="listitem">Unmarried</mat-list-item>
                                        </mat-list>
                                    </div> -->
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <mat-list role="list">
                                            <mat-list-item role="listitem">Age</mat-list-item>
                                        </mat-list>
                                    </div>
                                    <div class="col-md-1">
                                        <mat-list role="list">
                                            <mat-list-item role="listitem">-</mat-list-item>
                                        </mat-list>
                                    </div>
                                    <div class="col-md-4">
                                        <mat-list role="list">
                                            <mat-list-item role="listitem">25 to 32 years</mat-list-item>
                                        </mat-list>
                                    </div>
                                    <!-- <div class="col-md-4">
                                        <mat-list role="list">
                                            <mat-list-item role="listitem">25 to 32 years</mat-list-item>
                                        </mat-list>
                                    </div> -->
                                    <mat-divider></mat-divider>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <mat-list role="list">
                                            <mat-list-item role="listitem">Height</mat-list-item>
                                        </mat-list>
                                    </div>
                                    <div class="col-md-1">
                                        <mat-list role="list">
                                            <mat-list-item role="listitem">-</mat-list-item>
                                        </mat-list>
                                    </div>
                                    <div class="col-md-4">
                                        <mat-list role="list">
                                            <mat-list-item role="listitem">5ft to 7ft</mat-list-item>
                                        </mat-list>
                                    </div>
                                    <!-- <div class="col-md-4">
                                        <mat-list role="list">
                                            <mat-list-item role="listitem">5ft to 7ft</mat-list-item>
                                        </mat-list>
                                    </div> -->
                                    <mat-divider></mat-divider>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <mat-list role="list">
                                            <mat-list-item role="listitem">Mother Tongue</mat-list-item>
                                        </mat-list>
                                    </div>
                                    <div class="col-md-1">
                                        <mat-list role="list">
                                            <mat-list-item role="listitem">-</mat-list-item>
                                        </mat-list>
                                    </div>
                                    <div class="col-md-4">
                                        <mat-list role="list">
                                            <mat-list-item role="listitem">
                                                <!-- {{(showMore) ? text : text | slice:0:15}} -->
                                                 <span *ngIf="!showMore">...</span>
                                                <a *ngIf="!showMore" (click)="showMore=true" class="mt-showmore">Show More</a>
                                            </mat-list-item>
                                            <mat-list-item *ngIf="showMore">
                                                <a (click)="showMore=false" class="mt-showmore">Show Less</a>
                                            </mat-list-item>
                                        </mat-list>
                                    </div>
                                    <!-- <div class="col-md-4">
                                        <mat-list role="list">
                                            <mat-list-item role="listitem">Tamil</mat-list-item>
                                        </mat-list>
                                    </div> -->
                                    <mat-divider></mat-divider>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <mat-list role="list">
                                            <mat-list-item role="listitem">Physical Status</mat-list-item>
                                        </mat-list>
                                    </div>
                                    <div class="col-md-1">
                                        <mat-list role="list">
                                            <mat-list-item role="listitem">-</mat-list-item>
                                        </mat-list>
                                    </div>
                                    <div class="col-md-4">
                                        <mat-list role="list">
                                            <mat-list-item role="listitem">Normal</mat-list-item>
                                        </mat-list>
                                    </div>
                                    <!-- <div class="col-md-4">
                                        <mat-list role="list">
                                            <mat-list-item role="listitem">Normal</mat-list-item>
                                        </mat-list>
                                    </div> -->
                                    <mat-divider></mat-divider>
                                </div>
                            </div>
                        </mat-tab>
                    </mat-tab-group>

                </mat-card>
            </div>
        </div>
    </div>
    <app-chat></app-chat>
</section>