.edit-profile-sec{
    margin-top: 25px;
    .mat-card{
        padding: 0px;
    }

    .mat-accordion .mat-expansion-panel{
        margin-top: 10px;
    }
    .profile-update-form{
        margin: 10px;
    }
    .profile-rinfo-frm{
        margin: 10px;
    }
    .partner-profile-sect{
        margin: 10px;
    }
    .contact-detail-frm{
        margin: 10px;
        button{
            min-width: 30px;
            line-height: 30px;
            padding: 0 5px;
        }
        button.mat-warn{
            .mat-icon {
                color: white;
            }
        }
    }
    .about-me-profile-sec{
        margin: 10px;
        .example-radio-group {
            display: flex;
            flex-direction: column;
            margin: 15px 0;
            .example-radio-button {
                margin: 5px;
              }
          }
          .abt-me-btn{
              margin-bottom: 10px;
          }

    }

}
.avatar-upload {
    position: relative;
    // max-width: 85px;
    .avatar-edit {
        position: absolute;
        // left: -30px;
        z-index: 1;
        top: -10px;
        input {
            display: none;
            +label {
                display: inline-block;
                width: 15px;
                height: 15px;
                margin-bottom: 0;
                border-radius: 100%;
                background: #FFFFFF;
                border: 1px solid transparent;
                box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
                cursor: pointer;
                font-weight: normal;
                transition: all .2s ease-in-out;
                &:hover {
                    background: #F1F1F1;
                    border-color: #D6D6D6;
                }
                &:after {
                    content: "\f040";
                    font-family: 'FontAwesome';
                    color: #757575;
                    position: absolute;
                    top: 0px;
                    left: 3px;
                    right: 0;
                    text-align: center;
                    margin: auto;
                    font-size: 12px;
                }
            }
        }
    }
    .imagePreview {
        height: 200px;
        width: 100%;
        position: relative;
        // border-radius: 100%;
        border: 6px solid #bfbfbf;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
    }
}
.form-inline .form-control {
    display: inline-block;
    width: 45%;
    vertical-align: middle;
    margin: 2px;
}
.left-label-locations{
    margin: 32px 20px;
}
.left-label-locations1{
    margin: 15px;
}


::ng-deep .mat-radio-label-content{
    white-space: normal !important;
  }