<p-toast position="top-center"></p-toast>
<section class="edit-profile-sec">
    <div class="container-fluid">
        <div class="row flex-lg-nowrap">
            <div class="col-md-3">
                <mat-card>
                    <div class="avatar-upload mb-3">
                        <div class="avatar-edit">
                            <input type='file' id="imageUpload1" accept=".png, .jpg, .jpeg" (change)="onSelectFile($event)" alt="image" />
                            <label for="imageUpload1"></label>
                        </div>
                        <div class="avatar-preview">
                            <img [src]="url1" class="imagePreview">
                        </div>
                    </div>
                    <div class="about-me-profile-sec">
                        <button mat-raised-button color="primary" (click)="imageUpload()"><i class="fa fa-fw fa-camera" aria-hidden="true"></i><span>Upload</span></button>
                        <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" [(ngModel)]="favoriteSeason">
                            <mat-radio-button class="example-radio-button" *ngFor="let permission of permissions" [value]="permission">
                                {{permission}}
                            </mat-radio-button>
                        </mat-radio-group>
                        <div class="form-group">
                            <textarea name="" class="form-control" cols="10" rows="5" placeholder="About me..."></textarea>
                        </div>
                        <button mat-raised-button color="primary" class="abt-me-btn">Submit</button>
                    </div>
                </mat-card>
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col mb-3">
                        <mat-card>
                            <mat-tab-group animationDuration="0ms">
                                <!-- -------------------myprofile sect end---------------- -->
                                <mat-tab label="Update Your Profile">
                                    <form class="profile-update-form" #updateProfileForm="ngForm" name="myprofile_update">
                                        <!-- {{updateProfileForm.value|json}} -->
                                        <!-- --------------------basic info form------------------ -->
                                        <mat-accordion>
                                            <mat-expansion-panel [expanded]="true">
                                                <mat-expansion-panel-header>
                                                    <mat-panel-title>
                                                        BASIC INFORMATION
                                                    </mat-panel-title>
                                                </mat-expansion-panel-header>
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="row">
                                                            <div class="col-md-3">
                                                                <div class="form-group">
                                                                    <label>Profile Created By</label>
                                                                    <select class="form-control" name="ddl_profile_created" [(ngModel)]="ddl_profile_created">
                                    <option value="" selected disabled>-Select-</option>
                                    <option value={{profile}} *ngFor="let profile of profile_list">{{profile|titlecase}}</option>
                                   
                                  </select>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-3">
                                                                <div class="form-group">
                                                                    <label>Gender</label>
                                                                    <input class="form-control" type="text" name="txt_gender" placeholder="Male" [(ngModel)]="txt_gender" readonly>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-3">
                                                                <div class="form-group">
                                                                    <label>Date of birth</label>
                                                                    <input class="form-control" type="date" name="txt_date_of_birth" placeholder="DOB" [(ngModel)]="txt_date_of_birth">
                                                                </div>
                                                            </div>
                                                            <div class="col-md-3">
                                                                <div class="form-group">
                                                                    <label>Marital Status</label>
                                                                    <select class="form-control" name="ddl_marital_status" [(ngModel)]="ddl_marital_status">
                                    <option value="" selected disabled>-Select-</option>
                                    <option value={{marraige_status}} *ngFor="let marraige_status of marraige_status_list">{{marraige_status|titlecase}}</option>

                                  </select>
                                                                </div>
                                                            </div>

                                                        </div>

                                                        <div class="row">
                                                            <div class="col-md-3">
                                                                <div class="form-group">
                                                                    <label>Age</label>
                                                                    <input type="text" Placeholder="Age" class="form-control" name="txt_age" [(ngModel)]="txt_age" readonly>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-3">
                                                                <div class="form-group">
                                                                    <label>Height</label>
                                                                    <input class="form-control" type="text" placeholder="5.5 inches" name="txt_height" [(ngModel)]="txt_height" #txt_height_temp="ngModel" required>
                                                                    <div *ngIf="txt_height_temp.touched">
                                                                        <p *ngIf="txt_height_temp.errors?.required" class="error">Height is a required field!</p>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-3">
                                                                <div class="form-group">
                                                                    <label>Weight</label>
                                                                    <input class="form-control" type="text" placeholder="50 kg" name="txt_weight" [(ngModel)]="txt_weight" #txt_weight_temp="ngModel" required>
                                                                    <div *ngIf="txt_weight_temp.touched">
                                                                        <p *ngIf="txt_weight_temp.errors?.required" class="error">Weight is a required field!</p>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-3">
                                                                <div class="form-group">
                                                                    <label>Blood Group</label>
                                                                    <select class="form-control" name="ddl_blood_group" [(ngModel)]="ddl_blood_group">
                                    <option value="" selected disabled>-Select-</option>
                                    <option value="A+">A+</option>
                                    <option value="A-">A-</option>
                                    <option value="B+">B+</option>
                                    <option value="B-">B-</option>
                                    <option value="AB+">AB+</option>
                                    <option value="AB-">AB-</option>
                                    <option value="O+">O+</option>
                                    <option value="O-">O-</option>
                                  </select>
                                                                </div>
                                                            </div>

                                                        </div>

                                                        <div class="row">
                                                            <div class="col-md-3">
                                                                <div class="form-group">
                                                                    <label>Gothram</label>
                                                                    <select class="form-control" name="ddl_gothra_gothram" [(ngModel)]="ddl_gothra_gothram">
                                    <option value="" selected disabled>-Select-</option>
                                    <option *ngFor="let gothram_list of gothram_list" value={{gothram_list}}>{{gothram_list}}</option>
                                  </select> </div>
                                                            </div>
                                                            <div class="col-md-3">
                                                                <div class="form-group">
                                                                    <label>Rasi</label>
                                                                    <select class="form-control" name="ddl_rasi" [(ngModel)]="ddl_rasi">
                                    <option value="" selected disabled>-Select-</option>
                                    <option *ngFor="let rasi of rasi_list" value={{rasi}}>{{rasi|titlecase}}</option>
                                  </select>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-3">
                                                                <div class="form-group">
                                                                    <label>Nakshatra</label>
                                                                    <select class="form-control" name="ddl_nakashtra" [(ngModel)]="ddl_nakashtra">
                                    <option value="" selected disabled>-Select-</option>
                                    <option *ngFor="let nakshatra of nakshatra_list" value={{nakshatra}}>{{nakshatra|titlecase}}</option>
                                  </select>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-3">
                                                                <div class="form-group">
                                                                    <label>Dosham</label>
                                                                    <select class="form-control" name="ddl_dosham" [(ngModel)]="ddl_dosham" #ddl_dosham_temp="ngModel" required>
                                    <option value="" selected disabled>-Select-</option>
                                    <option value={{dosham}} *ngFor="let dosham of dosham_list">{{dosham|titlecase}}</option>
                                    </select>
                                                                    <div *ngIf="ddl_dosham_temp.touched">
                                                                        <p *ngIf="ddl_dosham_temp.errors?.required" class="error">Dosham is a required field!</p>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-3">
                                                                <div class="form-group">
                                                                    <label>Religion</label>
                                                                    <select class="form-control" name="ddl_religion" [(ngModel)]="ddl_religion" #ddl_religion_temp="ngModel" required>
                                    <option value="" selected disabled>-Select-</option>
                                    <option *ngFor="let religion of religion_lists" value={{religion}}>{{religion|titlecase}}</option>
                                  </select>
                                                                    <div *ngIf="ddl_religion_temp.touched">
                                                                        <p *ngIf="ddl_religion_temp.errors?.required" class="error">Religion is a required field!</p>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-3">
                                                                <div class="form-group">
                                                                    <label>Mother Tongue</label>
                                                                    <select class="form-control" name="txt_mother_tongue" [(ngModel)]="txt_mother_tongue" #txt_mother_tongue_temp="ngModel" required>
                                    <option value="" selected disabled>-Select-</option>
                                    <option *ngFor="let mother_tongue_list of mother_tongue_list" value={{mother_tongue_list}}>{{mother_tongue_list}}</option>
                                  </select>
                                                                    <div *ngIf="txt_mother_tongue_temp.touched">
                                                                        <p *ngIf="txt_mother_tongue_temp.errors?.required" class="error">Required field!</p>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-3">
                                                                <div class="form-group">
                                                                    <label>Caste</label>
                                                                    <select class="form-control" name="ddl_caste" [(ngModel)]="ddl_caste">
                                    <option value="" selected disabled>-Select-</option>
                                    <option *ngFor="let caste_list of caste_list" value={{caste_list}}>{{caste_list}}</option>
                                  </select>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-3">
                                                                <div class="form-group">
                                                                    <label>Sub Caste</label>
                                                                    <input type="text" class="form-control" placeholder="Sub Community" name="txt_sub_caste" [(ngModel)]="txt_sub_caste">
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="col-md-3">
                                                                <div class="form-group">
                                                                    <label>Skin Color</label>
                                                                    <select class="form-control" name="ddl_skin_color" [(ngModel)]="ddl_skin_color">
                                    <option value="" selected disabled>-Select-</option>
                                    <option value={{skin}} *ngFor="let skin of skincolor_list">{{skin|titlecase}}</option>
                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-3">
                                                                <div class="form-group">
                                                                    <label>Physically Challenged</label>
                                                                    <select class="form-control" [(ngModel)]="ddl_physically_challenge" #ddl_physically_challenge_temp="ngModel" required name="ddl_physically_challenge">
                                    <option value="" selected disabled>Select</option>
                                    <option value={{phyical_challange}} *ngFor="let phyical_challange of physical_challange_list">{{phyical_challange|titlecase}}</option>
                                    
                                  </select>
                                                                    <div *ngIf="ddl_physically_challenge_temp.touched">
                                                                        <p *ngIf="ddl_physically_challenge_temp.errors?.required" class="error">Required field!</p>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-3">
                                                                <div class="form-group">
                                                                    <label>Languages Known</label>
                                                                    <mat-form-field style="width: 100%;">
                                                                        <mat-label>Languages</mat-label>
                                                                        <mat-select name="ddl_lang_known" [(ngModel)]="ddl_lang_known" #ddl_lang_known_temp="ngModel" required multiple>
                                                                            <mat-option *ngFor="let mother_tongue_list of mother_tongue_list" value={{mother_tongue_list}}>{{mother_tongue_list}}</mat-option>
                                                                        </mat-select>
                                                                    </mat-form-field>

                                                                    <div *ngIf="ddl_lang_known_temp.touched">
                                                                        <p *ngIf="ddl_lang_known_temp.errors?.required" class="error">Required field!</p>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-3">
                                                                <div class="form-group">
                                                                    <label>Food Habits</label>
                                                                    <!-- <input type="text" Placeholder="Food Habits" class="form-control"
                                    name="txt_food_habbits" [(ngModel)]="txt_food_habbits"> -->
                                                                    <select class="form-control" name="ddl_food_habbits" [(ngModel)]="ddl_food_habbits">
                                    <option value="" selected disabled>Select</option>
                                    <option value="Veg">Veg</option>
                                    <option value="Non-veg">Non-veg</option>
                                    <option value="Eggitarian">Eggitarian</option>
                                    <option value="Vegan">Vegan</option>
                                    <option value="Pescatarian">Pescatarian</option>
                                  </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </mat-expansion-panel>
                                        </mat-accordion>
                                        <!-- --------------------basic info form------------------ -->


                                        <!-- --------------------family details form------------------ -->
                                        <mat-accordion>
                                            <mat-expansion-panel>
                                                <mat-expansion-panel-header>
                                                    <mat-panel-title>
                                                        FAMILY BACKGROUND
                                                    </mat-panel-title>
                                                </mat-expansion-panel-header>

                                                <div class="row">
                                                    <div class="col">
                                                        <div class="form-group">
                                                            <label>Father</label>
                                                            <select class="form-control" name="ddl_father_status" [(ngModel)]="ddl_father_status" #ddl_father_status_temp="ngModel" required>
                                <option value="" selected disabled>-Select-</option>
                                <option value="Employed">Employed</option>
                                <option value="Business">Business</option>
                                <option value="Retired">Retired</option>
                                <option value="Not Employed">Not Employed</option>
                                <option value="Passed Away">Passed Away</option>
                              </select>
                                                            <div *ngIf="ddl_father_status_temp.touched">
                                                                <p *ngIf="ddl_father_status_temp.errors?.required" class="error">Father is a Required field!</p>

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="form-group">
                                                            <label>Mother</label>
                                                            <select class="form-control" name="ddl_mother_status" [(ngModel)]="ddl_mother_status" #ddl_mother_status_temp="ngModel" required>
                                <option value="" selected disabled>Select</option>
                                <option value="Home Maker">Home Maker</option>
                                <option value="Employed">Employed</option>
                                <option value="Business">Business</option>
                                <option value="Retired">Retired</option>
                                <option value="Not Employed">Not Employed</option>
                                <option value="Passed Away">Passed Away</option>
                              </select>
                                                            <div *ngIf="ddl_mother_status_temp.touched">
                                                                <p *ngIf="ddl_mother_status_temp.errors?.required" class="error">Mother is a Required field!</p>

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="form-group">
                                                            <label>Family Type</label>
                                                            <select class="form-control" name="ddl_family_type" [(ngModel)]="ddl_family_type">
                                <option value="" selected disabled>Select</option>
                                <option value="Joint Family">Joint Family</option>
                                <option value="Nuclear">Nuclear</option>
                              </select>
                                                        </div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="form-group">
                                                            <label>Native</label>
                                                            <input class="form-control" type="text" name="txt_native" placeholder="Native Place" [(ngModel)]="txt_native">
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col">
                                                        <label>Brother(s) & Marital Status</label>
                                                        <div class="form-inline">
                                                            <select class="form-control" name="ddl_brothers" [(ngModel)]="ddl_brothers">
                                <option value="" selected disabled>Brothers</option>
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                              </select>
                                                            <select class="form-control" name="ddl_brothers_married" [(ngModel)]="ddl_brothers_married">
                                <option value="" selected disabled>Married</option>
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                              </select>
                                                        </div>
                                                    </div>
                                                    <div class="col">
                                                        <label>Sister(s) & Marital Status</label>
                                                        <div class="form-inline">
                                                            <select class="form-control" name="ddl_sisters" [(ngModel)]="ddl_sisters">
                                <option value="" selected disabled>Sisters</option>
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                              </select>
                                                            <select class="form-control" name="ddl_sisters_married" [(ngModel)]="ddl_sisters_married">
                                <option value="" selected disabled>Married</option>
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                              </select>
                                                        </div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="form-group">
                                                            <label>House Hold</label>
                                                            <select class="form-control" name="ddl_house_hold" [(ngModel)]="ddl_house_hold">
                                <option value="" selected disabled>Select</option>
                                <option value="Affluent">Affluent</option>
                                <option value="Upper Middle Class">Upper Middle Class</option>
                                <option value="Middle Class">Middle Class</option>
                                <option value="Lower Middle Class">Lower Middle Class</option>
                              </select>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="left-label-locations">
                                                        <label>Residence</label>
                                                    </div>
                                                    <div class="col">
                                                        <div class="form-group">
                                                            <label>Country</label>
                                                            <select *ngIf="is_residency_country_edit==false" class="form-control" name="ddl_country_living" [(ngModel)]="ddl_country_living" (change)="DisplayResidencyCountryID(ddl_country_living)">
                                <option value="" selected disabled>Select</option>
                                <option *ngFor="let country of all_country_list">
                                  {{country.countryName}}</option>
                              </select>
                                                            <input *ngIf="is_residency_country_edit" type="text" class="form-control" (click)="changeResidencyCountryDropdown(ddl_country_living)" name="ddl_country_living" [(ngModel)]="ddl_country_living">

                                                        </div>

                                                    </div>
                                                    <div class="col">
                                                        <div class="form-group">
                                                            <label>State</label>
                                                            <select *ngIf="is_residency_state_edit==false" class="form-control" name="ddl_state_living" [(ngModel)]="ddl_state_living" (change)="DisplayResidencyStateID(ddl_state_living)">
                                <option value="" selected disabled>Select</option>
                                <option *ngFor="let state of all_state_list">{{state.stateName}}
                                </option>

                              </select>
                                                            <input *ngIf="is_residency_state_edit" type="text" class="form-control" (click)="changeResidencyStateDropdown(ddl_country_living,ddl_state_living)" name="ddl_state_living" [(ngModel)]="ddl_state_living">
                                                        </div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="form-group">
                                                            <label>City</label>
                                                            <select *ngIf="is_residency_city_edit==false" class="form-control" name="ddl_city_living" [(ngModel)]="ddl_city_living" (change)="DisplayResidencyCityID(ddl_city_living)">
                                <option value="" selected disabled>Select</option>
                                <option *ngFor="let city of all_city_list">{{city.cityName}}</option>
                              </select>
                                                            <input *ngIf="is_residency_city_edit" type="text" class="form-control" (click)="changeResidencyCityDropdown(ddl_state_living)" name="ddl_city_living" [(ngModel)]="ddl_city_living">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="left-label-locations1">
                                                        <label>Bride/Groom <br>Residence</label>
                                                    </div>
                                                    <div class="col">
                                                        <div class="form-group">
                                                            <label>Country</label>
                                                            <select *ngIf="is_groom_country_edit==false" class="form-control" name="ddl_residency_country" [(ngModel)]="ddl_residency_country" (change)="DisplayGroomResidencyCountryID(ddl_residency_country)">
                                <option value="" selected disabled>Select</option>
                                <option *ngFor="let country of all_groom_country_list">
                                  {{country.countryName}}</option>
                              </select>
                                                            <input *ngIf="is_groom_country_edit" type="text" class="form-control" (click)="changeGroomCountryDropdown(ddl_residency_country)" name="ddl_residency_country" [(ngModel)]="ddl_residency_country">
                                                        </div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="form-group">
                                                            <label>State</label>
                                                            <select *ngIf="is_groom_state_edit==false" class="form-control" name="ddl_residency_state" [(ngModel)]="ddl_residency_state" (change)="DisplayGroomResidencyStateID(ddl_residency_state)">
                                <option value="" selected disabled>Select</option>
                                <option *ngFor="let state of all_groom_state_list">{{state.stateName}}
                                </option>
                              </select>
                                                            <input *ngIf="is_groom_state_edit" type="text" class="form-control" (click)="changeGroomStateDropdown(ddl_residency_country,ddl_residency_state)" name="ddl_residency_state" [(ngModel)]="ddl_residency_state">
                                                        </div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="form-group">
                                                            <label>City</label>
                                                            <select *ngIf="is_groom_city_edit==false" class="form-control" name="ddl_residency_city" [(ngModel)]="ddl_residency_city" (change)="DisplayGroomResidencyCityID(ddl_residency_city)">
                                <option value="" selected disabled>Select</option>
                                <option *ngFor="let city of all_groom_city_list">{{city.cityName}}
                                </option>
                              </select>
                                                            <input *ngIf="is_groom_city_edit" type="text" class="form-control" (click)="changeGroomCityDropdown(ddl_residency_state)" name="ddl_residency_city" [(ngModel)]="ddl_residency_city">


                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="form-group">
                                                            <label>Bride/Groom Citizenship</label>
                                                            <input type="text" class="form-control" name="txt_groom_citizenship" placeholder="Groom Citizenship" [(ngModel)]="txt_groom_citizenship">
                                                        </div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="form-group">
                                                            <label>Visa Status</label>
                                                            <input type="text" class="form-control" name="txt_visa_status" placeholder="Visa Status" [(ngModel)]="txt_visa_status">
                                                        </div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="form-group">
                                                            <label>Relocation</label>
                                                            <!-- <input type="text" class="form-control" name="txt_relocation" placeholder="Relocation"
                                [(ngModel)]="txt_relocation"> -->
                                                            <select class="form-control" name="ddl_relocation" [(ngModel)]="ddl_relocation">
                                <option value="" selected disabled>Select</option>
                                <option value="Possible">Possible</option>
                                <option value="Not Possible">Not Possible</option>
                                <option value="Any">Any</option>
                              </select>
                                                        </div>
                                                    </div>
                                                </div>

                                            </mat-expansion-panel>
                                        </mat-accordion>
                                        <!-- --------------------family details form------------------ -->

                                        <!-- --------------------Profession form------------------ -->
                                        <mat-accordion>
                                            <mat-expansion-panel>
                                                <mat-expansion-panel-header>
                                                    <mat-panel-title>
                                                        PROFESSION
                                                    </mat-panel-title>
                                                </mat-expansion-panel-header>

                                                <div class="row">
                                                    <div class="col">
                                                        <div class="form-group">
                                                            <label>Education</label>
                                                            <select class="selectpicker form-control" name="ddl_education" [(ngModel)]="ddl_education" #ddl_education_temp="ngModel" required (ngModelChange)="geteducationId(ddl_education)">
                                <optgroup *ngFor="let education_list of parter_education_list" label="{{education_list.name}}">
                                  <option value="" selected disabled>Select</option>
                                  <option *ngFor="let education_name of education_list.list" value={{education_name}}>{{education_name}}</option>
                                </optgroup>
                              </select>
                                                            <!--                               
                              <select class="form-control" name="ddl_education" [(ngModel)]="ddl_education">
                                <option value="" selected disabled>Select</option>
                                <option value="Doctorate">Doctorate</option>
                                <option value="Masters">Masters</option>
                                <option value="Honours-degree">Honours degree</option>
                                <option value="Bachelors">Bachelors</option>
                                <option value="Under-graduate">Under graduate</option>
                                <option value="Associates-degree">Associates degree</option>
                                <option value="Diploma">Diploma</option>
                                <option value="High-school">High school</option>
                                <option value="Less-than-high-school">Less than high school</option>
                                <option value="Trade-school">Trade school</option>
                              </select> -->

                                                            <div *ngIf="ddl_education_temp.touched">
                                                                <p *ngIf="ddl_education_temp.errors?.required" class="error">Education is a required field!</p>

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="form-group">
                                                            <label>University</label>
                                                            <input type="text" class="form-control" name="txt_university" placeholder="Ex: Anna University" [(ngModel)]="txt_university">
                                                        </div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="form-group">
                                                            <label>Employment</label>
                                                            <select class="form-control" name="ddl_employment" [(ngModel)]="ddl_employment">
                                <option value="" selected disabled>Select</option>
                                <option value="Private Company">Private Company</option>
                                <option value="Government / Public Sector">Government / Public Sector</option>
                                <option value="Defense / Civil Services">Defense / Civil Services</option>
                                <option value="Businees / Self Employed">Businees / Self Employed</option>
                                <option value="Not Working">Not Working</option>
                              </select>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col">
                                                        <div class="form-group">
                                                            <label>Occupation</label>
                                                            <select class="selectpicker form-control" name="txt_occupation" [(ngModel)]="txt_occupation" #txt_occupation_temp="ngModel" required (ngModelChange)="getoccupationId(txt_occupation)">
                                <optgroup *ngFor="let occupation of partner_occupation_list" label="{{occupation.name}}">
                                  <option value="" selected disabled>Select</option>
                                  <option *ngFor="let occupation_name of occupation.list" value={{occupation_name}}>{{occupation_name}}</option>
                                </optgroup>
                              </select>
                                                            <!-- <input type="text" class="form-control" name="txt_occupation" placeholder="Occupation"
                                [(ngModel)]="txt_occupation"> -->
                                                            <div *ngIf="txt_occupation_temp.touched">
                                                                <p *ngIf="txt_occupation_temp.errors?.required" class="error">Occupation is a required field!</p>

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="form-group">
                                                            <label>Annual Income</label>
                                                            <select class="form-control" name="ddl_annual_income" [(ngModel)]="ddl_annual_income" #ddl_annual_income_temp="ngModel" required>
                                                                <option value="" selected disabled>-Select-</option>
                                                                <option value="100000">Upto INR 1 Lakh</option>
                                                                <option value="200000">INR 1 Lakh to 2 Lakh</option>
                                                                <option value="700000">INR 4 Lakh to 7 Lakh</option>
                                                                <option value="1000000">INR 7 Lakh to 10 Lakh</option>
                                                                <option value="1500000">INR 10 Lakh to 15 Lakh</option>
                                                                <option value="2000000">INR 15 Lakh to 20 Lakh</option>
                                                                <option value="3000000">INR 20 Lakh to 30 Lakh</option>
                                                                <option value="5000000">INR 30 Lakh to 50 Lakh</option>
                                                                <option value="7500000">INR 50 Lakh to 75 Lakh</option>
                                                                <option value="10000000">INR 75 Lakh to 1 Crore</option>
                                                                <option value="20000000">INR 1 Crore & Above</option>
                                                                <option value="000000000">Not Applicable</option>
                                                                </select>
                                                                <div *ngIf="ddl_annual_income_temp.touched">
                                                                    <p *ngIf="ddl_annual_income_temp.errors?.required" class="error">Annual Income is a required field!</p>

                                                                </div>
                                                    </div>
                                                </div>
                    </div>
                    </mat-expansion-panel>
                    </mat-accordion>
                    <!-- --------------------Profession form------------------ -->

                    <!-- --------------------hobbies & interests------------------ -->
                    <mat-accordion>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    LEISURES / SKILLS
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label for="">Activities</label>
                                        <mat-form-field style="width: 100%;">
                                            <mat-label>Activities</mat-label>
                                            <mat-select name="ddl_activities" [(ngModel)]="ddl_activities" multiple>
                                                <mat-option *ngFor="let leisures_activities of list_leisures_activities" value={{leisures_activities}}>{{leisures_activities}}</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label for="">Skills</label>
                                        <mat-form-field style="width: 100%;">
                                            <mat-label>Skills</mat-label>
                                            <mat-select name="ddl_skills" name="ddl_skills" [(ngModel)]="ddl_skills" multiple>
                                                <mat-option *ngFor="let leisures_skills of list_leisures_skills" value={{leisures_skills}}>{{leisures_skills}}</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                        </mat-expansion-panel>
                    </mat-accordion>
                    <!-- --------------------hobbies & interests------------------ -->
                    <div class="mt-3">
                        <button mat-raised-button color="primary" (click)="updateprofiledetails(updateProfileForm,updateProfileForm.value)">Save Changes</button>
                    </div>
                    </form>
                    </mat-tab>
                    <!-- -------------------myprofile sect end---------------- -->

                    <!-- -----------partner proflie sect start-------------- -->
                    <mat-tab label="Partner Profile">
                        <!-- {{updatePartnerForm.value|json}} -->
                        <br>
                        <!-- {{caste_list|json}} -->
                        <form class="profile-update-form"  #updatePartnerForm="ngForm" name="partnerprofile_form">
                            <div class="partner-profile-sect">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Age</label>
                                    <div class="col-sm-2">
                                        <select class="form-control" name="ddl_partn_age_from" [(ngModel)]="ddl_partn_age_from">
                            <option value="" selected disabled>-From-</option>
                            <option value="16">16</option>
                            <option value="17">17</option>
                            <option value="15">15</option>
                          </select>
                                    </div>
                                    <div class="col-sm-2">
                                        <select class="form-control" name="ddl_partn_age_to" [(ngModel)]="ddl_partn_age_to">
                            <option value="" selected disabled>-To-</option>
                            <option value="21">21</option>
                            <option value="34">34</option>
                            <option value="55">55</option>
                          </select>
                                    </div>
                                    <label for="inputPassword" class="col-sm-1 col-form-label">Height</label>
                                    <div class="col-sm-2">
                                        <select class="form-control" name="ddl_partn_height_from" [(ngModel)]="ddl_partn_height_from">
                            <option value="" selected disabled>-From-</option>
                            <option value="5">1</option>
                            <option value="6">2</option>
                            <option value="7">3</option>
                          </select>
                                    </div>
                                    <div class="col-sm-2">
                                        <select class="form-control" name="ddl_partn_height_to" [(ngModel)]="ddl_partn_height_to">
                            <option value="" selected disabled>-To-</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                          </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-sm-3 col-form-label">Marital Status</label>
                                    <div class="col-sm-9">
                                        <div class="form-check form-check-inline" *ngFor="let marrage_status of marital_status_list">
                                            <!-- <input class="form-check-input"   name=cbl_marital_status [(ngModel)]="cbl_marital_status" type="checkbox"  id="inlineRadio1"
                              value="marrage_status">
                              
                            <label class="form-check-label" for="inlineRadio1">{{marrage_status}}</label> -->
                                            <p-checkbox name="cbl_marital_status" value="{{marrage_status}}" label="{{marrage_status}}" [(ngModel)]="cbl_marital_status" inputId="{{marrage_status}}"></p-checkbox>
                                        </div>
                                        <!-- <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio2"
                              value="option2">
                            <label class="form-check-label" for="inlineRadio2">Never Married</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio2"
                              value="option2">
                            <label class="form-check-label" for="inlineRadio2">Widow</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio2"
                              value="option2">
                            <label class="form-check-label" for="inlineRadio2">Divorced</label>
                          </div> -->
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-sm-3 col-form-label">Appearance</label>
                                    <div class="col-sm-9">
                                        <div class="form-check form-check-inline" *ngFor="let apperance of Apperance_list">
                                            <!-- <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                              value="option1">
                            <label class="form-check-label" for="inlineRadio1">Fair</label> -->
                                            <p-radioButton name="rbl_apperance_status" value="{{apperance}}" label="{{apperance}}" [(ngModel)]="rbl_apperance_status">{{apperance}}</p-radioButton>
                                        </div>
                                        <!-- <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                              value="option2">
                            <label class="form-check-label" for="inlineRadio2">Whitish</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                              value="option2">
                            <label class="form-check-label" for="inlineRadio2">Dark</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                              value="option2">
                            <label class="form-check-label" for="inlineRadio2">Doesn't Matter</label>
                          </div> -->
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-sm-3 col-form-label">Eating Habbits</label>
                                    <div class="col-sm-9">
                                        <div class="form-check form-check-inline" *ngFor="let eating_habit of Eating_habits_list">
                                            <!-- <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1"
                              value="option1">
                            <label class="form-check-label" for="inlineRadio1">Vegetrian</label> -->
                                            <p-checkbox name="cbl_eating_status" value="{{eating_habit}}" label="{{eating_habit}}" [(ngModel)]="cbl_eating_status" inputId="{{eating_habit}}"></p-checkbox>
                                        </div>
                                        <!-- <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio2"
                              value="option2">
                            <label class="form-check-label" for="inlineRadio2">Non Vegetrian</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio2"
                              value="option2">
                            <label class="form-check-label" for="inlineRadio2">Eggterian</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio2"
                              value="option2">
                            <label class="form-check-label" for="inlineRadio2">Doesn't Matter</label>
                          </div> -->
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-sm-3 col-form-label">Smoke</label>
                                    <div class="col-sm-9">
                                        <div class="form-check form-check-inline" *ngFor="let smoke_habit of Smoke_habits_list">
                                            <!-- <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                              value="option1">
                            <label class="form-check-label" for="inlineRadio1">Don't include profiles who smoke</label> -->
                                            <p-radioButton name="rbl_smoke_status" value="{{smoke_habit}}" label="{{smoke_habit}}" [(ngModel)]="rbl_smoke_status">{{smoke_habit}}</p-radioButton>
                                        </div>
                                        <!-- <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                              value="option2">
                            <label class="form-check-label" for="inlineRadio2">Doesn't Matter</label>
                          </div> -->
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-sm-3 col-form-label">Drink</label>
                                    <div class="col-sm-9">
                                        <div class="form-check form-check-inline" *ngFor="let drink_habit of Drink_habits_list">
                                            <!-- <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                              value="option1">
                            <label class="form-check-label" for="inlineRadio1">Don't include profiles who drink</label> -->
                                            <p-radioButton name="rbl_drink_status" value="{{drink_habit}}" label="{{drink_habit}}" [(ngModel)]="rbl_drink_status">{{drink_habit}}</p-radioButton>
                                        </div>
                                        <!-- <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                              value="option2">
                            <label class="form-check-label" for="inlineRadio2">Doesn't Matter</label>
                          </div> -->
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-sm-3 col-form-label">Religion</label>
                                    <div class="col-md-9">
                                        <div class="form-group">
                                            <mat-form-field style="width: 50%;">
                                                <mat-label>Religion</mat-label>
                                                <mat-select name="ddl_partner_religion" [(ngModel)]="ddl_partner_religion" multiple>
                                                    <mat-option *ngFor="let religion of religion_lists" value={{religion}}>{{religion}}</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                            <!-- <p-multiSelect [options]="languages" name="ddl_partner_religion"
                              [(ngModel)]="ddl_partner_religion" [style]="{'width':'70%'}"></p-multiSelect> -->
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-sm-3 col-form-label">Mother Tongue</label>
                                    <div class="col-md-9">
                                        <div class="form-group">
                                            <!-- <label for="">Mother Tongue</label> -->
                                            <mat-form-field style="width: 50%;">
                                                <mat-label>Mother Tongue</mat-label>
                                                <mat-select name="ddl_partner_lang_known" [(ngModel)]="ddl_partner_lang_known" multiple>
                                                    <mat-option *ngFor="let mother_tongue of mother_tongue_list" value={{mother_tongue}}>{{mother_tongue}}</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                            <!-- <p-multiSelect [options]="mother_tongue_list" [showHeader]="false"
                              name="ddl_partner_lang_known" [(ngModel)]="ddl_partner_lang_known"
                              [style]="{'width':'70%'}"></p-multiSelect> -->
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-sm-3 col-form-label">Caste</label>
                                    <div class="col-md-9">
                                        <div class="form-group">
                                            <mat-form-field style="width: 50%;">
                                                <mat-label>Caste</mat-label>
                                                <mat-select name="ddl_partner_caste" [(ngModel)]="ddl_partner_caste" multiple>
                                                    <mat-option *ngFor="let caste of caste_list" value={{caste}}>{{caste}}</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                            <!-- <p-multiSelect [options]="caste_list" [virtualScroll]="true" name="ddl_partner_caste"
                              [(ngModel)]="ddl_partner_caste" [style]="{'width':'70%'}"></p-multiSelect> -->
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-sm-3 col-form-label">Dosham</label>
                                    <div class="col-sm-9">
                                        <div class="form-check form-check-inline" *ngFor="let dosham of dosham_list">
                                            <!-- <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                              value="option1">
                            <label class="form-check-label" for="inlineRadio1">Yes</label> -->
                                            <p-radioButton name="rbl_dosham_status" value={{dosham}} label="{{dosham|titlecase}}" [(ngModel)]="rbl_dosham_status">{{dosham}}</p-radioButton>
                                        </div>
                                        <!-- <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                              value="option2">
                            <label class="form-check-label" for="inlineRadio2">No</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                              value="option2">
                            <label class="form-check-label" for="inlineRadio2">Doesn't Matter</label>
                          </div> -->
                                    </div>
                                </div>
                                <mat-divider></mat-divider>
                                <div class="row mt-3">
                                    <label class="col-sm-3 col-form-label">Residence Country</label>
                                    <div class="col-md-9">
                                        <div class="form-group">
                                            <mat-form-field style="width: 50%;" *ngIf="is_partner_residency_country_edit==false">
                                                <mat-label>Residence Country</mat-label>
                                                <mat-select name="ddl_partner_res_country" [(ngModel)]="ddl_partner_res_country" multiple (ngModelChange)="getPartnerCountryID(ddl_partner_res_country)">
                                                    <mat-option *ngFor="let country of all_country_list" value={{country.countryName}}>{{country.countryName}}</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                            <input style="width: 50%;" *ngIf="is_partner_residency_country_edit" type="text" class="form-control" (click)="changePartnerResidencyCountryDropdown()" name="ddl_partner_res_country" [(ngModel)]="ddl_partner_res_country">
                                            <!-- <p-multiSelect [options]="languages" name="ddl_partner_res_country"
                              [(ngModel)]="ddl_partner_res_country" [style]="{'width':'70%'}"></p-multiSelect> -->
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-sm-3 col-form-label">Residence State</label>
                                    <div class="col-md-9">
                                        <div class="form-group">
                                            <mat-form-field style="width: 50%;">
                                                <mat-label>Residence State</mat-label>
                                                <mat-select name="ddl_partner_res_state" [(ngModel)]="ddl_partner_res_state" multiple (ngModelChange)="getPartnerStateID(ddl_partner_res_state)">
                                                    <mat-option *ngFor="let state of all_partner_state_list" value={{state.stateName}}>{{state.stateName}}</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                            <!-- <p-multiSelect [options]="languages" name="ddl_partner_res_state"
                              [(ngModel)]="ddl_partner_res_state" [style]="{'width':'70%'}"></p-multiSelect> -->
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-sm-3 col-form-label">Residence City</label>
                                    <div class="col-md-9">
                                        <div class="form-group">
                                            <mat-form-field style="width: 50%;">
                                                <mat-label>Residence City</mat-label>
                                                <mat-select name="ddl_partner_res_city" [(ngModel)]="ddl_partner_res_city" multiple>
                                                    <mat-option *ngFor="let city of all_partner_city_list" value={{city.cityName}}>{{city.cityName}}</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                            <!-- <p-multiSelect [options]="languages" name="ddl_partner_res_city"
                              [(ngModel)]="ddl_partner_res_city" [style]="{'width':'70%'}"></p-multiSelect> -->
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-sm-3 col-form-label">Relocation</label>
                                    <div class="col-sm-9">
                                        <div class="form-check form-check-inline" *ngFor="let relocation of relocation_list">
                                            <!-- <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                              value="option1">
                            <label class="form-check-label" for="inlineRadio1">Possible</label> -->
                                            <p-radioButton name="rbl_relocation_status" value="{{relocation}}" label="{{relocation}}" [(ngModel)]="rbl_relocation_status">{{relocation}}</p-radioButton>
                                        </div>
                                        <!-- <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                              value="option2">
                            <label class="form-check-label" for="inlineRadio2">Not Possible</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                              value="option2">
                            <label class="form-check-label" for="inlineRadio2">Any</label>
                          </div> -->
                                    </div>
                                </div>
                                <mat-divider></mat-divider>
                                <div class="row mt-3">
                                    <label class="col-sm-3 col-form-label">Education</label>
                                    <div class="col-md-9">
                                        <div class="form-group">
                                            <mat-form-field style="width: 50%;">
                                                <mat-label>Education</mat-label>
                                                <mat-select name="ddl_partner_education" [(ngModel)]="ddl_partner_education" (ngModelChange)="getpartnereducationID(ddl_partner_education)" multiple>
                                                    <mat-option *ngFor="let parter_education of parter_education_list" value={{parter_education.name}}>{{parter_education.name}}</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                            <!-- <p-multiSelect [options]="languages" name="ddl_lang_known" [(ngModel)]="ddl_lang_known"
                              [style]="{'width':'70%'}"></p-multiSelect> -->
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-sm-3 col-form-label">Employment</label>
                                    <div class="col-md-9">
                                        <div class="form-group">
                                            <mat-form-field style="width: 50%;">
                                                <mat-label>Employment</mat-label>
                                                <mat-select name="ddl_partner_employment" [(ngModel)]="ddl_partner_employment" multiple>
                                                    <mat-option *ngFor="let partner_employment of partner_employment_list" value={{partner_employment}}>{{partner_employment}}</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                            <!-- <p-multiSelect [options]="languages" name="ddl_partner_employment"
                              [(ngModel)]="ddl_partner_employment" [style]="{'width':'70%'}"></p-multiSelect> -->
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-sm-3 col-form-label">Occupation</label>
                                    <div class="col-md-9">
                                        <div class="form-group">
                                            <mat-form-field style="width: 50%;">
                                                <mat-label>Occupation</mat-label>
                                                <mat-select name="ddl_partner_occupation" [(ngModel)]="ddl_partner_occupation" (ngModelChange)="getpartneroccupationID(ddl_partner_occupation)" multiple>
                                                    <mat-option *ngFor="let partner_occpation of partner_occupation_list" value={{partner_occpation.name}}>{{partner_occpation.name}}</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                            <!-- <p-multiSelect [options]="languages" name="ddl_partner_occupation"
                              [(ngModel)]="ddl_partner_occupation" [style]="{'width':'70%'}"></p-multiSelect> -->
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Annual Income</label>
                                    <div class="col">
                                        <mat-form-field style="width: 25%;">
                                            <mat-label>Income From</mat-label>
                                            <mat-select name="ddl_partn_annual_from" [(ngModel)]="ddl_partn_annual_from">
                                                <mat-option *ngFor="let partner_income of partner_income_from_list" value={{partner_income.value}}>{{partner_income.label}}</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                        &nbsp;&nbsp;&nbsp;
                                        <mat-form-field style="width: 25%;">
                                            <mat-label>Income To</mat-label>
                                            <mat-select name="ddl_partn_annual_to" [(ngModel)]="ddl_partn_annual_to">
                                                <mat-option *ngFor="let partner_income of partner_income_to_list" value={{partner_income.value}}>{{partner_income.label}}</mat-option>
                                            </mat-select>
                                        </mat-form-field>

                                        <!-- <select class="form-control" name="ddl_partner_income_from" [(ngModel)]="ddl_partner_income_from">
                            <option value="" selected disabled>-Select-</option>
                                <option value="100000">Upto INR 1 Lakh</option>
                                <option value="200000">INR 1 Lakh to 2 Lakh</option>
                                <option value="700000">INR 4 Lakh to 7 Lakh</option>
                                <option value="1000000">INR 7 Lakh to 10 Lakh</option>
                                <option value="1500000">INR 10 Lakh to 15 Lakh</option>
                                <option value="2000000">INR 15 Lakh to 20 Lakh</option>
                                <option value="3000000">INR 20 Lakh to 30 Lakh</option>
                                <option value="5000000">INR 30 Lakh to 50 Lakh</option>
                                <option value="7500000">INR 50 Lakh to 75 Lakh</option>
                                <option value="10000000">INR 75 Lakh to 1 Crore</option>
                                <option value="20000000">INR 1 Crore & Above</option>
                                <option value="000000000">Not Applicable</option>
                           
                          </select> -->
                                    </div>
                                    <!-- <div class="col-sm-3">
                          <select class="form-control" name="ddl_partner_income_to" [(ngModel)]="ddl_partner_income_to">
                            <option value="" selected disabled>-Select-</option>
                            <option value="100000">Upto INR 1 Lakh</option>
                            <option value="200000">INR 1 Lakh to 2 Lakh</option>
                            <option value="700000">INR 4 Lakh to 7 Lakh</option>
                            <option value="1000000">INR 7 Lakh to 10 Lakh</option>
                            <option value="1500000">INR 10 Lakh to 15 Lakh</option>
                            <option value="2000000">INR 15 Lakh to 20 Lakh</option>
                            <option value="3000000">INR 20 Lakh to 30 Lakh</option>
                            <option value="5000000">INR 30 Lakh to 50 Lakh</option>
                            <option value="7500000">INR 50 Lakh to 75 Lakh</option>
                            <option value="10000000">INR 75 Lakh to 1 Crore</option>
                            <option value="20000000">INR 1 Crore & Above</option>
                            <option value="000000000">Not Applicable</option>
                          </select>
                        </div> -->
                                </div>
                            </div>

                            <div class="mt-3">
                                <button mat-raised-button color="primary" (click)="updatepartnerprofile(updatePartnerForm.value)">Save Changes</button>
                            </div>
                            </form>
                            </mat-tab>
                            <!-- partner proflie sect start -->

                            <!-- -----------contact sect start-------------- -->
                            <mat-tab label="Contact Details">

                                <form class="profile-update-form"  #contactForm="ngForm" name="contact_form">
                                    <div class="contact-detail-frm">
                                        <div class="row" *ngFor="let contact of contactdeatils; let i=index">
                                            <label class="col-sm-2 col-form-label" *ngIf="i==0">Parents</label>
                                            <label class="col-sm-2" *ngIf="i>0"></label>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <input type="number" class="form-control" placeholder="Mobile Number" name="txt_cnt_mobile_no{{i}}" [(ngModel)]="contact.txt_cnt_mobile_no">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <input type="email" class="form-control" placeholder="Email" name="txt_cnt_email{{i}}" [(ngModel)]="contact.txt_cnt_email">
                                                </div>
                                            </div>
                                            <div class="">
                                                <button mat-raised-button (click)="addcontactdetails()" *ngIf="i==0"><mat-icon>add</mat-icon></button>
                                                <button mat-raised-button color="warn" (click)="removeContact(i)" *ngIf="i>0"><mat-icon>remove</mat-icon></button>
                                            </div>
                                        </div>
                                        <div class="row" *ngFor="let contactgroom of contactdeatilsgroom; let i=index">
                                            <label class="col-sm-2 col-form-label" *ngIf="i==0">Bride/Groom</label>
                                            <label class="col-sm-2" *ngIf="i>0"></label>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <input type="number" class="form-control" placeholder="Mobile Number" name="txt_cntgr_mobile_no{{i}}" [(ngModel)]="contactgroom.txt_cnt_mobile_no">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <input type="email" class="form-control" placeholder="Email" name="txt_cntgr_email{{i}}" [(ngModel)]="contactgroom.txt_cnt_email">
                                                </div>
                                            </div>
                                            <div class="">
                                                <button mat-raised-button (click)="addcontactdetailsgroom()" *ngIf="i==0"><mat-icon>add</mat-icon></button>
                                                <button mat-raised-button color="warn" (click)="removeContactgroom(i)" *ngIf="i>0"><mat-icon>remove</mat-icon></button>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <label class="col-sm-2 col-form-label">Visible</label>
                                            <div class="col-md-6">
                                                <div class="form-check form-check-inline" *ngFor="let permission of permisiion_list">
                                                    <p-radioButton name="rbl_visible" value="{{permission.value}}" label="{{permission.label}}" [(ngModel)]="rbl_visible">{{permission.label}}</p-radioButton>
                                                </div>
                                            </div>


                                        </div>

                                    </div>
                                    <div class="mt-3">
                                        <button mat-raised-button color="primary" (click)="contactformsubmit(contactForm.value)">Save
                        Changes</button>
                                    </div>
                                    </form>
                                    </mat-tab>
                                    <!-- contact sect start -->
                                    <!-- profile rights info -->
                                    <mat-tab label="Profile Rights Info">
                                        <form class="profile-update-form" name="rights_info_form">
                                            <div class="profile-rinfo-frm">
                                                <div class="row">
                                                    <label class="col-sm-3 col-form-label">Visible To All</label>
                                                    <div class="col-md-9">
                                                        <div class="form-group">
                                                            <mat-form-field style="width: 70%;">
                                                                <mat-label>Visible To All</mat-label>
                                                                <mat-select multiple>
                                                                    <mat-option *ngFor="let list_visible_all of list_visible_toall" value={{list_visible_all}}>{{list_visible_all}}</mat-option>
                                                                </mat-select>
                                                            </mat-form-field>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <label class="col-sm-3 col-form-label">Request To Display</label>
                                                    <div class="col-md-9">
                                                        <div class="form-group">
                                                            <mat-form-field style="width: 70%;">
                                                                <mat-label>Request To Display</mat-label>
                                                                <mat-select multiple>
                                                                    <mat-option *ngFor="let list_visible_all of list_visible_toall" value={{list_visible_all}}>{{list_visible_all}}</mat-option>
                                                                </mat-select>
                                                            </mat-form-field>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <label class="col-sm-3 col-form-label">Keep Private</label>
                                                    <div class="col-md-9">
                                                        <div class="form-group">
                                                            <mat-form-field style="width: 70%;">
                                                                <mat-label>Keep Private</mat-label>
                                                                <mat-select multiple>
                                                                    <mat-option *ngFor="let list_visible_all of list_visible_toall" value={{list_visible_all}}>{{list_visible_all}}</mat-option>
                                                                </mat-select>
                                                            </mat-form-field>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mt-3">
                                                <button mat-raised-button color="primary">Save Changes</button>
                                            </div>
                                            </form>
                                            </mat-tab>
                                            <!-- profile rights info -->
                                            </mat-tab-group>
                                            </mat-card>

                </div>

            </div>

        </div>
    </div>
    </div>
    <app-chat></app-chat>
</section>