<div class="upload-image-sect">
    <form #imageUploadForm="ngForm">
        <div class="upload-form-sect">
            <input type='file' (change)="onSelectFile($event)" name="file_image_upload" multiple #inputfileupload>

        </div>
    </form>
    <div class="row">
        <div class="image-preview" *ngFor='let url of urls; let i=index'>
            <div class="pull-right preview-image-remove">
                <mat-icon (click)="removeImage(i)">remove_circle</mat-icon>
            </div>
            <img [src]="url" alt="Image">
        </div>
    </div>
</div>
<mat-divider></mat-divider>
<div class="album-sec">
    <div class="row">
        <div class="col-md-4">
            <div class="image-view-del">
                <img class="img-thumbnail" src="https://bestjquery.com/tutorial/product-grid/demo4/images/img-2.jpg" alt="Image">
                <div class="remImage" id="delete">
                    <button mat-raised-button><mat-icon>delete_forever</mat-icon></button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="image-view-del">
                <img class="img-thumbnail" src="https://bestjquery.com/tutorial/product-grid/demo4/images/img-2.jpg" alt="Image">
                <div class="remImage" id="delete">
                    <button mat-raised-button><mat-icon>delete_forever</mat-icon></button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="image-view-del">
                <img class="img-thumbnail" src="https://bestjquery.com/tutorial/product-grid/demo4/images/img-2.jpg" alt="Image">
                <div class="remImage" id="delete">
                    <button mat-raised-button><mat-icon>delete_forever</mat-icon></button>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center">
        <button mat-raised-button color="primary">Upload</button>
    </div>
</div>