.view-profile-sec {
    margin-top: 20px;

    .viewprf-about {
        margin-top: 10px;

        .about-heading {
            h4 {
                button {
                    min-width: 40px;
                    line-height: 30px;
                    padding: 0 6px;
                }
            }
        }

        .about-cnt-sect {
            padding: 18px 32px;
            background-color: #f5f5f5;

            .mat-list-base {
                padding-top: 0px;
                margin-left: -18px;
            }

            .mat-list-base .mat-list-item,
            .mat-list-base .mat-list-option {
                height: 35px;
            }

            span.about-cnt-left {
                margin-left: 10px;

                strong {
                    color: #343a40;
                    font-weight: 500;
                }
            }
        }
    }

    .viewprf-cntdetails {
        margin-top: 15px;

        .agent-contact-details {
            list-style: none;
            color: #9e9e9e;
            padding: 18px 32px;
            background-color: #f5f5f5;
            margin-bottom: 0px;

            li {
                position: relative;
                line-height: 24px;
                padding: 3px 0;
                word-break: break-all
            }
        }

        .agent-contact-details {
            li {
                span {
                    font-size: 16px;
                    margin-left: 20px;
                    position: relative;
                    top: -5px;
                }
            }
        }
    }

    .famildetails-sec {
        .family-exp {
            padding-top: 8px;

            .mat-list-base {
                padding-top: 0px;
            }

            h5 {
                font-size: 16px;
            }

            h6 {
                font-size: 14px;

                .mat-icon {
                    font-size: 20px;
                }

                span {
                    position: relative;
                    top: -5px;
                    left: 0px;
                }
            }
        }
    }
}