<section class="view-profile-sec">
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-12">
                <mat-card>
                    <div class="famildetails-sec">
                        <button mat-raised-button color="primary" [routerLink]="['/editprofile']" routerLinkActive="router-link-active" class="align-right">Edit Partner Preference</button>
                        <!-- Partner Infromation  -->
                        <div class="family-exp">
                            <h6>
                                <mat-icon>supervisor_account</mat-icon><span>Partner Information</span>
                            </h6>
                            <mat-divider></mat-divider>
                            <div class="row">
                                <div class="col-md-2">
                                    <mat-list role="list">
                                        <mat-list-item role="listitem">Age</mat-list-item>
                                        <mat-list-item role="listitem">Height</mat-list-item>
                                        <mat-list-item role="listitem">Religion</mat-list-item>
                                        <mat-list-item role="listitem">Martial Status</mat-list-item>
                                        <mat-list-item role="listitem">Mother Tongue</mat-list-item>
                                    </mat-list>
                                </div>
                                <div class="col-md-2">
                                    <mat-list role="list">
                                        <mat-list-item role="listitem">:</mat-list-item>
                                        <mat-list-item role="listitem">:</mat-list-item>
                                        <mat-list-item role="listitem">:</mat-list-item>
                                        <mat-list-item role="listitem">:</mat-list-item>
                                        <mat-list-item role="listitem">:</mat-list-item>
                                    </mat-list>
                                </div>
                                <div class="col-md-8">
                                    <mat-list role="list">
                                        <mat-list-item role="listitem">{{partnerprofiledetails.age_from}} To {{partnerprofiledetails.age_to}}</mat-list-item>
                                        <mat-list-item role="listitem">{{partnerprofiledetails.height_from}} To {{partnerprofiledetails.height_to}}</mat-list-item>
                                        <mat-list-item role="listitem">{{partnerprofiledetails.religion}}</mat-list-item>
                                        <mat-list-item role="listitem">{{partnerprofiledetails.marital_status}}</mat-list-item>
                                        <mat-list-item role="listitem">{{partnerprofiledetails.mother_tongue}}</mat-list-item>
                                    </mat-list>
                                </div>
                            </div>
                        </div>

                        <!-- location details  starts-->
                        <div class="family-exp">
                            <h6>
                                <mat-icon>person_pin_circle</mat-icon><span>Location Details</span>
                            </h6>
                            <mat-divider></mat-divider>
                            <div class="row">
                                <div class="col-md-2">
                                    <mat-list role="list">
                                        <mat-list-item role="listitem">Country</mat-list-item>
                                        <mat-list-item role="listitem">State</mat-list-item>
                                        <mat-list-item role="listitem">City</mat-list-item>
                                    </mat-list>
                                </div>
                                <div class="col-md-2">
                                    <mat-list role="list">
                                        <mat-list-item role="listitem">:</mat-list-item>
                                        <mat-list-item role="listitem">:</mat-list-item>
                                    </mat-list>
                                </div>
                                <div class="col-md-8">
                                    <mat-list role="list">
                                        <mat-list-item role="listitem">{{partnerprofiledetails.country_living_in}}</mat-list-item>
                                        <mat-list-item role="listitem">{{partnerprofiledetails.state_living_in}}</mat-list-item>
                                        <mat-list-item role="listitem">{{partnerprofiledetails.city_district}}</mat-list-item>

                                    </mat-list>
                                </div>
                            </div>
                        </div>

                        <!-- education details -->
                        <div class="family-exp">
                            <h6>
                                <mat-icon>menu_book

                                </mat-icon><span>Education and Carrer</span>
                            </h6>
                            <mat-divider></mat-divider>
                            <div class="row">
                                <div class="col-md-2">
                                    <mat-list role="list">
                                        <mat-list-item role="listitem">Education</mat-list-item>
                                        <mat-list-item role="listitem">Working with</mat-list-item>
                                        <mat-list-item role="listitem">Profession area</mat-list-item>
                                        <mat-list-item role="listitem">Annual Income</mat-list-item>
                                    </mat-list>
                                </div>
                                <div class="col-md-2">
                                    <mat-list role="list">
                                        <mat-list-item role="listitem">:</mat-list-item>
                                        <mat-list-item role="listitem">:</mat-list-item>
                                        <mat-list-item role="listitem">:</mat-list-item>
                                        <mat-list-item role="listitem">:</mat-list-item>
                                    </mat-list>
                                </div>
                                <div class="col-md-8">
                                    <mat-list role="list">
                                        <mat-list-item role="listitem">{{partnerprofiledetails.education}}</mat-list-item>
                                        <mat-list-item role="listitem">{{partnerprofiledetails.working_with}}</mat-list-item>
                                        <mat-list-item role="listitem">{{partnerprofiledetails.profession_area}}</mat-list-item>
                                        <mat-list-item role="listitem">{{partnerprofiledetails.annual_income_from|amountdesc}} To {{partnerprofiledetails.annual_income_to|amountdesc}}</mat-list-item>
                                    </mat-list>
                                </div>
                            </div>
                        </div>

                        <!-- Others details -->
                        <div class="family-exp">
                            <h6>
                                <mat-icon>menu_book

                                </mat-icon><span>Others</span>
                            </h6>
                            <mat-divider></mat-divider>
                            <div class="row">
                                <div class="col-md-2">
                                    <mat-list role="list">
                                        <mat-list-item role="listitem">Diet</mat-list-item>
                                        <mat-list-item role="listitem">Profile Create By</mat-list-item>
                                    </mat-list>
                                </div>
                                <div class="col-md-2">
                                    <mat-list role="list">
                                        <mat-list-item role="listitem">:</mat-list-item>
                                        <mat-list-item role="listitem">:</mat-list-item>
                                    </mat-list>
                                </div>
                                <div class="col-md-8">
                                    <mat-list role="list">
                                        <mat-list-item role="listitem">{{partnerprofiledetails.diet}}</mat-list-item>
                                        <mat-list-item role="listitem">{{partnerprofiledetails.profile_created_by}}</mat-list-item>
                                    </mat-list>
                                </div>
                            </div>
                        </div>


                    </div>
                </mat-card>
            </div>
            <div class="col-12 col-md-2 mb-3">
                <!-- <div class="card mb-3">
                    <div class="card-body">
                        <div class="px-xl-3">
                            <button class="btn btn-block btn-secondary" [routerLink]="['/dashboard']"
                                routerLinkActive="router-link-active">
                                <span>Back</span>
                            </button>
                        </div>
                    </div>
                </div> -->
                <!-- <div class="card">
                    <div class="card-body">
                        <h6 class="card-title font-weight-bold">Upto 50% OFF</h6>
                        <p class="card-text">Upgrade now & Get Premium benefits for FREE and Let Matches contact you directly.</p>
                        <button type="button" [routerLink]="['/price']" routerLinkActive="router-link-active" class="btn btn-primary">Upgrade</button>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
    <!-- <app-chat></app-chat> -->
</section>