<p-toast position="top-center"></p-toast>
<form #loginForm="ngForm">
    <div class="container">
        <!-- Login page Begins Here -->
        <div class="login" *ngIf="isLogin_Page_Visible">
            <div class="container">
                <div class="logo-sec text-center">
                    <img src="assets/images/logo/logo-bundham.png" alt="Logo">
                </div>
                <h1>Log in</h1>
                <div class="form-group">
                    <input type="email" placeholder="Email" class="form-control" name="txt_user_email" ngModel #txt_user_email="ngModel" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>
                    <div *ngIf="txt_user_email.touched">
                        <p *ngIf="txt_user_email.errors?.required" class="error">Email is a required field!</p>
                        <p *ngIf="txt_user_email.errors?.pattern" class="error">This is not a valid Email!!!</p>
                    </div>
                </div>
                <div class="form-group mt-2 mb-5">
                    <input type="password" placeholder="Password" class="form-control" name="txt_user_password" ngModel #txt_user_password="ngModel" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).{6,12}$" minlength="6" required>
                    <div *ngIf="txt_user_password.invalid && (txt_user_password.dirty || txt_user_password.touched)">
                        <p *ngIf="txt_user_password.errors.required" class="error">Password is required</p>
                        <p *ngIf="txt_user_password.errors.minlength" class="error">Password must be at least 6 characters</p>
                        <p *ngIf="txt_user_password.errors.pattern" class="error">
                            Password should contain atleast one uppercase,one lowercase,one digit!
                        </p>
                    </div>
                </div>
                <div class="submit-sec">
                    <input type="checkbox"><span class="remberme">Remember me</span>
                    <!-- <a routerLinkActive="router-link-active" (click)="gotoForgotpage()">Forgot password?</a> -->
                    <a [routerLink]="['/forgot-password']" routerLinkActive="router-link-active">Forgot password?</a>
                    <button mat-raised-button (click)="newUserLogin(loginForm.value)" [disabled]="!loginForm.valid ? 'disabled': null" color="primary">Log in</button>
                </div>

                <!-- <div class="signin-others text-center">
                    <p>Signin With</p>
                    <button mat-raised-button color="warn"><i class="fab fa-google"></i></button>
                    <button mat-raised-button color="warn"><i class="fab fa-facebook-f"></i></button>
                </div> -->
                <div class="clearfix"></div>
            </div>

        </div>
        <!-- Login page End Here -->

        <!-- forgot password page begin Here -->
        <div class="login" *ngIf="isForgot_Page_Visible">
            <div class="container">
                <app-forgot-password></app-forgot-password>
            </div>
        </div>
        <!-- forgot password page End Here -->

        <!-- Register Page Start Here -->
        <div class="register">
            <div class="container">
                <i class="fas fa-user-plus fa-5x"></i>
                <h2>Matches Within Wed Connect</h2>
                <p>Enter your personal details and start journey with us</p>
                <button [routerLink]="['/home']" routerLinkActive="router-link-active">Register <i
                        class="fas fa-arrow-circle-right"></i></button>
            </div>
        </div>
        <!-- Register Page End Here -->
    </div>

</form>