<section class="matches-section mt-3">
  <p-toast position="top-center"></p-toast>
  <div class="container-fluid">
    <mat-card class="mt-3 mb-3 main-card-matches">
      <mat-tab-group mat-align-tabs="center" animationDuration="0ms">

        <!-- ---------------------Preffered matches section---------------------- -->
        <mat-tab label="Preffered Matches">
          <div class="container-fluid">
            <div class="row mt-3">
              <mat-card class="mt-2 no-data-card1 col-md-7"
                *ngIf="todaymatchesdetails==null ||todaymatchesdetails.length==0 ">
                <div class="text-center">
                  <h3>No data available!</h3>
                </div>
              </mat-card>
              <div class="col-lg-3 col-md-6 col-sm-12"
                *ngFor="let todaymatchesdetail of todaymatchesdetails;let i=index">
                <mat-card class="matches-card mat-elevation-z8 mb-3 mt-3"
                  (click)="viewmoredetails(todaymatchesdetail.userId,todaymatchesdetail.profile_picture,todaymatchesdetail.pictureRights)">
                  <!-- <ngb-carousel>
                                        <div *ngIf="todaymatchesdetail.pictureRights== 'visible'">
                                            <ng-template ngbSlide *ngFor="let imagelist of todaymatchesdetail.profile_picture">
                                                <img [src]="imagelist" alt="Random slide">
                                            </ng-template>
                                        </div>
                                        <div *ngIf="todaymatchesdetail.pictureRights== 'OnAccept'">
                                            <ng-template ngbSlide *ngFor="let imagelist of todaymatchesdetail.profile_picture">
                                                <img [src]="imagelist" alt="Random slide" class="view-image-blur">
                                                <div class="lock-image">
                                                    <div class="lock-accept-details">
                                                        <i class="fa fa-lock" aria-hidden="true"></i>
                                                        <p>OnAccept</p>
                                                    </div>
                                                </div>
                                            </ng-template>
                                        </div>
                                    </ngb-carousel> -->
                  <div *ngIf="todaymatchesdetail.pictureRights== 'visible'">
                    <div>
                      <!-- <img src="assets/images/add-img.jpg" alt="Random"> -->
                      <img *ngIf="todaymatchesdetail.profile_picture!=null"
                        src="{{todaymatchesdetail.profile_picture[0]}}" class="img-fluid" alt="Image">
                    </div>
                  </div>
                  <div *ngIf="todaymatchesdetail.pictureRights== 'OnAccept'">
                    <img *ngIf="todaymatchesdetail.profile_picture!=null"
                      src="{{todaymatchesdetail.profile_picture[0]}}" class="img-fluid view-image-blur" alt="Image">
                    <div class="lock-image">
                      <div class="lock-accept-details">
                        <i class="fa fa-lock" aria-hidden="true"></i>
                        <p>OnAccept</p>
                      </div>
                    </div>
                  </div>
                  <!-- <div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
                                      <div class="carousel-inner">
                                          <div class="carousel-item active" data-interval="10000" *ngFor="let imagelist of todaymatchesdetail.profile_picture">
                                              <img [src]="imagelist" class="d-block w-100" alt="one">
                                          </div>
                                      </div>
                                      <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
                                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                          <span class="sr-only">Previous</span>
                                      </a>
                                      <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
                                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                          <span class="sr-only">Next</span>
                                      </a>
                                  </div> -->
                  <div *ngIf="todaymatchesdetail.profile_picture== '' || todaymatchesdetail.profile_picture== null"
                    class="request-empty-image-sec">
                    <img src="assets/images/matches/request-image.png" alt="Image" class="accept-request-image">
                    <button mat-raised-button color="warn">Request Photo</button>
                  </div>
                  <!-- <img *ngIf="todaymatchesdetail.profile_picture != ''" mat-card-image [src]="todaymatchesdetail.profile_picture" alt="Image"> -->
                  <!-- <span class="badge badge-info" style="position: relative;
                                  bottom: 330px;">Free Member</span> -->
                  <mat-card-content>
                    <div class="title-name">
                      <h4>{{todaymatchesdetail.fullName}}<span class="pull-right" style="font-size: 13px;">
                          <mat-icon *ngIf="todaymatchesdetail.onlineStatus == 'login'">chat</mat-icon>
                          <mat-icon *ngIf="todaymatchesdetail.onlineStatus != 'login'">chat</mat-icon>
                          <span>{{todaymatchesdetail.onlineStatus}}</span>
                          <!-- <i class="fa fa-circle online" style="color: turquoise;" *ngIf="todaymatchesdetail.onlineStatus == 'login'"></i> -->
                          <!-- <i class="fa fa-circle online" style="color: red;" *ngIf="todaymatchesdetail.onlineStatus != 'login'"></i>{{todaymatchesdetail.onlineStatus}} -->
                        </span>
                      </h4>
                    </div>
                    <div class="location-sect">
                      <mat-list role="list">
                        <mat-list-item role="listitem">
                          <mat-icon>location_on</mat-icon>
                          <span>{{todaymatchesdetail.residenceState|titlecase}},{{todaymatchesdetail.residenceCity|titlecase}}</span>
                        </mat-list-item>
                      </mat-list>
                    </div>
                    <mat-divider></mat-divider>
                    <div class="row">
                      <div class="col-md-6">
                        <mat-list role="list">
                          <mat-list-item role="listitem">{{todaymatchesdetail.age}} yrs,
                            <span>height'{{todaymatchesdetail.height}}'</span>
                          </mat-list-item>
                          <mat-list-item role="listitem">
                            {{todaymatchesdetail.motherTongue|titlecase}}</mat-list-item>
                        </mat-list>
                      </div>
                      <div class="col-md-6">
                        <mat-list role="list">
                          <mat-list-item role="listitem">
                            {{todaymatchesdetail.maritalStatus|titlecase}}</mat-list-item>
                          <mat-list-item role="listitem">
                            <span
                              *ngIf="todaymatchesdetail.occupation.length < 12">{{todaymatchesdetail.occupation|titlecase}}</span>
                            <span
                              *ngIf="todaymatchesdetail.occupation.length > 12">{{todaymatchesdetail.occupation.slice(0,12)|titlecase}}...</span>
                          </mat-list-item>
                        </mat-list>
                      </div>
                    </div>
                    <mat-divider></mat-divider>
                    <p class="mt-3">
                      <!-- {{todaymatchesdetail.aboutUs}} -->
                      <!-- <span *ngIf="todaymatchesdetail.aboutUs.length>30"><a
                          (click)="viewmoredetails(todaymatchesdetail.id,todaymatchesdetail.profile_picture[0])"
                          routerLinkActive="router-link-active">more...</a></span> -->
                    </p>
                  </mat-card-content>

                  <div class="btn-sec text-center">
                    <button mat-raised-button color="primary"
                      (click)="Connect(todaymatchesdetail.userId)">Connect</button>
                  </div>
                </mat-card>
              </div>

            </div>

          </div>

        </mat-tab>
        <!-- ---------------------Preffered matches section---------------------- -->


        <!-- ---------------------near by section---------------------- -->
        <mat-tab label="Near-by">
          <div class="container-fluid">
            <div class="recently-viewed-sect">
              <div class="row">
                <div class="col-md-3">
                  <div class="search-card">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <input class="form-control mr-2" type="search" [(ngModel)]="near_page_searchText"
                            placeholder="Search Here.." aria-label="Search">
                        </div>
                      </div>
                    </div>
                    <div class="text-center mb-3 mt-3 divider-filter">OR</div>
                    <mat-accordion *ngFor="let title_filter of new_matches_filter_list?.nearby;let i=index">
                      <mat-expansion-panel [expanded]="true">
                        <mat-expansion-panel-header>
                          <mat-panel-title>
                            {{title_filter.title|titlecase}}
                          </mat-panel-title>
                        </mat-expansion-panel-header>
                        <mat-selection-list>
                          <mat-list-option *ngFor="let item of title_filter.data">
                            {{item}}
                          </mat-list-option>
                        </mat-selection-list>
                      </mat-expansion-panel>
                    </mat-accordion>

                  </div>
                </div>
                <div class="col-md-6">
                  <mat-card class="mt-2 no-data-card"
                    *ngIf="all_nearme_matched_profile_list==null ||all_nearme_matched_profile_list.length==0 ">
                    <div class="text-center">
                      <h3>No data available!</h3>
                    </div>
                  </mat-card>
                  <mat-card class="mt-2 image-card" 
                  (click)="viewmoredetails(near_me_profile.userId,near_me_profile.profile_picture,near_me_profile.pictureRights)" 
                    *ngFor="let near_me_profile of all_nearme_matched_profile_list|filter:near_page_searchText">
                    <div class="row row-flex">
                      <div *ngIf="near_me_profile.pictureRights== 'OnAccept'">
                        <div class="col-md-4" *ngIf="near_me_profile.profile_picture==null">
                          <img src="assets/images/matches/request-image.png" class="img-fluid " alt="Image">
                        </div>

                        <div class="col-md-4" *ngIf="near_me_profile.profile_picture!=null">
                          <img src="{{near_me_profile.profile_picture[0]}}" class="img-fluid view-image-blur" alt="Image">
                        </div>
                        <div class="lock-image">
                          <div class="lock-accept-details">
                            <i class="fa fa-lock" aria-hidden="true"></i>
                            <p>OnAccept</p>
                          </div>
                        </div>
                      </div>

                      <div *ngIf="near_me_profile.pictureRights!= 'OnAccept'">
                        <div class="col-md-4" *ngIf="near_me_profile.profile_picture==null">
                          <img src="assets/images/matches/request-image.png" class="img-fluid " alt="Image">
                        </div>

                        <div class="col-md-4" *ngIf="near_me_profile.profile_picture!=null">
                          <img src="{{near_me_profile.profile_picture[0]}}" class="img-fluid" alt="Image">
                        </div>
                        
                      </div>
                      
                      <div class="col-md-8">
                        <mat-card-content>
                          <h4>{{near_me_profile.fullName}}</h4>
                          <p>
                            <mat-icon> chat </mat-icon><span>&nbsp; {{near_me_profile.onlineStatus}}</span>
                          </p>
                          <mat-divider></mat-divider>
                          <div class="row">
                            <div class="col-md-6">
                              <mat-list role="list">
                                <mat-list-item role="listitem">{{near_me_profile.age}} yrs, {{near_me_profile.height}} ft
                                  
                                </mat-list-item>
                                <mat-list-item role="listitem">
                                  {{near_me_profile.motherTongue}}</mat-list-item>
                                <mat-list-item role="listitem">{{near_me_profile.residenceState}} ,
                                  {{near_me_profile.residenceCity}}
                                </mat-list-item>
                              </mat-list>
                            </div>
                            <div class="col-md-6">
                              <mat-list role="list">
                                <mat-list-item role="listitem">{{near_me_profile.maritalStatus}}
                                </mat-list-item>
                                <mat-list-item role="listitem">
                                  {{near_me_profile.religion}} , {{near_me_profile.caste}}</mat-list-item>
                                <mat-list-item role="listitem">
                                  {{near_me_profile.education}}</mat-list-item>
                              </mat-list>
                            </div>
                            <!-- <div class="col-md-12 recent-view-para">
                                                            <p>Get look into my profile contact to know more more...</p>
                                                        </div> -->
                          </div>
                        </mat-card-content>
                        <div class="btn-sect">
                          <button mat-raised-button color="primary"
                            (click)="Connect(near_me_profile.userId)">Connect</button>
                          <button mat-raised-button color="warn">Reject</button>
                        </div>
                      </div>
                    </div>
                  </mat-card>

                </div>
                <div class="col-md-3">
                  <div>
                    <img src="assets/images/add-img.jpg" alt="Image">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </mat-tab>
        <!-- ---------------------near by section---------------------- -->

        <!-- ---------------------viewed Matches---------------------- -->
        <mat-tab label="Viewed Matches">
          <div class="container-fluid">
            <div class="recently-viewed-sect">
              <div class="row">
                <div class="col-md-3">
                  <div class="search-card">
                    <div class="row">
                      <label class="col-sm-3 col-form-label">Profiles</label>
                      <!-- <div class="col-md-9">
                                                <div class="form-group">
                                                    <input class="form-control mr-2" type="search" [(ngModel)]="recent_Page_searchText" placeholder="Search Here.." aria-label="Search">
                                                </div>
                                            </div> -->
                    </div>
                    <mat-card>
                      <!-- Filters -->
                      <!-- <mat-selection-list #shoes>
                                                <mat-list-option *ngFor="let search of typesOfSearch">
                                                    {{search}}
                                                </mat-list-option>
                                            </mat-selection-list> -->
                      <mat-radio-button *ngFor="let search of typesOfSearch;let i=index"
                        (click)="FilteredViewedmatchesRecords(i)">{{search}}</mat-radio-button>
                    </mat-card>
                    <!-- <mat-accordion>
                                            <mat-expansion-panel [expanded]="true">
                                                <mat-expansion-panel-header>
                                                    <mat-panel-title>
                                                        Country
                                                    </mat-panel-title>
                                                </mat-expansion-panel-header>
                                                <mat-selection-list>
                                                    <mat-list-option *ngFor="let search of typesOfSearch">
                                                        {{search}}
                                                    </mat-list-option>
                                                </mat-selection-list>
                                            </mat-expansion-panel>
                                        </mat-accordion>
                                        <mat-accordion>
                                            <mat-expansion-panel [expanded]="true">
                                                <mat-expansion-panel-header>
                                                    <mat-panel-title>
                                                        State
                                                    </mat-panel-title>
                                                </mat-expansion-panel-header>
                                                <mat-selection-list>
                                                    <mat-list-option *ngFor="let search of typesOfSearch">
                                                        {{search}}
                                                    </mat-list-option>
                                                </mat-selection-list>
                                            </mat-expansion-panel>
                                        </mat-accordion>
                                        <mat-accordion>
                                            <mat-expansion-panel [expanded]="true">
                                                <mat-expansion-panel-header>
                                                    <mat-panel-title>
                                                        City
                                                    </mat-panel-title>
                                                </mat-expansion-panel-header>
                                                <mat-selection-list>
                                                    <mat-list-option *ngFor="let search of typesOfSearch">
                                                        {{search}}
                                                    </mat-list-option>
                                                </mat-selection-list>
                                            </mat-expansion-panel>
                                        </mat-accordion> -->
                  </div>
                </div>
                <div class="col-md-6">
                  <mat-card class="mt-2 no-data-card"
                    *ngIf="all_rencently_viewed_profile_list==null || all_rencently_viewed_profile_list.length==0">
                    <div class="text-center">
                      <h3>No data available!</h3>
                    </div>
                  </mat-card>

                  <mat-card class="mt-2 image-card"
                  (click)="viewmoredetails(recently_viewed_profile.userId,recently_viewed_profile.profile_picture,recently_viewed_profile.pictureRights)" 
                    *ngFor="let recently_viewed_profile of all_rencently_viewed_profile_list|filter:recent_Page_searchText">
                    <div class="row row-flex">
                      <div class="col-md-4" *ngIf="recently_viewed_profile.pictureRights== 'OnAccept'">
                        <img *ngIf="recently_viewed_profile.profile_picture!=null"
                          src="{{recently_viewed_profile.profile_picture[0]}}" class="img-fluid view-image-blur" alt="Image">
                        <img *ngIf="recently_viewed_profile.profile_picture==null"
                          src="assets/images/matches/request-image.png" class="img-fluid "
                          alt="Image">
                          <div class="lock-image">
                            <div class="lock-accept-details">
                              <i class="fa fa-lock" aria-hidden="true"></i>
                              <p>OnAccept</p>
                            </div>
                          </div>
                      </div>

                      <div class="col-md-4" *ngIf="recently_viewed_profile.pictureRights!= 'OnAccept'">
                        <img *ngIf="recently_viewed_profile.profile_picture!=null"
                          src="{{recently_viewed_profile.profile_picture[0]}}" class="img-fluid " alt="Image">
                        <img *ngIf="recently_viewed_profile.profile_picture==null"
                          src="assets/images/matches/request-image.png" class="img-fluid "
                          alt="Image">
                      </div>

                      <div class="col-md-8">
                        <mat-card-content>
                          <h4>{{recently_viewed_profile.fullName}}</h4>
                          <p>
                            <mat-icon> chat </mat-icon><span>&nbsp;{{recently_viewed_profile.onlineStatus}}</span>
                          </p>
                          <mat-divider></mat-divider>
                          <div class="row">
                            <div class="col-md-6">
                              <mat-list role="list">
                                <mat-list-item role="listitem">{{recently_viewed_profile.age}} yrs, height
                                  {{recently_viewed_profile.height}}
                                </mat-list-item>
                                <mat-list-item role="listitem">
                                  {{recently_viewed_profile.motherTongue}}</mat-list-item>
                                <mat-list-item role="listitem">{{recently_viewed_profile.residenceState}},
                                  {{recently_viewed_profile.residenceCity}}
                                </mat-list-item>
                              </mat-list>
                            </div>
                            <div class="col-md-6">
                              <mat-list role="list">
                                <mat-list-item role="listitem">{{recently_viewed_profile.maritalStatus}}
                                </mat-list-item>
                                <mat-list-item role="listitem">
                                  {{recently_viewed_profile.religion}},{{recently_viewed_profile.caste}}</mat-list-item>
                                <mat-list-item role="listitem">
                                  {{recently_viewed_profile.education}}</mat-list-item>
                              </mat-list>
                            </div>
                            <!-- <div class="col-md-12 recent-view-para">
                                                            <p>Get look into my profile contact to know more more...</p>
                                                        </div> -->
                          </div>
                        </mat-card-content>
                        <div class="btn-sect">
                          <button mat-raised-button color="primary"
                            (click)="Connect(recently_viewed_profile.userId)">Connect</button>
                          <button mat-raised-button color="warn">Reject</button>
                        </div>
                      </div>
                    </div>
                  </mat-card>

                </div>
                <div class="col-md-3">
                  <div>
                    <img src="assets/images/add-img.jpg" alt="Image">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </mat-tab>
        <!-- ---------------------viewed Matches---------------------- -->

        <!-- ---------------------All matches section---------------------- -->
        <mat-tab label="All Matches">
          <div class="container-fluid">
            <div class="recently-viewed-sect">
              <div class="row">
                <div class="col-md-3">
                  <div class="search-card">
                    <div class="row">
                      <!-- <label class="col-sm-3 col-form-label">Filters</label> -->
                      <div class="col-md-12">
                        <div class="form-group">
                          <input class="form-control mr-2" type="search" [(ngModel)]="new_matches_page_searchText"
                            placeholder="Search Here.." aria-label="Search">
                        </div>
                      </div>
                    </div>
                    <div class="text-center mb-3 mt-3 divider-filter">OR</div>
                    <mat-accordion *ngFor="let title_filter of new_matches_filter_list?.response;let i=index">
                      <!-- {{new_matches_heading_filter|json}} -->
                      <mat-expansion-panel [expanded]="true">
                        <mat-expansion-panel-header>
                          <mat-panel-title>
                            {{title_filter.title|titlecase}}
                          </mat-panel-title>
                        </mat-expansion-panel-header>
                        <!-- <p-checkbox name="groupname" value="{{items.religion}}" [(ngModel)]="selectedValues"  *ngFor="let items of new_matches_filter_list;let j=index">{{items.religion}}</p-checkbox> -->
                        <mat-selection-list>
                          <mat-list-option *ngFor="let item of title_filter.data">
                            {{item}}
                          </mat-list-option>
                        </mat-selection-list>
                      </mat-expansion-panel>
                    </mat-accordion>
                    <!-- <mat-accordion>
                                            <mat-expansion-panel [expanded]="true">
                                                <mat-expansion-panel-header>
                                                    <mat-panel-title>
                                                        State
                                                    </mat-panel-title>
                                                </mat-expansion-panel-header>
                                                <mat-selection-list>
                                                    <mat-list-option *ngFor="let search of typesOfSearch">
                                                        {{search}}
                                                    </mat-list-option>
                                                </mat-selection-list>
                                            </mat-expansion-panel>
                                        </mat-accordion> -->
                    <!-- <mat-accordion>
                                            <mat-expansion-panel [expanded]="true">
                                                <mat-expansion-panel-header>
                                                    <mat-panel-title>
                                                        City
                                                    </mat-panel-title>
                                                </mat-expansion-panel-header>
                                                <mat-selection-list>
                                                    <mat-list-option *ngFor="let search of typesOfSearch">
                                                        {{search}}
                                                    </mat-list-option>
                                                </mat-selection-list>
                                            </mat-expansion-panel>
                                        </mat-accordion> -->
                  </div>
                </div>
                <div class="col-md-6">
                  <mat-card class="mt-2 no-data-card"
                    *ngIf="all_matches_profile_list==null || all_matches_profile_list.length==0">
                    <div class="text-center">
                      <h3>No data available!</h3>
                    </div>
                  </mat-card>
                  <mat-card class="mt-2 image-card"  
                  (click)="viewmoredetails(all_matches_profile.userId,all_matches_profile.profile_picture,all_matches_profile.pictureRights)"  
                    *ngFor="let all_matches_profile of all_matches_profile_list|filter:new_matches_page_searchText">
                    <div class="row row-flex">
                      <div class="col-md-4" *ngIf="all_matches_profile.pictureRights== 'OnAccept'">
                        <img *ngIf="all_matches_profile.profile_picture!=null"
                          src="{{all_matches_profile.profile_picture[0]}}" class="img-fluid view-image-blur" alt="Image">
                        <img *ngIf="all_matches_profile.profile_picture==null"
                          src="assets/images/matches/request-image.png" class="img-fluid"
                          alt="Image">
                          <div class="lock-image">
                            <div class="lock-accept-details">
                              <i class="fa fa-lock" aria-hidden="true"></i>
                              <p>OnAccept</p>
                            </div>
                          </div>
                      </div>

                      <div class="col-md-4" *ngIf="all_matches_profile.pictureRights!= 'OnAccept'">
                        <img *ngIf="all_matches_profile.profile_picture!=null"
                          src="{{all_matches_profile.profile_picture[0]}}" class="img-fluid " alt="Image">
                        <img *ngIf="all_matches_profile.profile_picture==null"
                          src="assets/images/matches/request-image.png" class="img-fluid "
                          alt="Image">
                      </div>


                      <div class="col-md-8">
                        <mat-card-content>
                          <h4>{{all_matches_profile.fullName}}</h4>
                          <p>
                            <mat-icon> chat </mat-icon><span>&nbsp;{{all_matches_profile.onlineStatus}}</span>
                          </p>
                          <mat-divider></mat-divider>
                          <div class="row">
                            <div class="col-md-6">
                              <mat-list role="list">
                                <mat-list-item role="listitem">{{all_matches_profile.age}} yrs, height
                                  {{all_matches_profile.height}}
                                </mat-list-item>
                                <mat-list-item role="listitem">
                                  {{all_matches_profile.motherTongue}}</mat-list-item>
                                <mat-list-item role="listitem">{{all_matches_profile.residenceState}},
                                  {{all_matches_profile.residenceCity}}
                                </mat-list-item>
                              </mat-list>
                            </div>
                            <div class="col-md-6">
                              <mat-list role="list">
                                <mat-list-item role="listitem">{{all_matches_profile.maritalStatus}}
                                </mat-list-item>
                                <mat-list-item role="listitem">
                                  {{all_matches_profile.religion}},{{all_matches_profile.caste}}</mat-list-item>
                                <mat-list-item role="listitem">
                                  {{all_matches_profile.education}}</mat-list-item>
                              </mat-list>
                            </div>
                            <!-- <div class="col-md-12 recent-view-para">
                                                            <p>Get look into my profile contact to know more more...</p>
                                                        </div> -->
                          </div>
                        </mat-card-content>
                        <div class="btn-sect">
                          <button mat-raised-button color="primary"
                            (click)="Connect(all_matches_profile.userId)">Connect</button>
                          <button mat-raised-button color="warn">Reject</button>
                        </div>
                      </div>
                    </div>
                  </mat-card>

                </div>
                <div class="col-md-3">
                  <div>
                    <img src="assets/images/add-img.jpg" alt="Image">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </mat-tab>
        <!-- ---------------------All matches section---------------------- -->


      </mat-tab-group>
    </mat-card>
  </div>
  <app-chat></app-chat>
</section>