<div class="footer-section">
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4 footer-one">
                    <h5>About Us </h5>
                    <p>Bundham is meant for the Indian community living in India and abroad. </p>
                    <div class="social-icons mt-3">
                        <a href="https://www.facebook.com/"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
                        <a href="https://twitter.com/"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
                        <a href="https://plus.google.com/"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>
                        <a href="mailto:bootsnipp@gmail.com"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
                    </div>
                </div>
                <div class="col-md-3 footer-two">
                    <h5>Information </h5>
                    <ul>
                        <li><a href="contact.html">Contact Us</a></li>
                        <li><a href="about.html">Testimonials</a></li>
                        <li><a href="about.html">About Us</a></li>
                    </ul>
                </div>
                <div class="col-md-3 footer-three">
                    <h5>Company </h5>
                    <ul>
                        <li><a [routerLink]="['/terms&conditions']">Terms and conditions</a></li>
                        <li><a [routerLink]="['/privacy']">privacy policy</a></li>
                        <!-- <li><a href="about.html">Testimonials</a></li>
                        <li><a href="about.html">Careers</a></li>
                        <li><a href="about.html">Partners</a></li> -->
                    </ul>
                </div>
                <div class="col-md-2 footer-four">
                    <h5>Other Services </h5>
                    <ul>
                        <li><a href="#">Advertisement</a></li>
                        <li><a href="#">Customer Support</a></li>


                    </ul>
                </div>

                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center ">
                    <div class="copyright-text">
                        <p>CopyRight © 2017 Digital All Rights Reserved</p>
                    </div>
                </div>
                <!-- End Col -->

            </div>
        </div>
    </div>
</div>