select{
  font-size: 16px;
  padding: 0px;
  margin-right: 15px;
  color: #546E7A;
  border-color: #686868;
  border-radius: 5px;
}
.bg-dark {
  // background-color: #ae1f45 !important;
  background: linear-gradient(220deg, #ec5252 -10%, #6e1a52 70%);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-transition: 500ms ease;
  transition: 500ms ease;
  padding: 0px;
  height: 100px;
}

.navbar-brand {
  img {
    width: 135px;
    //   margin-top: 25px;
  }
}

.navbar-dark {
  .navbar-nav {
    .nav-item {
      margin-left: 30px;
    }

    .nav-link {
      color: #ffffffcc;
      font-size: 18px;
      font-weight: 500;
      border-color: #ffffffad;
      border-radius: 30px;
      border: 2px solid #fff17675;
      background: rgba(0, 0, 0, .3);
    }
  }
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: .8rem;
  padding-left: .8rem;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: .8rem;
  padding-left: .8rem;
}

.bg-dark.scrolled {
  // background: -webkit-linear-gradient(45deg, @primary-color 48%, @secondary-color 48%);
  // background: -webkit-linear-gradient(left, @primary-color 48%, @secondary-color 48%);
  // background: linear-gradient(45deg, @primary-color 48%, @secondary-color 48%);
  background-color: #1a2d40 !important;
  transition: 500ms ease;
  display: none;
}

h5 {
  font-size: 18px;
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;
  color: #707070;
  position: relative;
  padding-bottom: 16px;
  margin-top: 20px;
}

.tc-style {
  border: 1px solid #cecece82;
  padding: 13px;
  border-radius: 5px;
  margin-top: 10px;
}

.footer-border {
  border-top: 1px solid rgba(0, 0, 0, 0.09);
  margin-top: 50px;
}

.mat-card {
  box-shadow: 0px 2px 1px -1px #ad14578c, 0px 1px 1px 0px #ad145787, 0px 1px 3px 0px #ad14578c;
}

.example-margin {
  margin: 0 10px;
}

label {
  font-size: 20px;
}

.mat-form-field {
  width: 100%;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}