
<!-- Navbar  -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="header">
  <div class="container">
    <a class="navbar-brand" href="#"><img src="assets/images/logo/logo-bundham.png">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
      aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#" mat-stroked-button color="warn" [routerLink]="['/signup']"
            routerLinkActive="router-link-active">Login
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <!-- <li class="nav-item">
                    <a class="nav-link" href="#" mat-stroked-button color="warn" [routerLink]="['/register']" routerLinkActive="router-link-active">Sign-up</a>
                </li> -->
      </ul>
    </div>
  </div>
</nav>
<!-- End Navbar  --> 

<div class="container">
  <p-toast position="top-center"></p-toast>
  <mat-card style="margin-top: 130px;">

    <mat-horizontal-stepper [linear]="isLinear" #stepper>
      <mat-step [stepControl]="firstform">
        <form #firstform="ngForm" name="firstform"> 
          <ng-template matStepLabel>Basic information</ng-template>
          <div class="form-group row">
            <label for="" class="col-3 col-form-label">Date Of Birth</label>
            <div class="col-6 mt-2">
              <!-- <mat-form-field>
                                <mat-label>Choose a date</mat-label>
                                <input matInput [matDatepicker]="picker" name="txt_user_dob" ngModel #txt_user_dob="ngModel" required>
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field> -->
              <select name="DOBDay" ngModel>
                <option value="">- Day -</option>
                <option *ngFor="let day_num of day_list">{{day_num}}</option>
              </select>

              <select name="DOBMonth" ngModel>
                <option value="">- Month -</option>
               <option value="{{month.value}}" *ngFor="let month of month_list">{{month.label}}</option>
              </select>
              <select name="DOBYear" ngModel>
                <option value="">- Year -</option>
                <option value="{{year}}" *ngFor="let year of year_list">{{year}}</option>
               </select>
              <div>
                <!-- <p *ngIf="txt_user_dob.errors?.required && txt_user_dob.touched" class="error">Date Of Birth is a required field!</p> -->
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="" class="col-3  col-form-label">Height</label>
            <div class="col-4">
              <mat-form-field>
                <mat-label>Select</mat-label>
                <mat-select name="ddl_user_height" ngModel #ddl_user_height="ngModel" required>
                  <mat-option>-Select-</mat-option>
                  <mat-option value=5>5</mat-option>
                  <mat-option value=5.5>5.5</mat-option>
                  <mat-option value=6>6</mat-option>
                  <mat-option value=6.5>6.5</mat-option>
                  <mat-option value=7>7</mat-option>
                  <mat-option value=7.5>7.5</mat-option>
                  <mat-option value=8>8</mat-option>
                  <mat-option value=8.5>8.5</mat-option>
                </mat-select>
              </mat-form-field>
              <div>
                <p *ngIf="ddl_user_height.errors?.required && ddl_user_height.touched" class="error">Height is a
                  required field!</p>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label for="" class="col-3 col-form-label">Martial Status</label>
            <div class="col-6 mt-2">
              <!-- <mat-radio-group aria-label="Select an option" name="ddl_user_appearence" ngModel #ddl_user_appearence="ngModel" required>
                                <mat-radio-button class="example-margin" *ngFor="let apperance of Apperance_list" value="{{apperance}}">
                                    {{apperance}}</mat-radio-button>

                            </mat-radio-group> -->
              <mat-radio-group aria-label="Select an option">
                <mat-radio-button value="Never Married">Never Married</mat-radio-button>
                <mat-radio-button value="Divorced">Divorced</mat-radio-button>
                <mat-radio-button value="Widow">Widow</mat-radio-button>
              </mat-radio-group>
            </div>
            <div>
              <!-- <p *ngIf="ddl_user_appearence.errors?.required && ddl_user_appearence.touched" class="error">Appearence is a required field!</p> -->
            </div>
          </div>

          <div class="form-group row">
            <label for="" class="col-3 col-form-label">Physically Challenged</label>
            <div class="col-6 mt-2">

              <mat-radio-group aria-label="Select an option" name="ddl_user_appearence" ngModel  #ddl_user_appearence="ngModel">
                <mat-radio-button value="Yes">Yes</mat-radio-button>
                <mat-radio-button value="No">No</mat-radio-button>
              </mat-radio-group>
            </div>
            <div>
              <!-- <p *ngIf="ddl_user_appearence.errors?.required && ddl_user_appearence.touched" class="error">Appearence is a required field!</p> -->
            </div>
          </div>

          <div class="form-group row">
            <label for="" class="col-3 col-form-label">Religion</label>
            <div class="col-4">
              <mat-form-field>
                <mat-label>Select</mat-label>
                <mat-select name="ddl_user_religion" ngModel #ddl_user_religion="ngModel" required>
                  <mat-option>-Select-</mat-option>
                  <mat-option *ngFor="let religion of religion_lists" [value]="religion">{{religion}}</mat-option>
                </mat-select>
              </mat-form-field>
              <div>
                <p *ngIf="ddl_user_religion.errors?.required && ddl_user_religion.touched" class="error">Religion is a
                  required field!</p>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label for="" class="col-3 col-form-label">Mother Tongue</label>
            <div class="col-4">
              <mat-form-field>
                <mat-label>Select</mat-label>
                <mat-select name="ddl_user_mothertongue" ngModel #ddl_user_mothertongue="ngModel" required>
                  <mat-option>-Select-</mat-option>
                  <mat-option *ngFor="let mother_tongue_list of mother_tongue_list" [value]="mother_tongue_list">
                    {{mother_tongue_list}}</mat-option>
                </mat-select>
              </mat-form-field>
              <div>
                <p *ngIf="ddl_user_mothertongue.errors?.required && ddl_user_mothertongue.touched" class="error">Mother
                  Tongue is a required field!</p>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label for="" class="col-3 col-form-label">Caste</label>
            <div class="col-4">
              <mat-form-field>
                <mat-label>Select</mat-label>
                <mat-select name="ddl_user_caste" ngModel #ddl_user_caste="ngModel" required>
                  <mat-option>-Select-</mat-option>
                  <mat-option *ngFor="let caste_list of caste_list" [value]="caste_list">{{caste_list}}</mat-option>
                </mat-select>
              </mat-form-field>
              <div>
                <p *ngIf="ddl_user_caste.errors?.required && ddl_user_caste.touched" class="error">Caste is a required
                  field!
                </p>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label for="" class="col-3 col-form-label">Sub Caste</label>
            <div class="col-4">
              <mat-form-field>
                <input matInput placeholder="Sub Caste" name="txt_user_subcaste" [(ngModel)]="txt_user_subcaste">
              </mat-form-field>
            </div>
          </div>

          <div class="form-group row">
            <label for="" class="col-3 col-form-label">Gothram</label>
            <div class="col-4">
              <mat-form-field>
                <mat-label>Select</mat-label>
                <mat-select name="ddl_user_gothram" ngModel #ddl_user_gothram="ngModel" required>
                  <mat-option>-Select-</mat-option>
                  <mat-option *ngFor="let gothram_list of gothram_list" [value]="gothram_list">{{gothram_list}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <div>
                <p *ngIf="ddl_user_gothram.errors?.required && ddl_user_gothram.touched" class="error">Gothram is a
                  required field!</p>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label for="" class="col-3 col-form-label">Dhosam</label>
            <div class="col-4">
              <mat-form-field>
                <mat-label>Select</mat-label>
                <mat-select name="ddl_user_dosham" ngModel #ddl_user_dosham="ngModel" required>
                  <mat-option>-Select-</mat-option>
                  <mat-option value="Yes">Yes</mat-option>
                  <mat-option value="No">No</mat-option>
                  <mat-option value="Dont Know">Dont Know</mat-option>
                </mat-select>
              </mat-form-field>
              <div>
                <p *ngIf="ddl_user_dosham.errors?.required && ddl_user_dosham.touched" class="error">Dosham is a
                  required field!</p>
              </div>
            </div>
          </div>
          <div>
            <button mat-button matStepperNext class="pull-right"
              [disabled]="!firstform.valid? 'disabled': null">Next</button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="secondform">
        <form #secondform="ngForm">
          <ng-template matStepLabel>Family & Location</ng-template>
          <div class="form-group row">
            <label for="" class="col-3 col-form-label">Family type</label>
            <div class="col-4">
              <mat-form-field>
                <mat-label>Select</mat-label>
                <mat-select name="ddl_user_familytype" ngModel #ddl_user_familytype="ngModel" required>
                  <mat-option>-Select-</mat-option>
                  <mat-option value="Joint Family">Joint Family</mat-option>
                  <mat-option value="Nuclear">Nuclear</mat-option>
                </mat-select>
              </mat-form-field>
              <div>
                <p *ngIf="ddl_user_familytype.errors?.required && ddl_user_familytype.touched" class="error">Family Type
                  is a required field!</p>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label for="" class="col-3 col-form-label">Residence country</label>
            <div class="col-4">
              <mat-form-field>
                <mat-label>Select</mat-label>
                <mat-select name="ddl_user_country" ngModel #ddl_user_country="ngModel" required
                  (ngModelChange)="DisplayResidencyCountryID(ddl_user_country.value)">
                  <mat-option>-Select-</mat-option>
                  <mat-option *ngFor="let country_list of all_country_list" [value]="country_list.countryName">
                    {{country_list.countryName}}</mat-option>
                </mat-select>
              </mat-form-field>
              <div>
                <p *ngIf="ddl_user_country.errors?.required && ddl_user_country.touched" class="error">Country is a
                  required field!</p>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label for="" class="col-3 col-form-label"> Residence State </label>
            <div class="col-4">
              <mat-form-field>
                <mat-label>Select</mat-label>
                <mat-select name="ddl_user_state" ngModel #ddl_user_state="ngModel" required
                  (ngModelChange)="DisplayResidencyStateID(ddl_user_state.value)">
                  <mat-option>-Select-</mat-option>
                  <mat-option *ngFor="let state of all_state_list" [value]="state.stateName">{{state.stateName}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <div>
                <p *ngIf="ddl_user_state.errors?.required && ddl_user_state.touched" class="error">State is a required
                  field!
                </p>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label for="" class="col-3 col-form-label">Residence City </label>
            <div class="col-4">
              <mat-form-field>
                <mat-label>Select</mat-label>
                <mat-select name="ddl_user_city" ngModel #ddl_user_city="ngModel" required>
                  <mat-option>-Select-</mat-option>
                  <mat-option *ngFor="let city of all_city_list" [value]="city.cityName">{{city.cityName}}</mat-option>
                </mat-select>
              </mat-form-field>
              <div>
                <p *ngIf="ddl_user_city.errors?.required && ddl_user_city.touched" class="error">City is a required
                  field!
                </p>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label for="" class="col-3 col-form-label">Bride / Groom Citizenship</label>
            <div class="col-4">
              <mat-form-field>
                <input matInput placeholder="Bride / Groom Citizenship" name="txt_user_citizan" ngModel
                  #txt_user_citizan="ngModel" required>
              </mat-form-field>
              <p *ngIf="txt_user_citizan.errors?.required && txt_user_citizan.touched" class="error">Citizenship is a
                required field!</p>
            </div>
          </div>

          <div class="form-group row">
            <label for="" class="col-3 col-form-label">Visa Status</label>
            <div class="col-4">
              <mat-form-field>
                <input matInput placeholder="Visa Status" name="txt_user_visastatus" ngModel
                  #txt_user_visastatus="ngModel" required>
              </mat-form-field>

              <p *ngIf="txt_user_visastatus.errors?.required && txt_user_visastatus.touched" class="error">Visa Status
                is a required field!</p>

            </div>

          </div>

          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext class="pull-right"
              [disabled]="!secondform.valid? 'disabled': null">Next</button>
          </div>
        </form>
      </mat-step>


      <mat-step>
        <ng-template matStepLabel>Education</ng-template>
        <!-- <p>You are now done.</p>
                <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button (click)="stepper.reset()">Reset</button>
                </div> -->
        <form #thirdform="ngForm">
          <ng-template matStepLabel>Family Background</ng-template>
          <div class="form-group row">
            <label for="" class="col-3 col-form-label">Education</label>
            <div class="col-4">
              <mat-form-field>
                <mat-label>Select</mat-label>
                <mat-select name="ddl_user_education" ngModel #ddl_user_education="ngModel" required>
                  <mat-option>-Select-</mat-option>
                  <mat-optgroup *ngFor="let education_list of education_lists" [label]="education_list.name"
                    [disabled]="education_list.disabled">
                    <mat-option *ngFor="let education_name of education_list.list" [value]="education_name">
                      {{education_name}}
                    </mat-option>
                  </mat-optgroup>
                </mat-select>

              </mat-form-field>
              <div>
                <p *ngIf="ddl_user_education.errors?.required && ddl_user_education.touched" class="error">Education is
                  a required field!</p>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label for="" class="col-3 col-form-label">Employment</label>
            <div class="col-4">
              <mat-form-field>
                <mat-label>Select</mat-label>
                <mat-select name="ddl_user_employment" ngModel #ddl_user_employment="ngModel" required>
                  <mat-option>-Select-</mat-option>
                  <mat-option value="Private Company">Private Company</mat-option>
                  <mat-option value="Government / Public Sector">Government / Public Sector</mat-option>
                  <mat-option value="Defense / Civil Services">Defense / Civil Services</mat-option>
                  <mat-option value="Businees / Self Employed">Businees / Self Employed</mat-option>
                  <mat-option value="Not Working">Not Working</mat-option>
                </mat-select>
              </mat-form-field>
              <div>
                <p *ngIf="ddl_user_employment.errors?.required && ddl_user_employment.touched" class="error">Emplyment
                  is a required field!</p>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label for="" class="col-3 col-form-label">Occupation</label>
            <div class="col-4">
              <mat-form-field>
                <mat-label>Select</mat-label>
                <mat-select name="ddl_user_occupation" ngModel #ddl_user_occupation="ngModel" required>
                  <mat-option>-Select-</mat-option>
                  <mat-optgroup *ngFor="let occupation_list of occupation_list" [label]="occupation_list.name"
                    [disabled]="occupation_list.disabled">
                    <mat-option *ngFor="let occupation_name of occupation_list.list" [value]="occupation_name">
                      {{occupation_name}}
                    </mat-option>
                  </mat-optgroup>
                </mat-select>
              </mat-form-field>
              <div>
                <p *ngIf="ddl_user_occupation.errors?.required && ddl_user_occupation.touched" class="error">Occupation
                  is a required field!</p>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="" class="col-3 col-form-label">Annual Income</label>
            <div class="col-4">
              <mat-form-field>
                <mat-label>Select</mat-label>
                <mat-select name="ddl_user_income" ngModel #ddl_user_income="ngModel" required>
                  <mat-option *ngFor="let userincome of user_income_list" [value]="userincome.value">
                    {{userincome.label}}</mat-option>
                </mat-select>
              </mat-form-field>
              <div>
                <p *ngIf="ddl_user_income.errors?.required && ddl_user_income.touched" class="error">Annual Income is a
                  required field!</p>
              </div>
            </div>
          </div>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-raised-button color="primary" class="pull-right" [disabled]="!thirdform.valid? 'disabled': null"
              (click)="SendOTP(firstform.value,secondform.value,thirdform.value)">Submit</button>

          </div>
        </form>
      </mat-step>
    </mat-horizontal-stepper>
  </mat-card>
</div>

<!-- footer section -->
<div class="footer-border">
  <app-footer></app-footer>
</div>