.user-approval {
    margin-top: 20px;

    .mat-card {
        padding: 8px;
    }

    .btn-sec {
        margin: 5px;

        button {
            min-width: 75px;
            line-height: 30px;
            padding: 0 10px;
        }
    }

    .search-hero {
        margin-top: 12px;
    }
}

.mat-form-field {
    width: 100%;
}

.heading-sec {
    .btn-sec {
        button {
            margin: 5px;
        }
    }
}

.approve-reject-sect {
    margin-top: 5px;
    margin-bottom: 10px;

    .mat-card.content-data-card {
        padding: 0px;
        box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.3), 0px 1px 1px 0px rgba(0, 0, 0, 0.38), 0px 1px 3px 0px rgba(0, 0, 0, 0.49);
        height: 120px;
    }

    .mat-list-base .mat-list-item,
    .mat-list-base .mat-list-option {
        height: 25px;
    }

    .mat-card .mat-divider-horizontal {
        width: 96%;
    }

    .mat-card-actions,
    .mat-card-content,
    .mat-card-subtitle {
        margin-bottom: 0px;
    }

    img {
        height: 120px;
        width: 100%;
    }

    .mat-card-content {
        margin-top: 5px;

        h4 {
            margin-bottom: 0px;
        }
    }

    .mat-list-base .mat-list-item,
    .mat-list-base .mat-list-option {
        font-size: 15px;
    }

    h4 {
        font-size: 15px;
    }

    p {
        font-size: 13px;

        span {
            position: relative;
            top: -8px;
        }
    }

    .btn-sect {
        margin-top: 5px;

        button {
            margin: 5px;
            line-height: 30px;
            padding: 0 8px;
        }

        .mat-checkbox {
            margin: 2px;
            font-size: 15px;
        }
    }

}

.no-data-card1 {
    background: #b6b7b6;
    margin: 0 auto;
    margin-bottom: 20px;

    h3 {
        font-size: 20px;
    }
}