.carousel-caption {
  position: absolute;
  right: 15%;
  top: 336px;
  bottom: 0px;
  left: 9%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: left;
}

.display-4 {
  font-size: 45px;
  font-weight: 300;
  line-height: 1.2;
  // color: #f1ecbf78;
  color: #ffff;
}

.lead {
  font-size: 16px;
  font-weight: 300;
  margin-left: 10px;
}



.banner-form {
  background-color: #ffffff42;
  padding: 40px;
  border-radius: 8px;
  label{
    color: white;
  }
}


// testing
// .colorlib-search .search-wrap {
//   width: 100% !important;
//   display: block!important;
//   margin-top: -8em!important;
//   z-index: 9!important;
// }

// .colorlib-search .search-wrap-2 {
//   background: #302a39!important;
//   padding: 35px!important;
//   -webkit-box-shadow: 0px 15px 46px -24px rgba(0, 0, 0, 0.41);
//   -moz-box-shadow: 0px 15px 46px -24px rgba(0, 0, 0, 0.41);
//   box-shadow: 0px 15px 46px -24px rgba(0, 0, 0, 0.41);
//   -webkit-border-radius: 2px;
//   -moz-border-radius: 2px;
//   -ms-border-radius: 2px;
//   border-radius: 2px;
// }
// .row:before, .row:after {
//     content: " ";
//     display: table;
// }
.form-inline .form-control {
  display: inline-block;
  width: auto;
  vertical-align: middle;
  width: 47%;
    margin: 2px;
}