<div class="" id="banner-sec">
    <p-toast position="top-center"></p-toast>
    <div class="bg-color">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
                <!-- Slide One - Set the background image for this slide in the line below -->
                <div class="carousel-item active" style="background-image: linear-gradient(to bottom, #00000059 0%, rgba(0, 0, 0, 0.8) 100%), url(../../assets/images/banner7.jpg); height: 100vh; background-size: cover;">
                    <div class="carousel-caption d-none d-md-block">
                        <h2 class="display-4">We unite families with love and care</h2>
                        <!-- <p class="lead">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p> -->
                        <!-- registerform -->

                        <form #userbasicdetails="ngForm">
                            <div class="mt-3 banner-form">
                                <div class="row">
                                    <!-- <div style="background-color: pink;">
                                        {{userbasicdetails.value|json}}
                                    </div>  -->
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="">Name</label>
                                            <input type="text" class="form-control" placeholder="Name" name="txt_reg_username" ngModel #txt_reg_username="ngModel" required>
                                            <div>
                                                <p *ngIf="txt_reg_username.errors?.required && txt_reg_username.touched" class="error">Name is a required field!</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <label for="">Mobile Number & Country Code</label>
                                        <div class="form-inline">
                                            <select name="ddl_countryCode" id="" class="form-control" ngModel #ddl_countryCode="ngModel" required>
                                                <option value="" selected disabled>-Select-</option>
                                                <option data-countryCode="GB" value="44">Norway (+47)</option>
                                                <option data-countryCode="US" value="1">UK (+44)</option>
                                                <optgroup label="Other countries">
                                                    <option data-countryCode="AU" value="61">Australia (+61)</option>
                                                    <option data-countryCode="BD" value="880">Bangladesh (+880)</option>
                                                    <option data-countryCode="CA" value="1">Canada (+1)</option>
                                                    <option data-countryCode="CN" value="86">China (+86)</option>
                                                    <option data-countryCode="IN" value="91">India (+91)</option>
                                                    <option data-countryCode="ID" value="62">Indonesia (+62)</option>
                                                    <option data-countryCode="JP" value="81">Japan (+81)</option>
                                                    <option data-countryCode="MY" value="60">Malaysia (+60)</option>
                                                    <option data-countryCode="MX" value="52">Mexico (+52)</option>
                                                    <option data-countryCode="NP" value="977">Nepal (+977)</option>
                                                    <option data-countryCode="NZ" value="64">New Zealand (+64)</option>
                                                    <option data-countryCode="RU" value="7">Russia (+7)</option>
                                                    <option data-countryCode="SG" value="65">Singapore (+65)</option>
                                                    <option data-countryCode="ZA" value="27">South Africa (+27)</option>
                                                    <option data-countryCode="LK" value="94">Sri Lanka (+94)</option>
                                                    <option data-countryCode="TH" value="66">Thailand (+66)</option>
                                                    <option data-countryCode="GB" value="44">UK (+44)</option>
                                                    <option data-countryCode="US" value="1">USA (+1)</option>
                                                    
                                                </optgroup>
                                               
                                            </select>

                                            <input type="tel" class="form-control" placeholder="Mobile Number" pattern="[0-9]" minlength=10 maxlength=10 name="txt_reg_user_mobileno" ngModel #txt_reg_user_mobileno="ngModel" required>
                                            <div>
                                                <p *ngIf="txt_reg_user_mobileno.errors?.required && txt_reg_user_mobileno.touched && ddl_countryCode.touched" class="error"> Country Code and Mobile Number required field!</p>
                                                <p *ngIf="txt_reg_user_mobileno.errors?.minlength&& txt_reg_user_mobileno.touched" class="error">Mobile Number should be 10 digits!</p>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="">Profile for</label>
                                            <select class="form-control" name="ddl_profile_select" ngModel #ddl_profile_select="ngModel" required>
                                                <option value="" selected disabled>Create Profile For</option>
                                                <option *ngFor="let profile of listofprofiles" [value]="profile">{{profile}}</option>
                                              </select>
                                            <div>
                                                <p *ngIf="ddl_profile_select.errors?.required && ddl_profile_select.touched" class="error"> Craeate Profile required field!</p>

                                            </div>
                                        </div>
                                        <div class="form-group" *ngIf="ddl_profile_select.value == 'Self' || ddl_profile_select.value == 'Friend' || ddl_profile_select.value == 'Relative'">
                                            <label for="" *ngIf="ddl_profile_select.value == 'Self'">I am a</label>
                                            <label for="" *ngIf="ddl_profile_select.value == 'Friend' || ddl_profile_select.value == 'Relative'">Who is a</label>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" id="inlineRadio1" name="txt_looking_for" ngModel #txt_looking_for="ngModel" required value="Male">
                                                <label class="form-check-label" for="inlineRadio1">Male</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" id="inlineRadio2" name="txt_looking_for" value="Female" ngModel #txt_looking_for="ngModel" required>
                                                <label class="form-check-label" for="inlineRadio2">Female</label>
                                            </div>
                                            <div>
                                                <p *ngIf="txt_looking_for.errors?.required && txt_looking_for.untouched" class="error"> Gender required field!</p>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <button mat-raised-button color="primary" style="margin-left: 20px; margin-top: 31px;" routerLinkActive="router-link-active" (click)="GetUserBasicDetails(userbasicdetails.value)">Get Started</button>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>

                        <!-- <div class="col-md-12 search-wrap">
                            <div class="search-wrap-2">
                                <form method="post" class="colorlib-form">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <div class="form-field">
                                                    <input type="text" id="search" class="form-control" placeholder="Keyword search">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <div class="form-field">
                                                    <i class="icon icon-arrow-down3"></i>
                                                    <select name="people" id="people" class="form-control">
                                        <option value="#">WordPress</option>
                                        <option value="#">HTML/CSS</option>
                                        <option value="#">PHP</option>
                                        <option value="#">JavaScript</option>
                                        <option value="#">Python</option>
                                      </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <div class="form-field">
                                                    <i class="icon icon-arrow-down3"></i>
                                                    <select name="people" id="people" class="form-control">
                                        <option value="#">Difficulty</option>
                                        <option value="#">Beginner</option>
                                        <option value="#">Intermediate</option>
                                        <option value="#">Advance</option>
                                      </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <input type="submit" name="submit" id="submit" value="Search course" class="btn btn-primary btn-block">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div> -->






                    </div>
                </div>

            </div>

        </div>

    </div>
</div>