<p-toast position="top-center"></p-toast>
<section class="login-sec">
    <form #userForm="ngForm">
        <div class="container">
            <div class="login">
                <div class="container">
                    <div class="logo-sec text-center">
                        <img src="assets/images/logo/logo-bundham.png" alt="Logo">
                    </div>
                    <h1>Admin-Login</h1>
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="Email" name="txt_user_email" [(ngModel)]="admin_email" ngModel #txt_user_email="ngModel" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>
                        <div *ngIf="txt_user_email.touched">
                            <p *ngIf="txt_user_email.errors?.required" class="error">Email is a required field!</p>
                            <p *ngIf="txt_user_email.errors?.pattern" class="error">This is not a valid Email!!!</p>
                        </div>
                    </div>

                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Password" name="txt_user_password" [(ngModel)]="admin_password" ngModel #txt_user_password="ngModel" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).{6,12}$" minlength="6" required>
                        <div *ngIf="txt_user_password.invalid && (txt_user_password.dirty || txt_user_password.touched)">
                            <div *ngIf="txt_user_password.errors.required" class="error">Password is required</div>
                            <div *ngIf="txt_user_password.errors.minlength" class="error">Password must be at least 6 characters</div>
                            <div *ngIf="txt_user_password.errors?.pattern" class="error">
                                Password should contain atleast one uppercase,one lowercase,one digit!
                            </div>
                        </div>
                    </div>

                    <div class="submit-sec">
                        <input type="checkbox"><span>Remember me</span>
                        <button mat-raised-button color="primary" (click)="AdminLogin(userForm.value)" [disabled]="!userForm.valid ? 'disabled': null">Login</button>
                    </div>
                    <!-- <div class="signin-others text-center">
                    <p>Signin With</p>
                    <button mat-raised-button color="warn"><i class="fab fa-google"></i></button>
                    <button mat-raised-button color="warn"><i class="fab fa-facebook-f"></i></button>
                </div> -->
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </form>
</section>