<div class="container-fluid">
    <!-- search preference -->
    <div class="search-preference mt-3">
        <mat-card style="margin-bottom: 20px;">
            <div class="row">
                <div class="col-md-8">
                    <h4>Search Preference </h4>
                </div>
                <div class="col-md-4">
                    <form class="form-inline">
                        <input class="form-control mr-2" type="search" placeholder="Search By ID" aria-label="Search">
                        <button class="btn btn-info" type="submit"><i class="fas fa-search"></i></button>
                    </form>
                </div>
            </div>
            <mat-divider></mat-divider>
            <div class="row">
                <div class="col-md-12">
                    <form>
                        <!-- looking for -->
                        <div class="form-group row mt-3">
                            <label for="" class="col-sm-3 col-form-label">Looking for</label>
                            <div class="col-sm-9">
                                <mat-radio-group aria-label="Select an option">
                                    <mat-radio-button value="1">Bride</mat-radio-button>
                                    <mat-radio-button value="2">Groom</mat-radio-button>
                                </mat-radio-group>
                            </div>
                        </div>
                        <!-- age -->
                        <div class="form-group row age-sec">
                            <label for="" class="col-sm-3 col-form-label">Age</label>
                            <div class="col-sm-9">
                                <mat-form-field style="width: 30%;">
                                    <mat-label>From</mat-label>
                                    <mat-select>
                                        <mat-option *ngFor="let age of ageList" [value]="age">{{age}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field style="width: 30%;">
                                    <mat-label>To</mat-label>
                                    <mat-select>
                                        <mat-option *ngFor="let age1 of ageList1" [value]="age">{{age1}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>

                        <!-- height -->
                        <div class="form-group row height-sec">
                            <label for="" class="col-sm-3 col-form-label">Height</label>
                            <div class="col-sm-9">
                                <mat-form-field style="width: 30%;">
                                    <mat-label>From</mat-label>
                                    <mat-select name="heightfrom">
                                        <mat-option value="53" label="4' 5'' - 134cm">4' 5'' - 134cm</mat-option>
                                        <mat-option value="54" label="4' 6'' - 137cm">4' 6'' - 137cm</mat-option>
                                        <mat-option value="55" label="4' 7'' - 139cm">4' 7'' - 139cm</mat-option>
                                        <mat-option value="56" label="4' 8'' - 142cm">4' 8'' - 142cm</mat-option>
                                        <mat-option value="57" label="4' 9'' - 144cm">4' 9'' - 144cm</mat-option>
                                        <mat-option value="58" label="4' 10'' - 147cm">4' 10'' - 147cm</mat-option>
                                        <mat-option value="59" label="4' 11'' - 149cm">4' 11'' - 149cm</mat-option>
                                        <mat-option value="60" label="5' - 152cm">5' - 152cm</mat-option>
                                        <mat-option value="61" label="5' 1'' - 154cm">5' 1'' - 154cm</mat-option>
                                        <mat-option value="62" label="5' 2'' - 157cm">5' 2'' - 157cm</mat-option>
                                        <mat-option value="63" label="5' 3'' - 160cm">5' 3'' - 160cm</mat-option>
                                        <mat-option value="64" label="5' 4'' - 162cm">5' 4'' - 162cm</mat-option>
                                        <mat-option value="65" label="5' 5'' - 165cm">5' 5'' - 165cm</mat-option>
                                        <mat-option value="66" label="5' 6'' - 167cm">5' 6'' - 167cm</mat-option>
                                        <mat-option value="67" label="5' 7'' - 170cm">5' 7'' - 170cm</mat-option>
                                        <mat-option value="68" label="5' 8'' - 172cm">5' 8'' - 172cm</mat-option>
                                        <mat-option value="69" label="5' 9'' - 175cm">5' 9'' - 175cm</mat-option>
                                        <mat-option value="70" label="5' 10'' - 177cm">5' 10'' - 177cm</mat-option>
                                        <mat-option value="71" label="5' 11'' - 180cm">5' 11'' - 180cm</mat-option>
                                        <mat-option value="72" label="6' - 182cm">6' - 182cm</mat-option>
                                        <mat-option value="73" label="6' 1'' - 185cm">6' 1'' - 185cm</mat-option>
                                        <mat-option value="74" label="6' 2'' - 187cm">6' 2'' - 187cm</mat-option>
                                        <mat-option value="75" label="6' 3'' - 190cm">6' 3'' - 190cm</mat-option>
                                        <mat-option value="76" label="6' 4'' - 193cm">6' 4'' - 193cm</mat-option>
                                        <mat-option value="77" label="6' 5'' - 195cm">6' 5'' - 195cm</mat-option>
                                        <mat-option value="78" label="6' 6'' - 198cm">6' 6'' - 198cm</mat-option>
                                        <mat-option value="79" label="6' 7'' - 200cm">6' 7'' - 200cm</mat-option>
                                        <mat-option value="80" label="6' 8'' - 203cm">6' 8'' - 203cm</mat-option>
                                        <mat-option value="81" label="6' 9'' - 205cm">6' 9'' - 205cm</mat-option>
                                        <mat-option value="82" label="6' 10'' - 208cm">6' 10'' - 208cm</mat-option>
                                        <mat-option value="83" label="6' 11'' - 210cm">6' 11'' - 210cm</mat-option>
                                        <mat-option value="84" label="7' - 213cm">7' - 213cm</mat-option>
                                    </mat-select>
                                </mat-form-field>

                                <mat-form-field style="width: 30%;">
                                    <mat-label>To</mat-label>
                                    <mat-select name="heightto">
                                        <mat-option value="53" label="4' 5'' - 134cm">4' 5'' - 134cm</mat-option>
                                        <mat-option value="54" label="4' 6'' - 137cm">4' 6'' - 137cm</mat-option>
                                        <mat-option value="55" label="4' 7'' - 139cm">4' 7'' - 139cm</mat-option>
                                        <mat-option value="56" label="4' 8'' - 142cm">4' 8'' - 142cm</mat-option>
                                        <mat-option value="57" label="4' 9'' - 144cm">4' 9'' - 144cm</mat-option>
                                        <mat-option value="58" label="4' 10'' - 147cm">4' 10'' - 147cm</mat-option>
                                        <mat-option value="59" label="4' 11'' - 149cm">4' 11'' - 149cm</mat-option>
                                        <mat-option value="60" label="5' - 152cm" selected="selected">5' - 152cm</mat-option>
                                        <mat-option value="61" label="5' 1'' - 154cm">5' 1'' - 154cm</mat-option>
                                        <mat-option value="62" label="5' 2'' - 157cm">5' 2'' - 157cm</mat-option>
                                        <mat-option value="63" label="5' 3'' - 160cm">5' 3'' - 160cm</mat-option>
                                        <mat-option value="64" label="5' 4'' - 162cm">5' 4'' - 162cm</mat-option>
                                        <mat-option value="65" label="5' 5'' - 165cm">5' 5'' - 165cm</mat-option>
                                        <mat-option value="66" label="5' 6'' - 167cm">5' 6'' - 167cm</mat-option>
                                        <mat-option value="67" label="5' 7'' - 170cm">5' 7'' - 170cm</mat-option>
                                        <mat-option value="68" label="5' 8'' - 172cm">5' 8'' - 172cm</mat-option>
                                        <mat-option value="69" label="5' 9'' - 175cm">5' 9'' - 175cm</mat-option>
                                        <mat-option value="70" label="5' 10'' - 177cm">5' 10'' - 177cm</mat-option>
                                        <mat-option value="71" label="5' 11'' - 180cm">5' 11'' - 180cm</mat-option>
                                        <mat-option value="72" label="6' - 182cm">6' - 182cm</mat-option>
                                        <mat-option value="73" label="6' 1'' - 185cm">6' 1'' - 185cm</mat-option>
                                        <mat-option value="74" label="6' 2'' - 187cm">6' 2'' - 187cm</mat-option>
                                        <mat-option value="75" label="6' 3'' - 190cm">6' 3'' - 190cm</mat-option>
                                        <mat-option value="76" label="6' 4'' - 193cm">6' 4'' - 193cm</mat-option>
                                        <mat-option value="77" label="6' 5'' - 195cm">6' 5'' - 195cm</mat-option>
                                        <mat-option value="78" label="6' 6'' - 198cm">6' 6'' - 198cm</mat-option>
                                        <mat-option value="79" label="6' 7'' - 200cm">6' 7'' - 200cm</mat-option>
                                        <mat-option value="80" label="6' 8'' - 203cm">6' 8'' - 203cm</mat-option>
                                        <mat-option value="81" label="6' 9'' - 205cm">6' 9'' - 205cm</mat-option>
                                        <mat-option value="82" label="6' 10'' - 208cm">6' 10'' - 208cm</mat-option>
                                        <mat-option value="83" label="6' 11'' - 210cm">6' 11'' - 210cm</mat-option>
                                        <mat-option value="84" label="7' - 213cm">7' - 213cm</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <!-- Mother tongue -->
                        <div class="form-group row">
                            <label for="" class="col-sm-3 col-form-label">Mother Tongue</label>
                            <div class="col-sm-9">
                                <mat-form-field>
                                    <mat-label>Mother Tongue</mat-label>
                                    <mat-select [formControl]="motherTongue" multiple>
                                        <mat-option *ngFor="let motherTongue of motherTongueList">{{motherTongue}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <!-- religion -->
                        <div class="form-group row">
                            <label for="" class="col-sm-3 col-form-label">Religion</label>
                            <div class="col-sm-9">
                                <mat-form-field>
                                    <mat-label>Select</mat-label>
                                    <mat-select [formControl]="religion" multiple>
                                        <mat-option *ngFor="let religion of religionList">{{religion}}</mat-option>
                                    </mat-select>
                                </mat-form-field>

                            </div>
                        </div>
                        <!-- Caste -->
                        <div class="form-group row">
                            <label for="" class="col-sm-3 col-form-label">Caste</label>
                            <div class="col-sm-9">
                                <mat-form-field>
                                    <mat-label>Select</mat-label>
                                    <mat-select [formControl]="religion" multiple>
                                        <mat-option *ngFor="let religion of religionList">{{religion}}</mat-option>
                                    </mat-select>
                                </mat-form-field>

                            </div>
                        </div>
                        <!-- Star-->
                        <div class="form-group row">
                            <label for="" class="col-sm-3 col-form-label">Star</label>
                            <div class="col-sm-9">
                                <mat-form-field>
                                    <mat-label>Select</mat-label>
                                    <mat-select [formControl]="motherTongue" multiple>
                                        <mat-option *ngFor="let motherTongue of motherTongueList">{{motherTongue}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <!-- Dosham-->
                        <div class="form-group row">
                            <label for="" class="col-sm-3 col-form-label">Dosham</label>
                            <div class="col-sm-9">
                                <mat-form-field>
                                    <mat-label>Select</mat-label>
                                    <mat-select [formControl]="motherTongue" multiple>
                                        <mat-option *ngFor="let motherTongue of motherTongueList">{{motherTongue}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>

                        <!-- martial status -->
                        <!-- <div class="form-group row">
                            <label for="" class="col-sm-3 col-form-label">Martial Status</label>
                            <div class="col-sm-9">
                                <mat-form-field>
                                    <mat-label>status</mat-label>
                                    <mat-select [formControl]="status" multiple>
                                        <mat-option *ngFor="let status of statusList1">{{status}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div> -->

                        <!-- Education -->
                        <div class="form-group row">
                            <label for="" class="col-sm-3 col-form-label">Education</label>
                            <div class="col-sm-9">
                                <mat-form-field>
                                    <mat-label>Select</mat-label>
                                    <mat-select [formControl]="education" multiple>
                                        <mat-option *ngFor="let education of educationList" [value]="education">{{education}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>

                        <!-- Occupation -->
                        <div class="form-group row">
                            <label for="" class="col-sm-3 col-form-label">Occupation</label>
                            <div class="col-sm-9">
                                <mat-form-field>
                                    <mat-label>Select</mat-label>
                                    <mat-select [formControl]="working" multiple>
                                        <mat-option *ngFor="let working of workingList" [value]="working">{{working}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>

                        <!-- Employment -->
                        <div class="form-group row">
                            <label for="" class="col-sm-3 col-form-label">Employment</label>
                            <div class="col-sm-9">
                                <mat-form-field>
                                    <mat-label>Select</mat-label>
                                    <mat-select [formControl]="profession" multiple>
                                        <mat-option *ngFor="let profession of professionList" [value]="profession">{{profession}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <!-- Citizenship preference -->
                        <div class="form-group row">
                            <label for="" class="col-sm-3 col-form-label">Citizenship preference</label>
                            <div class="col-sm-9">
                                <mat-radio-group aria-label="Select an option">
                                    <mat-radio-button value="Any">Any
                                    </mat-radio-button>
                                    <mat-radio-button value="Other">Other</mat-radio-button>
                                </mat-radio-group>
                            </div>
                        </div>

                        <!-- Relocation -->
                        <div class="form-group row">
                            <label for="" class="col-sm-3 col-form-label">Relocation</label>
                            <div class="col-sm-9">
                                <mat-radio-group aria-label="Select an option">
                                    <mat-radio-button value="Any">Any
                                    </mat-radio-button>
                                    <mat-radio-button value="Other">Other</mat-radio-button>
                                </mat-radio-group>
                            </div>
                        </div>


                        <!-- Food Habbits -->
                        <div class="form-group row">
                            <label for="" class="col-sm-3 col-form-label">Food Habbits</label>
                            <div class="col-sm-9">
                                <mat-radio-group aria-label="Select an option">
                                    <mat-radio-button value="Veg">Veg</mat-radio-button>
                                    <mat-radio-button value="Non-Veg">Non-Veg</mat-radio-button>
                                    <mat-radio-button value="Vegan">Vegan</mat-radio-button>
                                    <mat-radio-button value="Non-Veg">Doesn't Matter</mat-radio-button>
                                </mat-radio-group>
                            </div>
                        </div>
                        <!-- smoke -->
                        <div class="form-group row">
                            <label for="" class="col-sm-3 col-form-label">Smoke</label>
                            <div class="col-sm-9">
                                <mat-radio-group aria-label="Select an option">
                                    <mat-radio-button value="Never">Never
                                    </mat-radio-button>
                                    <mat-radio-button value="Occasional">Occasional</mat-radio-button>
                                    <mat-radio-button value="Regular">Regular</mat-radio-button>
                                </mat-radio-group>
                            </div>
                        </div>
                        <!-- Drink -->
                        <div class="form-group row">
                            <label for="" class="col-sm-3 col-form-label">Drink</label>
                            <div class="col-sm-9">
                                <mat-radio-group aria-label="Select an option">
                                    <mat-radio-button value="Never">Never
                                    </mat-radio-button>
                                    <mat-radio-button value="Occasional">Occasional</mat-radio-button>
                                    <mat-radio-button value="Regular">Regular</mat-radio-button>
                                </mat-radio-group>
                            </div>
                        </div>
                        <!-- Bode type -->
                        <!-- <div class="form-group row">
                            <label for="" class="col-sm-3 col-form-label">Bode type</label>
                            <div class="col-sm-9">
                                <mat-radio-group aria-label="Select an option">
                                    <mat-radio-button value="Slim">Slim</mat-radio-button>
                                    <mat-radio-button value="Average">Average</mat-radio-button>
                                    <mat-radio-button value="Heavy">Heavy</mat-radio-button>
                                    <mat-radio-button value="Doesn't Matter">Doesn't Matter</mat-radio-button>
                                </mat-radio-group>
                            </div>
                        </div> -->
                        <!-- Skin type -->
                        <!-- <div class="form-group row">
                            <label for="" class="col-sm-3 col-form-label">Skin type</label>
                            <div class="col-sm-9">
                                <mat-radio-group aria-label="Select an option">
                                    <mat-radio-button value="Fair">Fair</mat-radio-button>
                                    <mat-radio-button value="whitish ">whitish </mat-radio-button>
                                    <mat-radio-button value="Dark">Dark</mat-radio-button>
                                    <mat-radio-button value="Doesn't Matter">Doesn't Matter</mat-radio-button>
                                </mat-radio-group>
                            </div>
                        </div> -->
                        <!-- Country -->
                        <!-- <div class="form-group row">
                            <label for="" class="col-sm-3 col-form-label">Country</label>
                            <div class="col-sm-9">
                                <mat-form-field>
                                    <mat-label>Country</mat-label>
                                    <mat-select [formControl]="country" multiple>
                                        <mat-option *ngFor="let country of countryList">{{country}}</mat-option>
                                    </mat-select>
                                </mat-form-field>

                            </div>
                        </div> -->

                        <!-- State -->
                        <!-- <div class="form-group row">
                            <label for="" class="col-sm-3 col-form-label">State</label>
                            <div class="col-sm-9">
                                <mat-form-field>
                                    <mat-label>State</mat-label>
                                    <mat-select [formControl]="State" multiple>
                                        <mat-option *ngFor="let State of StateList">{{State}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div> -->


                    </form>
                </div>
            </div>
        </mat-card>
    </div>
    <app-chat></app-chat>
</div>