.dashboard-sect {
  margin-top: 0px;

  .profile-card-ds.mat-card{
    padding: 0px;
  }

  .prfoile-small-view {

    .prfile-data {
      margin-top: 20px;
      text-align: center;

      h4 {
        font-size: 20px;

        p {
          font-size: 14px;
          color: #949494;
        }
      }
    }

    .acct-type {
      margin-top: 15px;
      margin-bottom: 10px;

      button {
        min-width: 40px;
        line-height: 25px;
        padding: 0 5px;
        margin-left: 5px;
        font-size: 13px;
      }
    }

    .profile-btns {
      margin-top: 20px;

      button {
        min-width: 30px;
        line-height: 30px;
        padding: 0 7px;
        font-size: 12px;
      }

      button.partn-prfeern {
        // margin-left: 5px;
        float: right;

      }
    }
  }
}



// cards view style
.card-number {
  font-size: 25px;
  text-align: center;
  color: white;
}

.card-name {
  font-size: 14px;
  text-align: center;
  text-transform: capitalize;
  font-weight: 500;
}

.card-counter {
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 1px 3px 0 rgba(0, 0, 0, .12);
  margin: 5px;
  padding: 20px 10px;
  background-color: #fff;
  height: 100px;
  border-radius: 5px;
  transition: .3s linear all;
}

.card-counter:hover {
  box-shadow: 4px 4px 20px #DADADA;
  transition: .3s linear all;
}

.card-counter.primary {
  background-color: #d53c5c;
  color: #FFF;
}

.card-counter.danger {
  background-color: #ec5252;
  color: #FFF;
}

.card-counter.success {
  background-color: #ec5252;
  color: #FFF;
}

.card-counter.info {
  background-color: #ec5252;
  color: #FFF;
}

.card-counter i {
  font-size: 35px;
  // opacity: 0.2;
}





.cards-section {
  .intro-card {
    background: #ffffff;
  }

  .mat-card.intro-card {
    padding: 0px;
    min-height: 100px !important;


    .mat-card-title {
      font-weight: 900;
      color: #414142;
    }

    h3 {
      // background: #414142;
      background: #5d5d5d;
      color: #ffffff;
      border-radius: 0px 0px 4px 0px;
      padding: 5px;
      font-size: 15px;
    }

    .mat-card-content,
    .mat-card-subtitle {
      font-size: 12px;
      font-weight: 500;
    }

    .mat-card-title {
      margin-bottom: 6px;
    }
  }
}




.circle-img {
  height: 25px;
  width: 25px;
  border-radius: 25px;
  margin-left: -9px;
}

.flat-icons {
  width: 40px;
  margin-top: 10px;
  padding: 7px;
  border-radius: 9px;
}

.matches-info-heading {
  font-size: 17px;
  text-transform: capitalize;
  span {
    font-size: 15px; 
    color: #D81B60;
  }
}

.more-img-circle {
  border: 1px solid #c1c1c1ba;

  border-radius: 50%;
  margin-left: -9px;
  font-size: 11px;
  padding: 7px;
  font-weight: 600;
  background-color: white;
}
// ::ng-deep .mat-card{
// box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
// }

/* Tabs*/



// #tabs{
// background: #007b5e;
//   color: #eee;
// }
#tabs h6.section-title{
  color: #eee;
}

#tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: #f3f3f3;
  background-color: transparent;
  border-color: transparent transparent #f3f3f3;
  border-bottom: 4px solid !important;
  font-size: 20px;
  font-weight: bold;
}
#tabs .nav-tabs .nav-link {
  border: 1px solid transparent;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  color: #D81B60;
  font-size: 15px;

}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: sans-serif;
}


// .profile-data {
//   border-top: 5px solid #df1e70;
// }

.frequently-viewed-card {
  padding: 18px 10px 4px;
  min-height: 250px;
  max-height: 250px;
  img {
    width: 100%;
  }
}
.recent-list {
  mat-divider{
    position: unset;
  }
}
.mat-list-base .mat-list-item.mat-2-line, .mat-list-base .mat-list-option.mat-2-line {
  height: 60px;
}

.mat-card.no-data-card{
  background: #b6b7b6;
  h3{
    font-size: 20px;
  }
}
.no-data-card1{
  background: #b6b7b6;
  margin: 0 auto;
  margin-bottom: 20px;
  h3{
    font-size: 20px;
  }
}