<section class="dashboard-sect mt-3">
    <!------------------- profile view ------------------------>
    <div class="container-fluid">
        <p-toast position="top-center"></p-toast>
        <form method="post">
            <div class="row">
                <!-- <mat-card class="prfoile-small-view col-md-3 mat-elevation-z8">
                    <div class="profile-img">
                        <img src="assets/images/matches/sam.jpg" alt="Profile_pic" />
                    </div>
                    <div class="prfile-data">
                        <h4>Samantha </h4>
                        <p>(Sa1319200277)</p>
                    </div>
                    <mat-divider></mat-divider>
                    <div class="acct-type">
                        <h6>Account Type</h6>
                        <span>Free Membership</span> <button mat-raised-button color="warn">Upgrade</button>
                    </div>
                    <mat-divider></mat-divider>
                    <div class="profile-btns">
                        <button mat-raised-button color="primary" [routerLink]="['/viewprofile']" routerLinkActive="router-link-active">My Profile</button>
                        <button mat-raised-button color="primary" [routerLink]="['/partnerpreferecnce']" routerLinkActive="router-link-active" class="partn-prfeern">Partner Preference</button>
                    </div>
                    <div class="progress mt-2">
                        <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 50%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">50%</div>
                    </div>
                </mat-card> -->

                <!-- <div class="card">
                    <div class="profile-data">
                        <div class="row mt-2">
                            <div class="col-md-6">
                                <p class="mt-1">(Sa1319200277)</p>

                            </div>
                            <div class="col-md-6">
                                <button mat-button color="primary" [routerLink]="['/viewprofile']" routerLinkActive="router-link-active">My Profile</button>

                            </div>
                        </div>

                    </div>
                    <div class="profile-img mt-1">
                        <img src="assets/images/dashboard-images/img1.jpg" style="height: 320px; width: 100%;" alt="Profile_pic" />
                    </div>
                    <div class="prfile-data">
                        <h4>Samantha </h4>
                    </div>
                    <mat-divider></mat-divider>
                  
                    <mat-divider></mat-divider>
                    <div class="profile-btns">
                        <button mat-button color="accent" [routerLink]="['/partnerpreferecnce']" routerLinkActive="router-link-active" class="partn-prfeern">Partner Preference</button>
                    </div>
                    <div class="progress mt-2">
                        <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 50%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">50%</div>
                    </div>
                </div> -->

                <div class="col-md-3">
                    <mat-card class="profile-card-ds">
                        <div class="profile-img">
                            <img *ngIf="all_dashboard_info?.profile?.profile_picture!=null" src="{{all_dashboard_info.profile.profile_picture[0]}}" style="  height: 320px; width: 100%; border-top-right-radius: 3px; border-top-left-radius: 3px;" alt="Profile_pic" />
                            <img *ngIf="all_dashboard_info?.profile?.profile_picture==null" src="assets/images/matches/request-image.png" style="  height: 320px; width: 100%; border-top-right-radius: 3px; border-top-left-radius: 3px;" alt="Profile_pic" />
                        </div>
                        <div class="prfile-data">
                            <div class="row mt-2">
                                <div class="col-md-6">
                                    <h4>{{all_dashboard_info.profile.fullname|titlecase}} </h4>
                                </div>
                                <div class="col-md-6">
                                    <p>{{all_dashboard_info.profile.appName}}</p>
                                </div>
                            </div>
                        </div>
                        <mat-divider></mat-divider>
                        <div class="profile-btns mt-1">
                            <button mat-button color="primary" [routerLink]="['/viewprofile']" routerLinkActive="router-link-active">My Profile</button>
                            <button mat-button color="accent" routerLinkActive="router-link-active" class="partn-prfeern" (click)="gotoPartnerProfilePage()">Partner Preference</button>
                        </div>
                        <div class="progress mt-2 mb-2">
                            <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 50%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">{{all_dashboard_info.profile.Percentage}}</div>
                        </div>
                    </mat-card>
                </div>


                <div class=" profile-activity-summary col-md-6">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="card-counter primary">
                                <!-- <img style="width: 40px;" src="assets/images/interest.png" alt=""> -->
                                <h5 class="card-number">{{all_dashboard_info.intrestSent}}</h5>
                                <mat-divider></mat-divider>

                                <p class="card-name">intrest sent</p>
                                <!-- <span class="count-numbers">2</span>
                            <span class="count-name"> interest sent</span> -->
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="card-counter primary">
                                <!-- <img style="width: 40px;" src="assets/images/new-matches.png" alt=""> -->
                                <h5 class="card-number">{{all_dashboard_info.intrestReceived}}</h5>
                                <mat-divider></mat-divider>

                                <p class="card-name">Interest Recevied</p>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="card-counter primary">
                                <!-- <img style="width: 40px;" src="assets/images/viewed.png" alt=""> -->
                                <h5 class="card-number">{{all_dashboard_info.viewedMatches}}</h5>
                                <mat-divider></mat-divider>

                                <p class="card-name">viewed matches</p>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="card-counter primary">
                                <!-- <img style="width: 40px;" src="assets/images/accepted.png" alt=""> -->
                                <h5 class="card-number">{{all_dashboard_info.acceptedMatches}}</h5>
                                <mat-divider></mat-divider>

                                <p class="card-name">accecpted matches</p>
                            </div>
                        </div>
                        <div class="col-md-12 mt-1" style="height: 323px;">
                            <mat-card class="mat-elevation-z8 h-100">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <h5 class="mt-2" style="font-size: 20px;">Recent Activity</h5>
                                        </div>
                                        <div class="col-md-6">
                                            <button mat-button color="warn" class="pull-right">Clear all</button>
                                        </div>
                                    </div>
                                    <div class="recent-list">
                                        <mat-list>
                                            <mat-list-item>
                                                <mat-icon mat-list-icon>chat</mat-icon>
                                                <div mat-line>You received a message from Bill Jones</div>
                                                <div mat-line> 12/22/2020 </div>
                                                <button mat-raised-button color="primary">View</button>

                                            </mat-list-item>
                                            <mat-divider></mat-divider>
                                            <mat-list-item>
                                                <mat-icon mat-list-icon>how_to_reg </mat-icon>
                                                <div mat-line>Request accepted by Mariya</div>
                                                <div mat-line> 12/22/2020 </div>
                                                <button mat-raised-button color="primary">View</button>
                                            </mat-list-item>
                                            <mat-divider></mat-divider>
                                            <mat-list-item>
                                                <mat-icon mat-list-icon>archive</mat-icon>
                                                <div mat-line>You have new inbox message from Stella</div>
                                                <div mat-line> 12/22/2020 </div>
                                                <button mat-raised-button color="primary">View</button>
                                            </mat-list-item>
                                            <mat-divider></mat-divider>
                                            <mat-list-item>
                                                <mat-icon mat-list-icon>mail </mat-icon>
                                                <div mat-line>Profile Request pending in inbox</div>
                                                <div mat-line> 12/22/2020 </div>
                                                <button mat-raised-button color="primary">View</button>
                                            </mat-list-item>
                                        </mat-list>
                                    </div>
                                </div>
                            </mat-card>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <mat-card class="mat-elevation-z8 h-100">
                        <img src="assets/images/add-img.jpg" class="h-100 w-100" alt="">
                    </mat-card>
                </div>


            </div>
            <div class="row mt-3 mb-3">
                <div class="col-md-3">
                    <mat-card class="mat-elevation-z8">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="assets/images/dashboard-images/security.png" alt="lock">

                            </div>
                            <div class="col-md-8">
                                <p>Upgrade now & Get Premium benefits</p>
                                <button mat-raised-button color="accent">Upgrade</button>
                            </div>
                        </div>
                    </mat-card>
                </div>

                <!-- <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-3">
                            <mat-card class="mat-elevation-z8">
                                <h6 style="font-size: 12px;">Frequently viewed</h6>
                                <table class="table table-sm table-hover table-striped">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="row" style="padding: 4px;border-radius: 2px;height: 40px;">
                                                    <div class="col-md-3">
                                                        <img src="assets/images/dashboard-images/img1.jpg" alt="" style="width: 28px;">
                                                    </div>
                                                    <div class="col-md-9">
                                                        <h6 style="font-size: 12px;
                                                    text-transform: capitalize;">
                                                            saisaran
                                                        </h6>
                                                        <p style="font-size: 10px;">Online</p>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="row" style="padding: 4px;border-radius: 2px;height: 40px;">
                                                    <div class="col-md-3">
                                                        <img src="assets/images/dashboard-images/img1.jpg" alt="" style="width: 28px;">
                                                    </div>
                                                    <div class="col-md-9">
                                                        <h6 style="font-size: 12px;
                                                    text-transform: capitalize;">
                                                            saisaran
                                                        </h6>
                                                        <p style="font-size: 10px;">Online</p>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="row" style="padding: 4px;border-radius: 2px;height: 40px;">
                                                    <div class="col-md-3">
                                                        <img src="assets/images/dashboard-images/img1.jpg" alt="" style="width: 28px;">
                                                    </div>
                                                    <div class="col-md-9">
                                                        <h6 style="font-size: 12px;
                                                    text-transform: capitalize;">
                                                            saisaran
                                                        </h6>
                                                        <p style="font-size: 10px;">Online</p>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="row" style="padding: 4px;border-radius: 2px;height: 40px;">
                                                    <div class="col-md-3">
                                                        <img src="assets/images/dashboard-images/img1.jpg" alt="" style="width: 28px;">
                                                    </div>
                                                    <div class="col-md-9">
                                                        <h6 style="font-size: 12px;
                                                    text-transform: capitalize;">
                                                            saisaran
                                                        </h6>
                                                        <p style="font-size: 10px;">Online</p>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="row" style="padding: 4px;border-radius: 2px;height: 40px;">
                                                    <div class="col-md-3">
                                                        <img src="assets/images/dashboard-images/img1.jpg" alt="" style="width: 28px;">
                                                    </div>
                                                    <div class="col-md-9">
                                                        <h6 style="font-size: 12px;
                                                    text-transform: capitalize;">
                                                            saisaran
                                                        </h6>
                                                        <p style="font-size: 10px;">Online</p>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </mat-card>
                        </div>
                        <div class="col-md-3">
                            <mat-card class="mat-elevation-z8">
                                <h6 style="font-size: 12px;">Profile viewed by</h6>
                                <table class="table table-sm table-hover table-striped">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="row" style="padding: 4px;border-radius: 2px;height: 40px;">
                                                    <div class="col-md-3">
                                                        <img src="assets/images/dashboard-images/img1.jpg" alt="" style="width: 28px;">
                                                    </div>
                                                    <div class="col-md-9">
                                                        <h6 style="font-size: 12px;
                                                    text-transform: capitalize;">
                                                            saisaran
                                                        </h6>
                                                        <p style="font-size: 10px;">Online</p>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="row" style="padding: 4px;border-radius: 2px;height: 40px;">
                                                    <div class="col-md-3">
                                                        <img src="assets/images/dashboard-images/img1.jpg" alt="" style="width: 28px;">
                                                    </div>
                                                    <div class="col-md-9">
                                                        <h6 style="font-size: 12px;
                                                    text-transform: capitalize;">
                                                            saisaran
                                                        </h6>
                                                        <p style="font-size: 10px;">Online</p>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="row" style="padding: 4px;border-radius: 2px;height: 40px;">
                                                    <div class="col-md-3">
                                                        <img src="assets/images/dashboard-images/img1.jpg" alt="" style="width: 28px;">
                                                    </div>
                                                    <div class="col-md-9">
                                                        <h6 style="font-size: 12px;
                                                    text-transform: capitalize;">
                                                            saisaran
                                                        </h6>
                                                        <p style="font-size: 10px;">Online</p>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="row" style="padding: 4px;border-radius: 2px;height: 40px;">
                                                    <div class="col-md-3">
                                                        <img src="assets/images/dashboard-images/img1.jpg" alt="" style="width: 28px;">
                                                    </div>
                                                    <div class="col-md-9">
                                                        <h6 style="font-size: 12px;
                                                    text-transform: capitalize;">
                                                            saisaran
                                                        </h6>
                                                        <p style="font-size: 10px;">Online</p>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="row" style="padding: 4px;border-radius: 2px;height: 40px;">
                                                    <div class="col-md-3">
                                                        <img src="assets/images/dashboard-images/img1.jpg" alt="" style="width: 28px;">
                                                    </div>
                                                    <div class="col-md-9">
                                                        <h6 style="font-size: 12px;
                                                    text-transform: capitalize;">
                                                            saisaran
                                                        </h6>
                                                        <p style="font-size: 10px;">Online</p>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                            </mat-card>
                        </div>

                        <div class="col-md-6">
                            <mat-card>
                                <div id="tabs">
                                    <nav>
                                        <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                                            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Notification</a>
                                            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Inbox</a>

                                        </div>
                                    </nav>
                                    <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                                        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                                            <div class="subject">
                                                Notifications
                                            </div>
                                            <div class="container">
                                                <div class="content"><b>Kate: Hello, I was wondering if you</b>
                                                    <div class="time">5 hours ago</div>
                                                </div>
                                            </div>
                                            <div class="container">
                                                <div class="content"><b>Kate: Hello, I was wondering if you</b>
                                                    <div class="time">5 hours ago</div>
                                                </div>
                                            </div>
                                            <div class="container">
                                                <div class="content"><b>Kate: Hello, I was wondering if you</b>
                                                    <div class="time">5 hours ago</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                                            <div class="subject">
                                                Messages
                                            </div>
                                            <div class="container">
                                                <div class="content"><b>Kate: Hello, I was wondering if you</b>
                                                    <div class="time">5 hours ago</div>
                                                </div>
                                            </div>
                                            <div class="container">
                                                <div class="content"><b>Kate: Hello, I was wondering if you</b>
                                                    <div class="time">5 hours ago</div>
                                                </div>
                                            </div>
                                            <div class="container">
                                                <div class="content"><b>Kate: Hello, I was wondering if you</b>
                                                    <div class="time">5 hours ago</div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </mat-card>
                        </div>
                    </div>
                </div> -->

                <div class="col-md-6">
                    <mat-card class="mat-elevation-z8">
                        <mat-tab-group mat-align-tabs="center" animationDuration="0ms">
                            <mat-tab>
                                <ng-template mat-tab-label>
                                    <mat-icon class="example-tab-icon">account_box</mat-icon>
                                    Frequently Viewed Profile
                                </ng-template>

                                <!-- card starts -->
                                <div class="frequently-viewed-card ">
                                    <div class="mb-3">

                                        <mat-card class="mt-2 no-data-card1 col-md-7" *ngIf="all_viewed_profiles_byme_list==null ||all_viewed_profiles_byme_list.length==0 ">
                                            <div class="text-center">
                                                <h3>No data available!</h3>
                                            </div>
                                        </mat-card>

                                        <mat-card *ngFor="let viewed_by_me_profile of all_viewed_profiles_byme_list">
                                            <div class="row">
                                                <div class="col-md-7">
                                                    <mat-card-header>
                                                        <div mat-card-avatar class="example-header-image">
                                                            <img *ngIf="all_viewed_profiles_byme_list.profile_picture!=null" src="viewed_by_me_profile.profile_picture.profile_picture" style="width: 100%;" alt="">
                                                            <img *ngIf="all_viewed_profiles_byme_list.profile_picture==null" src="assets/images/matches/request-image.png" style="width: 100%;" alt="">
                                                        </div>

                                                        <mat-card-title>{{viewed_by_me_profile.fullName|titlecase}}</mat-card-title>
                                                        <mat-card-subtitle>{{viewed_by_me_profile.occupation|titlecase}}

                                                        </mat-card-subtitle>
                                                    </mat-card-header>

                                                </div>
                                                <div class="col-md-5 text-center">

                                                    <mat-card-actions>
                                                        <button mat-raised-button color="primary" (click)="viewmoredetails(viewed_by_me_profile.userId,viewed_by_me_profile.profile_picture,viewed_by_me_profile.pictureRights)">View</button>
                                                        <button mat-raised-button color="accent" (click)="rejectprofile(viewed_by_me_profile.userId,'rejected')">Decline</button>
                                                    </mat-card-actions>
                                                </div>

                                            </div>

                                        </mat-card>
                                    </div>

                                </div>

                            </mat-tab>

                            <mat-tab>
                                <ng-template mat-tab-label>
                                    <mat-icon class="example-tab-icon">person_search </mat-icon>
                                    People looking for
                                </ng-template>
                                <div class="frequently-viewed-card ">
                                    <div class="mb-3">

                                        <mat-card class="mt-2 no-data-card1 col-md-7" *ngIf="all_viewed_profiles_byothers_list==null ||all_viewed_profiles_byothers_list.length==0 ">
                                            <div class="text-center">
                                                <h3>No data available!</h3>
                                            </div>
                                        </mat-card>

                                        <mat-card *ngFor="let viewed_by_others_profile of all_viewed_profiles_byothers_list">
                                            <div class="row">
                                                <div class="col-md-7">
                                                    <mat-card-header>
                                                        <div mat-card-avatar class="example-header-image">
                                                            <img *ngIf="all_viewed_profiles_byothers_list.profile_picture!=null" src="viewed_by_others_profile.profile_picture" style="width: 100%;" alt="">
                                                            <img *ngIf="all_viewed_profiles_byothers_list.profile_picture==null" src="assets/images/matches/request-image.png" style="width: 100%;" alt="">
                                                        </div>

                                                        <mat-card-title>{{viewed_by_others_profile.fullName|titlecase}}</mat-card-title>
                                                        <mat-card-subtitle>{{viewed_by_others_profile.occupation|titlecase}}

                                                        </mat-card-subtitle>
                                                    </mat-card-header>

                                                </div>
                                                <div class="col-md-5 text-center">

                                                    <mat-card-actions>
                                                        <button mat-raised-button color="primary" (click)="viewmoredetails(viewed_by_others_profile.userId,viewed_by_others_profile.profile_picture,viewed_by_others_profile.pictureRights)">View</button>
                                                        <button mat-raised-button color="accent" (click)="rejectprofile(viewed_by_others_profile.userId,'rejected')">Decline</button>
                                                    </mat-card-actions>
                                                </div>

                                            </div>

                                        </mat-card>
                                    </div>

                                </div>
                            </mat-tab>

                        </mat-tab-group>
                    </mat-card>
                </div>

                <div class="col-md-3">
                    <!-- <mat-card class="mat-elevation-z8">
                        <div class="subject">
                            Notifications
                        </div>
                        <div class="container">
                            <div class="content"><b>Kate: Hello, I was wondering if you</b>
                                <div class="time">5 hours ago</div>
                            </div>
                        </div>
                        <div class="container">
                            <div class="content"><b>Kate: Hello, I was wondering if you</b>
                                <div class="time">5 hours ago</div>
                            </div>
                        </div>
                        <div class="container">
                            <div class="content"><b>Kate: Hello, I was wondering if you</b>
                                <div class="time">5 hours ago</div>
                            </div>
                        </div>
                    </mat-card> -->
                    <mat-card class="mat-elevation-z8">
                        <img src="assets/images/add-img.jpg" alt="" style="width: 100%;">
                    </mat-card>
                </div>
            </div>
        </form>
    </div>
    <!-- <app-chat></app-chat> -->
</section>