<app-header></app-header>
<app-banner></app-banner>
<app-whychoose></app-whychoose>
<app-about></app-about>
<!-- <app-carousel></app-carousel> -->
<app-join-now></app-join-now>
<app-footer></app-footer>