<section class="matches-section mt-3">
    <!-- search by id -->
    <!-- search by id -->
    <div class="container">
        <div id="custom-search-input">
            <div class="row">
                <div class="col-md-4">
                    <input class="search-query form-control" placeholder="Search Matches" type="text">
                    <span class="input-group-btn">
                <button class="btn btn-danger" type="button"> <span class=" fas fa-search"></span> </button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <!-- search by id ends -->
    <!-- search by id ends -->
    <div class="container-fluid">

        <mat-card class="mt-3 mb-3">
            <mat-tab-group mat-align-tabs="center" animationDuration="0ms">
                <!-- ---------------------today matches section---------------------- -->

                <mat-tab label="Today Matches">

                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-3 col-md-6 col-sm-12">

                                <mat-card class="example-card mat-elevation-z8 mb-3 mt-3">

                                    <img mat-card-image src="assets/images/dummy/matches-img.jpg" alt="Photo of a Shiba Inu">
                                    <span class="badge badge-info" style="position: relative;
                                    bottom: 330px;">Free Member</span>
                                    <span class="pull-right" style="position: relative;
                                    bottom: 335px; left: 15px;"><button mat-icon-button [matMenuTriggerFor]="menu"
                      aria-label="Example icon-button with a menu">
                      <mat-icon style="color: white;">more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                      <button mat-menu-item>
                        <mat-icon>dialpad</mat-icon>
                        <span>Number</span>
                                    </button>
                                    <button mat-menu-item>
                        <mat-icon>voicemail</mat-icon>
                        <span>Check mail</span>
                      </button>
                                    <button mat-menu-item>
                        <mat-icon>notifications_off</mat-icon>
                        <span>Disable alerts</span>
                      </button>
                                    </mat-menu>
                                    </span>
                                    <mat-card-content>
                                        <h6 style="margin-top: -24px;">Simba <span class="pull-right" style="font-size: 13px;"> <i class="fa fa-circle online"
                          style="color: turquoise;"></i> online</span></h6>
                                        <p style="font-size: 13px;">
                                            <mat-icon style="font-size: 15px; width: 15px;">location_on
                                            </mat-icon>Chennai, Tamilnadu
                                        </p>
                                        <mat-divider></mat-divider>
                                        <div class="row  mb-1">
                                            <div class="col-md-6">
                                                <!-- <p>24 yrs, 5'4, Aries</p>
                                                <p>Tamil</p> -->
                                                <!-- <p>Chennai, Tamilnadu</p> -->
                                                <mat-list role="list">
                                                    <mat-list-item role="listitem">24 <span> 5'8</span></mat-list-item>
                                                    <mat-list-item role="listitem">Tamil,English</mat-list-item>
                                                    <!-- <mat-list-item role="listitem"></mat-list-item> -->
                                                </mat-list>
                                            </div>
                                            <div class="col-md-6">
                                                <!-- <p>Never Married</p>
                                                <p>Hindu, Naidu</p>
                                                <p>Actress</p> -->
                                                <mat-list role="list">
                                                    <mat-list-item role="listitem">Never Married</mat-list-item>
                                                    <mat-list-item role="listitem">HR management</mat-list-item>
                                                </mat-list>
                                            </div>
                                        </div>
                                        <mat-divider></mat-divider>
                                        <p class="mt-3" style="font-size: 13px;">
                                            The Shiba Inu is the smallest of the six original
                                            <span><a href="" [routerLink]="['/viewfullprofile']"
                          routerLinkActive="router-link-active">more...</a></span>
                                        </p>
                                    </mat-card-content>

                                    <mat-card-actions>

                                        <button mat-raised-button color="warn" [routerLink]="['/price']" routerLinkActive="router-link-active" style="margin:0 90px;">Connect</button>

                                    </mat-card-actions>
                                </mat-card>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12">

                                <mat-card class="example-card mat-elevation-z8 mb-3 mt-3">

                                    <img mat-card-image src="assets/images/dummy/matches-img.jpg" alt="Photo of a Shiba Inu">
                                    <span class="badge badge-info" style="position: relative;
                                    bottom: 330px;">Free Member</span>
                                    <span class="pull-right" style="position: relative;
                                    bottom: 335px; left: 15px;"><button mat-icon-button [matMenuTriggerFor]="menu"
                      aria-label="Example icon-button with a menu">
                      <mat-icon style="color: white;">more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                      <button mat-menu-item>
                        <mat-icon>dialpad</mat-icon>
                        <span>Number</span>
                                    </button>
                                    <button mat-menu-item>
                        <mat-icon>voicemail</mat-icon>
                        <span>Check mail</span>
                      </button>
                                    <button mat-menu-item>
                        <mat-icon>notifications_off</mat-icon>
                        <span>Disable alerts</span>
                      </button>
                                    </mat-menu>
                                    </span>
                                    <mat-card-content>
                                        <h6 style="margin-top: -24px;">Simba <span class="pull-right" style="font-size: 13px;"> <i class="fa fa-circle online"
                          style="color: turquoise;"></i> online</span></h6>
                                        <p style="font-size: 13px;">
                                            <mat-icon style="font-size: 15px; width: 15px;">location_on
                                            </mat-icon>Chennai, Tamilnadu
                                        </p>
                                        <mat-divider></mat-divider>
                                        <div class="row  mb-1">
                                            <div class="col-md-6">
                                                <!-- <p>24 yrs, 5'4, Aries</p>
                                                <p>Tamil</p> -->
                                                <!-- <p>Chennai, Tamilnadu</p> -->
                                                <mat-list role="list">
                                                    <mat-list-item role="listitem">24 <span> 5'8</span></mat-list-item>
                                                    <mat-list-item role="listitem">Tamil,English</mat-list-item>
                                                    <!-- <mat-list-item role="listitem"></mat-list-item> -->
                                                </mat-list>
                                            </div>
                                            <div class="col-md-6">
                                                <!-- <p>Never Married</p>
                                                <p>Hindu, Naidu</p>
                                                <p>Actress</p> -->
                                                <mat-list role="list">
                                                    <mat-list-item role="listitem">Never Married</mat-list-item>
                                                    <mat-list-item role="listitem">HR management</mat-list-item>
                                                </mat-list>
                                            </div>
                                        </div>
                                        <mat-divider></mat-divider>
                                        <p class="mt-3" style="font-size: 13px;">
                                            The Shiba Inu is the smallest of the six original
                                            <span><a href="" [routerLink]="['/viewfullprofile']"
                          routerLinkActive="router-link-active">more...</a></span>
                                        </p>
                                    </mat-card-content>

                                    <mat-card-actions>

                                        <button mat-raised-button color="warn" [routerLink]="['/price']" routerLinkActive="router-link-active" style="margin:0 90px;">Connect</button>

                                    </mat-card-actions>
                                </mat-card>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12">

                                <mat-card class="example-card mat-elevation-z8 mb-3 mt-3">

                                    <img mat-card-image src="assets/images/dummy/matches-img.jpg" alt="Photo of a Shiba Inu">
                                    <span class="badge badge-info" style="position: relative;
                                    bottom: 330px;">Free Member</span>
                                    <span class="pull-right" style="position: relative;
                                    bottom: 335px; left: 15px;"><button mat-icon-button [matMenuTriggerFor]="menu"
                      aria-label="Example icon-button with a menu">
                      <mat-icon style="color: white;">more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                      <button mat-menu-item>
                        <mat-icon>dialpad</mat-icon>
                        <span>Number</span>
                                    </button>
                                    <button mat-menu-item>
                        <mat-icon>voicemail</mat-icon>
                        <span>Check mail</span>
                      </button>
                                    <button mat-menu-item>
                        <mat-icon>notifications_off</mat-icon>
                        <span>Disable alerts</span>
                      </button>
                                    </mat-menu>
                                    </span>
                                    <mat-card-content>
                                        <h6 style="margin-top: -24px;">Simba <span class="pull-right" style="font-size: 13px;"> <i class="fa fa-circle online"
                          style="color: turquoise;"></i> online</span></h6>
                                        <p style="font-size: 13px;">
                                            <mat-icon style="font-size: 15px; width: 15px;">location_on
                                            </mat-icon>Chennai, Tamilnadu
                                        </p>
                                        <mat-divider></mat-divider>
                                        <div class="row  mb-1">
                                            <div class="col-md-6">
                                                <!-- <p>24 yrs, 5'4, Aries</p>
                                                <p>Tamil</p> -->
                                                <!-- <p>Chennai, Tamilnadu</p> -->
                                                <mat-list role="list">
                                                    <mat-list-item role="listitem">24 <span> 5'8</span></mat-list-item>
                                                    <mat-list-item role="listitem">Tamil,English</mat-list-item>
                                                    <!-- <mat-list-item role="listitem"></mat-list-item> -->
                                                </mat-list>
                                            </div>
                                            <div class="col-md-6">
                                                <!-- <p>Never Married</p>
                                                <p>Hindu, Naidu</p>
                                                <p>Actress</p> -->
                                                <mat-list role="list">
                                                    <mat-list-item role="listitem">Never Married</mat-list-item>
                                                    <mat-list-item role="listitem">HR management</mat-list-item>
                                                </mat-list>
                                            </div>
                                        </div>
                                        <mat-divider></mat-divider>
                                        <p class="mt-3" style="font-size: 13px;">
                                            The Shiba Inu is the smallest of the six original
                                            <span><a href="" [routerLink]="['/viewfullprofile']"
                          routerLinkActive="router-link-active">more...</a></span>
                                        </p>
                                    </mat-card-content>

                                    <mat-card-actions>

                                        <button mat-raised-button color="warn" [routerLink]="['/price']" routerLinkActive="router-link-active" style="margin:0 90px;">Connect</button>

                                    </mat-card-actions>
                                </mat-card>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12">

                                <mat-card class="example-card mat-elevation-z8 mb-3 mt-3">

                                    <img mat-card-image src="assets/images/dummy/matches-img.jpg" alt="Photo of a Shiba Inu">
                                    <span class="badge badge-info" style="position: relative;
                                    bottom: 330px;">Free Member</span>
                                    <span class="pull-right" style="position: relative;
                                    bottom: 335px; left: 15px;"><button mat-icon-button [matMenuTriggerFor]="menu"
                      aria-label="Example icon-button with a menu">
                      <mat-icon style="color: white;">more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                      <button mat-menu-item>
                        <mat-icon>dialpad</mat-icon>
                        <span>Number</span>
                                    </button>
                                    <button mat-menu-item>
                        <mat-icon>voicemail</mat-icon>
                        <span>Check mail</span>
                      </button>
                                    <button mat-menu-item>
                        <mat-icon>notifications_off</mat-icon>
                        <span>Disable alerts</span>
                      </button>
                                    </mat-menu>
                                    </span>
                                    <mat-card-content>
                                        <h6 style="margin-top: -24px;">Simba <span class="pull-right" style="font-size: 13px;"> <i class="fa fa-circle online"
                          style="color: turquoise;"></i> online</span></h6>
                                        <p style="font-size: 13px;">
                                            <mat-icon style="font-size: 15px; width: 15px;">location_on
                                            </mat-icon>Chennai, Tamilnadu
                                        </p>
                                        <mat-divider></mat-divider>
                                        <div class="row  mb-1">
                                            <div class="col-md-6">
                                                <!-- <p>24 yrs, 5'4, Aries</p>
                                                <p>Tamil</p> -->
                                                <!-- <p>Chennai, Tamilnadu</p> -->
                                                <mat-list role="list">
                                                    <mat-list-item role="listitem">24 <span> 5'8</span></mat-list-item>
                                                    <mat-list-item role="listitem">Tamil,English</mat-list-item>
                                                    <!-- <mat-list-item role="listitem"></mat-list-item> -->
                                                </mat-list>
                                            </div>
                                            <div class="col-md-6">
                                                <!-- <p>Never Married</p>
                                                <p>Hindu, Naidu</p>
                                                <p>Actress</p> -->
                                                <mat-list role="list">
                                                    <mat-list-item role="listitem">Never Married</mat-list-item>
                                                    <mat-list-item role="listitem">HR management</mat-list-item>
                                                </mat-list>
                                            </div>
                                        </div>
                                        <mat-divider></mat-divider>
                                        <p class="mt-3" style="font-size: 13px;">
                                            The Shiba Inu is the smallest of the six original
                                            <span><a href="" [routerLink]="['/viewfullprofile']"
                          routerLinkActive="router-link-active">more...</a></span>
                                        </p>
                                    </mat-card-content>

                                    <mat-card-actions>

                                        <button mat-raised-button color="warn" [routerLink]="['/price']" routerLinkActive="router-link-active" style="margin:0 90px;">Connect</button>

                                    </mat-card-actions>
                                </mat-card>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12">

                                <mat-card class="example-card mat-elevation-z8 mb-3 mt-3">

                                    <img mat-card-image src="assets/images/dummy/matches-img.jpg" alt="Photo of a Shiba Inu">
                                    <span class="badge badge-info" style="position: relative;
                                    bottom: 330px;">Free Member</span>
                                    <span class="pull-right" style="position: relative;
                                    bottom: 335px; left: 15px;"><button mat-icon-button [matMenuTriggerFor]="menu"
                      aria-label="Example icon-button with a menu">
                      <mat-icon style="color: white;">more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                      <button mat-menu-item>
                        <mat-icon>dialpad</mat-icon>
                        <span>Number</span>
                                    </button>
                                    <button mat-menu-item>
                        <mat-icon>voicemail</mat-icon>
                        <span>Check mail</span>
                      </button>
                                    <button mat-menu-item>
                        <mat-icon>notifications_off</mat-icon>
                        <span>Disable alerts</span>
                      </button>
                                    </mat-menu>
                                    </span>
                                    <mat-card-content>
                                        <h6 style="margin-top: -24px;">Simba <span class="pull-right" style="font-size: 13px;"> <i class="fa fa-circle online"
                          style="color: turquoise;"></i> online</span></h6>
                                        <p style="font-size: 13px;">
                                            <mat-icon style="font-size: 15px; width: 15px;">location_on
                                            </mat-icon>Chennai, Tamilnadu
                                        </p>
                                        <mat-divider></mat-divider>
                                        <div class="row  mb-1">
                                            <div class="col-md-6">
                                                <!-- <p>24 yrs, 5'4, Aries</p>
                                                <p>Tamil</p> -->
                                                <!-- <p>Chennai, Tamilnadu</p> -->
                                                <mat-list role="list">
                                                    <mat-list-item role="listitem">24 <span> 5'8</span></mat-list-item>
                                                    <mat-list-item role="listitem">Tamil,English</mat-list-item>
                                                    <!-- <mat-list-item role="listitem"></mat-list-item> -->
                                                </mat-list>
                                            </div>
                                            <div class="col-md-6">
                                                <!-- <p>Never Married</p>
                                                <p>Hindu, Naidu</p>
                                                <p>Actress</p> -->
                                                <mat-list role="list">
                                                    <mat-list-item role="listitem">Never Married</mat-list-item>
                                                    <mat-list-item role="listitem">HR management</mat-list-item>
                                                </mat-list>
                                            </div>
                                        </div>
                                        <mat-divider></mat-divider>
                                        <p class="mt-3" style="font-size: 13px;">
                                            The Shiba Inu is the smallest of the six original
                                            <span><a href="" [routerLink]="['/viewfullprofile']"
                          routerLinkActive="router-link-active">more...</a></span>
                                        </p>
                                    </mat-card-content>

                                    <mat-card-actions>

                                        <button mat-raised-button color="warn" [routerLink]="['/price']" routerLinkActive="router-link-active" style="margin:0 90px;">Connect</button>

                                    </mat-card-actions>
                                </mat-card>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12">

                                <mat-card class="example-card mat-elevation-z8 mb-3 mt-3">

                                    <img mat-card-image src="assets/images/dummy/matches-img.jpg" alt="Photo of a Shiba Inu">
                                    <span class="badge badge-info" style="position: relative;
                                    bottom: 330px;">Free Member</span>
                                    <span class="pull-right" style="position: relative;
                                    bottom: 335px; left: 15px;"><button mat-icon-button [matMenuTriggerFor]="menu"
                      aria-label="Example icon-button with a menu">
                      <mat-icon style="color: white;">more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                      <button mat-menu-item>
                        <mat-icon>dialpad</mat-icon>
                        <span>Number</span>
                                    </button>
                                    <button mat-menu-item>
                        <mat-icon>voicemail</mat-icon>
                        <span>Check mail</span>
                      </button>
                                    <button mat-menu-item>
                        <mat-icon>notifications_off</mat-icon>
                        <span>Disable alerts</span>
                      </button>
                                    </mat-menu>
                                    </span>
                                    <mat-card-content>
                                        <h6 style="margin-top: -24px;">Simba <span class="pull-right" style="font-size: 13px;"> <i class="fa fa-circle online"
                          style="color: turquoise;"></i> online</span></h6>
                                        <p style="font-size: 13px;">
                                            <mat-icon style="font-size: 15px; width: 15px;">location_on
                                            </mat-icon>Chennai, Tamilnadu
                                        </p>
                                        <mat-divider></mat-divider>
                                        <div class="row  mb-1">
                                            <div class="col-md-6">
                                                <!-- <p>24 yrs, 5'4, Aries</p>
                                                <p>Tamil</p> -->
                                                <!-- <p>Chennai, Tamilnadu</p> -->
                                                <mat-list role="list">
                                                    <mat-list-item role="listitem">24 <span> 5'8</span></mat-list-item>
                                                    <mat-list-item role="listitem">Tamil,English</mat-list-item>
                                                    <!-- <mat-list-item role="listitem"></mat-list-item> -->
                                                </mat-list>
                                            </div>
                                            <div class="col-md-6">
                                                <!-- <p>Never Married</p>
                                                <p>Hindu, Naidu</p>
                                                <p>Actress</p> -->
                                                <mat-list role="list">
                                                    <mat-list-item role="listitem">Never Married</mat-list-item>
                                                    <mat-list-item role="listitem">HR management</mat-list-item>
                                                </mat-list>
                                            </div>
                                        </div>
                                        <mat-divider></mat-divider>
                                        <p class="mt-3" style="font-size: 13px;">
                                            The Shiba Inu is the smallest of the six original
                                            <span><a href="" [routerLink]="['/viewfullprofile']"
                          routerLinkActive="router-link-active">more...</a></span>
                                        </p>
                                    </mat-card-content>

                                    <mat-card-actions>

                                        <button mat-raised-button color="warn" [routerLink]="['/price']" routerLinkActive="router-link-active" style="margin:0 90px;">Connect</button>

                                    </mat-card-actions>
                                </mat-card>
                            </div>
                        </div>

                    </div>

                </mat-tab>
                <!-- ---------------------today matches section---------------------- -->
                <!-- ---------------------my matches section---------------------- -->
                <mat-tab label="My Matches">
                    <div class="container-fluid">
                        <div class="row clearfix card-margin">
                            <div class="col-lg-3 col-md-6 col-sm-12">
                                <mat-card>
                                    <div class="agent">
                                        <div class="agent-avatar">
                                            <a href="#" [routerLink]="['/viewfullprofile']" routerLinkActive="router-link-active">
                                                <img src="assets/images/matches/sam.jpg" class="img-fluid " alt="Image">
                                            </a>
                                        </div>
                                        <div class="agent-content">
                                            <div class="row">
                                                <div class="col-md-12 name-head">
                                                    <h4>Samantha.s <span class="pull-right"><button mat-icon-button [matMenuTriggerFor]="menu"
                                aria-label="Example icon-button with a menu">
                                <mat-icon>more_vert</mat-icon>
                              </button>
                              <mat-menu #menu="matMenu">
                                <button mat-menu-item>
                                  <mat-icon>dialpad</mat-icon>
                                  <span>Number</span>
                                                        </button>
                                                        <button mat-menu-item>
                                  <mat-icon>voicemail</mat-icon>
                                  <span>Check mail</span>
                                </button>
                                                        <button mat-menu-item>
                                  <mat-icon>notifications_off</mat-icon>
                                  <span>Disable alerts</span>
                                </button>
                                                        </mat-menu>
                                                        </span>
                                                    </h4>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="agent-name">
                                                        <p>24 yrs, 5'4, Aries</p>
                                                        <p>Tamil</p>
                                                        <p>Chennai, Tamilnadu</p>

                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="agent-name">
                                                        <p>Never Married</p>
                                                        <p>Hindu, Naidu</p>
                                                        <p>Actress</p>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="agent-name">
                                                        <p>I would like to write few words about my daughter. She has completed her Bachelors in Design (Lifestyle Accessory).</p>
                                                        <!-- She has a very charming and pleasant Personality. My daughter's genuineness, caring
                                                        and affectionate nature, wins her friends in every walk of life. Please drop in a message if you would like to know more. -->
                                                    </div>
                                                </div>
                                                <div class="col-md-6"></div>
                                                <div class="col-md-6">
                                                    <div class="matches-viewpf text-center">
                                                        <button mat-raised-button color="warn" [routerLink]="['/price']" routerLinkActive="router-link-active">
                              <mat-icon>check_circle_outline</mat-icon><span>Connect</span>
                            </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </mat-card>
                            </div>

                            <div class="col-lg-3 col-md-6 col-sm-12">
                                <mat-card>
                                    <div class="agent">
                                        <div class="agent-avatar">
                                            <a href="#" [routerLink]="['/viewfullprofile']" routerLinkActive="router-link-active">
                                                <img src="assets/images/matches/sam.jpg" class="img-fluid " alt="Image">
                                            </a>
                                        </div>
                                        <div class="agent-content">
                                            <div class="row">
                                                <div class="col-md-12 name-head">
                                                    <h4>Samantha.s <span class="pull-right"><button mat-icon-button [matMenuTriggerFor]="menu"
                                aria-label="Example icon-button with a menu">
                                <mat-icon>more_vert</mat-icon>
                              </button>
                              <mat-menu #menu="matMenu">
                                <button mat-menu-item>
                                  <mat-icon>dialpad</mat-icon>
                                  <span>Number</span>
                                                        </button>
                                                        <button mat-menu-item>
                                  <mat-icon>voicemail</mat-icon>
                                  <span>Check mail</span>
                                </button>
                                                        <button mat-menu-item>
                                  <mat-icon>notifications_off</mat-icon>
                                  <span>Disable alerts</span>
                                </button>
                                                        </mat-menu>
                                                        </span>
                                                    </h4>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="agent-name">
                                                        <p>24 yrs, 5'4, Aries</p>
                                                        <p>Tamil</p>
                                                        <p>Chennai, Tamilnadu</p>

                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="agent-name">
                                                        <p>Never Married</p>
                                                        <p>Hindu, Naidu</p>
                                                        <p>Actress</p>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="agent-name">
                                                        <p>I would like to write few words about my daughter. She has completed her Bachelors in Design (Lifestyle Accessory).</p>
                                                        <!-- She has a very charming and pleasant Personality. My daughter's genuineness, caring
                                                        and affectionate nature, wins her friends in every walk of life. Please drop in a message if you would like to know more. -->
                                                    </div>
                                                </div>
                                                <div class="col-md-6"></div>
                                                <div class="col-md-6">
                                                    <div class="matches-viewpf text-center">
                                                        <button mat-raised-button color="warn" [routerLink]="['/price']" routerLinkActive="router-link-active">
                              <mat-icon>check_circle_outline</mat-icon><span>Connect</span>
                            </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </mat-card>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12">
                                <mat-card>
                                    <div class="agent">
                                        <div class="agent-avatar">
                                            <a href="#" [routerLink]="['/viewfullprofile']" routerLinkActive="router-link-active">
                                                <img src="assets/images/matches/sam.jpg" class="img-fluid " alt="Image">
                                            </a>
                                        </div>
                                        <div class="agent-content">
                                            <div class="row">
                                                <div class="col-md-12 name-head">
                                                    <h4>Samantha.s <span class="pull-right"><button mat-icon-button [matMenuTriggerFor]="menu"
                                aria-label="Example icon-button with a menu">
                                <mat-icon>more_vert</mat-icon>
                              </button>
                              <mat-menu #menu="matMenu">
                                <button mat-menu-item>
                                  <mat-icon>dialpad</mat-icon>
                                  <span>Number</span>
                                                        </button>
                                                        <button mat-menu-item>
                                  <mat-icon>voicemail</mat-icon>
                                  <span>Check mail</span>
                                </button>
                                                        <button mat-menu-item>
                                  <mat-icon>notifications_off</mat-icon>
                                  <span>Disable alerts</span>
                                </button>
                                                        </mat-menu>
                                                        </span>
                                                    </h4>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="agent-name">
                                                        <p>24 yrs, 5'4, Aries</p>
                                                        <p>Tamil</p>
                                                        <p>Chennai, Tamilnadu</p>

                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="agent-name">
                                                        <p>Never Married</p>
                                                        <p>Hindu, Naidu</p>
                                                        <p>Actress</p>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="agent-name">
                                                        <p>I would like to write few words about my daughter. She has completed her Bachelors in Design (Lifestyle Accessory).</p>
                                                        <!-- She has a very charming and pleasant Personality. My daughter's genuineness, caring
                                                        and affectionate nature, wins her friends in every walk of life. Please drop in a message if you would like to know more. -->
                                                    </div>
                                                </div>
                                                <div class="col-md-6"></div>
                                                <div class="col-md-6">
                                                    <div class="matches-viewpf text-center">
                                                        <button mat-raised-button color="warn" [routerLink]="['/price']" routerLinkActive="router-link-active">
                              <mat-icon>check_circle_outline</mat-icon><span>Connect</span>
                            </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </mat-card>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12">
                                <mat-card>
                                    <div class="agent">
                                        <div class="agent-avatar">
                                            <a href="#" [routerLink]="['/viewfullprofile']" routerLinkActive="router-link-active">
                                                <img src="assets/images/matches/sam.jpg" class="img-fluid " alt="Image">
                                            </a>
                                        </div>
                                        <div class="agent-content">
                                            <div class="row">
                                                <div class="col-md-12 name-head">
                                                    <h4>Samantha.s <span class="pull-right"><button mat-icon-button [matMenuTriggerFor]="menu"
                                aria-label="Example icon-button with a menu">
                                <mat-icon>more_vert</mat-icon>
                              </button>
                              <mat-menu #menu="matMenu">
                                <button mat-menu-item>
                                  <mat-icon>dialpad</mat-icon>
                                  <span>Number</span>
                                                        </button>
                                                        <button mat-menu-item>
                                  <mat-icon>voicemail</mat-icon>
                                  <span>Check mail</span>
                                </button>
                                                        <button mat-menu-item>
                                  <mat-icon>notifications_off</mat-icon>
                                  <span>Disable alerts</span>
                                </button>
                                                        </mat-menu>
                                                        </span>
                                                    </h4>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="agent-name">
                                                        <p>24 yrs, 5'4, Aries</p>
                                                        <p>Tamil</p>
                                                        <p>Chennai, Tamilnadu</p>

                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="agent-name">
                                                        <p>Never Married</p>
                                                        <p>Hindu, Naidu</p>
                                                        <p>Actress</p>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="agent-name">
                                                        <p>I would like to write few words about my daughter. She has completed her Bachelors in Design (Lifestyle Accessory).</p>
                                                        <!-- She has a very charming and pleasant Personality. My daughter's genuineness, caring
                                                        and affectionate nature, wins her friends in every walk of life. Please drop in a message if you would like to know more. -->
                                                    </div>
                                                </div>
                                                <div class="col-md-6"></div>
                                                <div class="col-md-6">
                                                    <div class="matches-viewpf text-center">
                                                        <button mat-raised-button color="warn" [routerLink]="['/price']" routerLinkActive="router-link-active">
                              <mat-icon>check_circle_outline</mat-icon><span>Connect</span>
                            </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </mat-card>
                            </div>
                        </div>
                    </div>
                </mat-tab>
                <!-- ---------------------my matches section---------------------- -->

                <!-- ---------------------near me section---------------------- -->
                <mat-tab label="Near Me">
                    <div class="container-fluid">
                        <div class="row clearfix card-margin">
                            <div class="col-lg-3 col-md-6 col-sm-12">
                                <mat-card>
                                    <div class="agent">
                                        <div class="agent-avatar">
                                            <a href="#" [routerLink]="['/viewfullprofile']" routerLinkActive="router-link-active">
                                                <img src="assets/images/matches/sam.jpg" class="img-fluid " alt="Image">
                                            </a>
                                        </div>
                                        <div class="agent-content">
                                            <div class="row">
                                                <div class="col-md-12 name-head">
                                                    <h4>Samantha.s <span class="pull-right"><button mat-icon-button [matMenuTriggerFor]="menu"
                                aria-label="Example icon-button with a menu">
                                <mat-icon>more_vert</mat-icon>
                              </button>
                              <mat-menu #menu="matMenu">
                                <button mat-menu-item>
                                  <mat-icon>dialpad</mat-icon>
                                  <span>Number</span>
                                                        </button>
                                                        <button mat-menu-item>
                                  <mat-icon>voicemail</mat-icon>
                                  <span>Check mail</span>
                                </button>
                                                        <button mat-menu-item>
                                  <mat-icon>notifications_off</mat-icon>
                                  <span>Disable alerts</span>
                                </button>
                                                        </mat-menu>
                                                        </span>
                                                    </h4>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="agent-name">
                                                        <p>24 yrs, 5'4, Aries</p>
                                                        <p>Tamil</p>
                                                        <p>Chennai, Tamilnadu</p>

                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="agent-name">
                                                        <p>Never Married</p>
                                                        <p>Hindu, Naidu</p>
                                                        <p>Actress</p>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="agent-name">
                                                        <p>I would like to write few words about my daughter. She has completed her Bachelors in Design (Lifestyle Accessory).</p>
                                                        <!-- She has a very charming and pleasant Personality. My daughter's genuineness, caring
                                                        and affectionate nature, wins her friends in every walk of life. Please drop in a message if you would like to know more. -->
                                                    </div>
                                                </div>
                                                <div class="col-md-6"></div>
                                                <div class="col-md-6">
                                                    <div class="matches-viewpf text-center">
                                                        <button mat-raised-button color="warn" [routerLink]="['/price']" routerLinkActive="router-link-active">
                              <mat-icon>check_circle_outline</mat-icon><span>Connect</span>
                            </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </mat-card>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12">
                                <mat-card>
                                    <div class="agent">
                                        <div class="agent-avatar">
                                            <a href="#" [routerLink]="['/viewfullprofile']" routerLinkActive="router-link-active">
                                                <img src="assets/images/matches/sam.jpg" class="img-fluid " alt="Image">
                                            </a>
                                        </div>
                                        <div class="agent-content">
                                            <div class="row">
                                                <div class="col-md-12 name-head">
                                                    <h4>Samantha.s <span class="pull-right"><button mat-icon-button [matMenuTriggerFor]="menu"
                                aria-label="Example icon-button with a menu">
                                <mat-icon>more_vert</mat-icon>
                              </button>
                              <mat-menu #menu="matMenu">
                                <button mat-menu-item>
                                  <mat-icon>dialpad</mat-icon>
                                  <span>Number</span>
                                                        </button>
                                                        <button mat-menu-item>
                                  <mat-icon>voicemail</mat-icon>
                                  <span>Check mail</span>
                                </button>
                                                        <button mat-menu-item>
                                  <mat-icon>notifications_off</mat-icon>
                                  <span>Disable alerts</span>
                                </button>
                                                        </mat-menu>
                                                        </span>
                                                    </h4>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="agent-name">
                                                        <p>24 yrs, 5'4, Aries</p>
                                                        <p>Tamil</p>
                                                        <p>Chennai, Tamilnadu</p>

                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="agent-name">
                                                        <p>Never Married</p>
                                                        <p>Hindu, Naidu</p>
                                                        <p>Actress</p>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="agent-name">
                                                        <p>I would like to write few words about my daughter. She has completed her Bachelors in Design (Lifestyle Accessory).</p>
                                                        <!-- She has a very charming and pleasant Personality. My daughter's genuineness, caring
                                                        and affectionate nature, wins her friends in every walk of life. Please drop in a message if you would like to know more. -->
                                                    </div>
                                                </div>
                                                <div class="col-md-6"></div>
                                                <div class="col-md-6">
                                                    <div class="matches-viewpf text-center">
                                                        <button mat-raised-button color="warn" [routerLink]="['/price']" routerLinkActive="router-link-active">
                              <mat-icon>check_circle_outline</mat-icon><span>Connect</span>
                            </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </mat-card>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12">
                                <mat-card>
                                    <div class="agent">
                                        <div class="agent-avatar">
                                            <a href="#" [routerLink]="['/viewfullprofile']" routerLinkActive="router-link-active">
                                                <img src="assets/images/matches/sam.jpg" class="img-fluid " alt="Image">
                                            </a>
                                        </div>
                                        <div class="agent-content">
                                            <div class="row">
                                                <div class="col-md-12 name-head">
                                                    <h4>Samantha.s <span class="pull-right"><button mat-icon-button [matMenuTriggerFor]="menu"
                                aria-label="Example icon-button with a menu">
                                <mat-icon>more_vert</mat-icon>
                              </button>
                              <mat-menu #menu="matMenu">
                                <button mat-menu-item>
                                  <mat-icon>dialpad</mat-icon>
                                  <span>Number</span>
                                                        </button>
                                                        <button mat-menu-item>
                                  <mat-icon>voicemail</mat-icon>
                                  <span>Check mail</span>
                                </button>
                                                        <button mat-menu-item>
                                  <mat-icon>notifications_off</mat-icon>
                                  <span>Disable alerts</span>
                                </button>
                                                        </mat-menu>
                                                        </span>
                                                    </h4>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="agent-name">
                                                        <p>24 yrs, 5'4, Aries</p>
                                                        <p>Tamil</p>
                                                        <p>Chennai, Tamilnadu</p>

                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="agent-name">
                                                        <p>Never Married</p>
                                                        <p>Hindu, Naidu</p>
                                                        <p>Actress</p>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="agent-name">
                                                        <p>I would like to write few words about my daughter. She has completed her Bachelors in Design (Lifestyle Accessory).</p>
                                                        <!-- She has a very charming and pleasant Personality. My daughter's genuineness, caring
                                                        and affectionate nature, wins her friends in every walk of life. Please drop in a message if you would like to know more. -->
                                                    </div>
                                                </div>
                                                <div class="col-md-6"></div>
                                                <div class="col-md-6">
                                                    <div class="matches-viewpf text-center">
                                                        <button mat-raised-button color="warn" [routerLink]="['/price']" routerLinkActive="router-link-active">
                              <mat-icon>check_circle_outline</mat-icon><span>Connect</span>
                            </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </mat-card>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12">
                                <mat-card>
                                    <div class="agent">
                                        <div class="agent-avatar">
                                            <a href="#" [routerLink]="['/viewfullprofile']" routerLinkActive="router-link-active">
                                                <img src="assets/images/matches/sam.jpg" class="img-fluid " alt="Image">
                                            </a>
                                        </div>
                                        <div class="agent-content">
                                            <div class="row">
                                                <div class="col-md-12 name-head">
                                                    <h4>Samantha.s <span class="pull-right"><button mat-icon-button [matMenuTriggerFor]="menu"
                                aria-label="Example icon-button with a menu">
                                <mat-icon>more_vert</mat-icon>
                              </button>
                              <mat-menu #menu="matMenu">
                                <button mat-menu-item>
                                  <mat-icon>dialpad</mat-icon>
                                  <span>Number</span>
                                                        </button>
                                                        <button mat-menu-item>
                                  <mat-icon>voicemail</mat-icon>
                                  <span>Check mail</span>
                                </button>
                                                        <button mat-menu-item>
                                  <mat-icon>notifications_off</mat-icon>
                                  <span>Disable alerts</span>
                                </button>
                                                        </mat-menu>
                                                        </span>
                                                    </h4>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="agent-name">
                                                        <p>24 yrs, 5'4, Aries</p>
                                                        <p>Tamil</p>
                                                        <p>Chennai, Tamilnadu</p>

                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="agent-name">
                                                        <p>Never Married</p>
                                                        <p>Hindu, Naidu</p>
                                                        <p>Actress</p>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="agent-name">
                                                        <p>I would like to write few words about my daughter. She has completed her Bachelors in Design (Lifestyle Accessory).</p>
                                                        <!-- She has a very charming and pleasant Personality. My daughter's genuineness, caring
                                                        and affectionate nature, wins her friends in every walk of life. Please drop in a message if you would like to know more. -->
                                                    </div>
                                                </div>
                                                <div class="col-md-6"></div>
                                                <div class="col-md-6">
                                                    <div class="matches-viewpf text-center">
                                                        <button mat-raised-button color="warn" [routerLink]="['/price']" routerLinkActive="router-link-active">
                              <mat-icon>check_circle_outline</mat-icon><span>Connect</span>
                            </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </mat-card>
                            </div>
                        </div>
                    </div>
                </mat-tab>
                <!-- ---------------------near me section---------------------- -->

                <!-- ---------------------recently viewed section---------------------- -->
                <mat-tab label="Recently Viewed">
                    <div class="container-fluid">
                        <div class="row clearfix card-margin">
                            <div class="col-lg-3 col-md-6 col-sm-12">
                                <mat-card>
                                    <div class="agent">
                                        <div class="agent-avatar">
                                            <a href="#" [routerLink]="['/viewfullprofile']" routerLinkActive="router-link-active">
                                                <img src="assets/images/matches/sam.jpg" class="img-fluid " alt="Image">
                                            </a>
                                        </div>
                                        <div class="agent-content">
                                            <div class="row">
                                                <div class="col-md-12 name-head">
                                                    <h4>Samantha.s <span class="pull-right"><button mat-icon-button [matMenuTriggerFor]="menu"
                                aria-label="Example icon-button with a menu">
                                <mat-icon>more_vert</mat-icon>
                              </button>
                              <mat-menu #menu="matMenu">
                                <button mat-menu-item>
                                  <mat-icon>dialpad</mat-icon>
                                  <span>Number</span>
                                                        </button>
                                                        <button mat-menu-item>
                                  <mat-icon>voicemail</mat-icon>
                                  <span>Check mail</span>
                                </button>
                                                        <button mat-menu-item>
                                  <mat-icon>notifications_off</mat-icon>
                                  <span>Disable alerts</span>
                                </button>
                                                        </mat-menu>
                                                        </span>
                                                    </h4>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="agent-name">
                                                        <p>24 yrs, 5'4, Aries</p>
                                                        <p>Tamil</p>
                                                        <p>Chennai, Tamilnadu</p>

                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="agent-name">
                                                        <p>Never Married</p>
                                                        <p>Hindu, Naidu</p>
                                                        <p>Actress</p>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="agent-name">
                                                        <p>I would like to write few words about my daughter. She has completed her Bachelors in Design (Lifestyle Accessory).</p>
                                                        <!-- She has a very charming and pleasant Personality. My daughter's genuineness, caring
                                                        and affectionate nature, wins her friends in every walk of life. Please drop in a message if you would like to know more. -->
                                                    </div>
                                                </div>
                                                <div class="col-md-6"></div>
                                                <div class="col-md-6">
                                                    <div class="matches-viewpf text-center">
                                                        <button mat-raised-button color="warn" [routerLink]="['/price']" routerLinkActive="router-link-active">
                              <mat-icon>check_circle_outline</mat-icon><span>Connect</span>
                            </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </mat-card>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12">
                                <mat-card>
                                    <div class="agent">
                                        <div class="agent-avatar">
                                            <a href="#" [routerLink]="['/viewfullprofile']" routerLinkActive="router-link-active">
                                                <img src="assets/images/matches/sam.jpg" class="img-fluid " alt="Image">
                                            </a>
                                        </div>
                                        <div class="agent-content">
                                            <div class="row">
                                                <div class="col-md-12 name-head">
                                                    <h4>Samantha.s <span class="pull-right"><button mat-icon-button [matMenuTriggerFor]="menu"
                                aria-label="Example icon-button with a menu">
                                <mat-icon>more_vert</mat-icon>
                              </button>
                              <mat-menu #menu="matMenu">
                                <button mat-menu-item>
                                  <mat-icon>dialpad</mat-icon>
                                  <span>Number</span>
                                                        </button>
                                                        <button mat-menu-item>
                                  <mat-icon>voicemail</mat-icon>
                                  <span>Check mail</span>
                                </button>
                                                        <button mat-menu-item>
                                  <mat-icon>notifications_off</mat-icon>
                                  <span>Disable alerts</span>
                                </button>
                                                        </mat-menu>
                                                        </span>
                                                    </h4>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="agent-name">
                                                        <p>24 yrs, 5'4, Aries</p>
                                                        <p>Tamil</p>
                                                        <p>Chennai, Tamilnadu</p>

                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="agent-name">
                                                        <p>Never Married</p>
                                                        <p>Hindu, Naidu</p>
                                                        <p>Actress</p>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="agent-name">
                                                        <p>I would like to write few words about my daughter. She has completed her Bachelors in Design (Lifestyle Accessory).</p>
                                                        <!-- She has a very charming and pleasant Personality. My daughter's genuineness, caring
                                                        and affectionate nature, wins her friends in every walk of life. Please drop in a message if you would like to know more. -->
                                                    </div>
                                                </div>
                                                <div class="col-md-6"></div>
                                                <div class="col-md-6">
                                                    <div class="matches-viewpf text-center">
                                                        <button mat-raised-button color="warn" [routerLink]="['/price']" routerLinkActive="router-link-active">
                              <mat-icon>check_circle_outline</mat-icon><span>Connect</span>
                            </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </mat-card>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12">
                                <mat-card>
                                    <div class="agent">
                                        <div class="agent-avatar">
                                            <a href="#" [routerLink]="['/viewfullprofile']" routerLinkActive="router-link-active">
                                                <img src="assets/images/matches/sam.jpg" class="img-fluid " alt="Image">
                                            </a>
                                        </div>
                                        <div class="agent-content">
                                            <div class="row">
                                                <div class="col-md-12 name-head">
                                                    <h4>Samantha.s <span class="pull-right"><button mat-icon-button [matMenuTriggerFor]="menu"
                                aria-label="Example icon-button with a menu">
                                <mat-icon>more_vert</mat-icon>
                              </button>
                              <mat-menu #menu="matMenu">
                                <button mat-menu-item>
                                  <mat-icon>dialpad</mat-icon>
                                  <span>Number</span>
                                                        </button>
                                                        <button mat-menu-item>
                                  <mat-icon>voicemail</mat-icon>
                                  <span>Check mail</span>
                                </button>
                                                        <button mat-menu-item>
                                  <mat-icon>notifications_off</mat-icon>
                                  <span>Disable alerts</span>
                                </button>
                                                        </mat-menu>
                                                        </span>
                                                    </h4>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="agent-name">
                                                        <p>24 yrs, 5'4, Aries</p>
                                                        <p>Tamil</p>
                                                        <p>Chennai, Tamilnadu</p>

                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="agent-name">
                                                        <p>Never Married</p>
                                                        <p>Hindu, Naidu</p>
                                                        <p>Actress</p>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="agent-name">
                                                        <p>I would like to write few words about my daughter. She has completed her Bachelors in Design (Lifestyle Accessory).</p>
                                                        <!-- She has a very charming and pleasant Personality. My daughter's genuineness, caring
                                                        and affectionate nature, wins her friends in every walk of life. Please drop in a message if you would like to know more. -->
                                                    </div>
                                                </div>
                                                <div class="col-md-6"></div>
                                                <div class="col-md-6">
                                                    <div class="matches-viewpf text-center">
                                                        <button mat-raised-button color="warn" [routerLink]="['/price']" routerLinkActive="router-link-active">
                              <mat-icon>check_circle_outline</mat-icon><span>Connect</span>
                            </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </mat-card>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12">
                                <mat-card>
                                    <div class="agent">
                                        <div class="agent-avatar">
                                            <a href="#" [routerLink]="['/viewfullprofile']" routerLinkActive="router-link-active">
                                                <img src="assets/images/matches/sam.jpg" class="img-fluid " alt="Image">
                                            </a>
                                        </div>
                                        <div class="agent-content">
                                            <div class="row">
                                                <div class="col-md-12 name-head">
                                                    <h4>Samantha.s <span class="pull-right"><button mat-icon-button [matMenuTriggerFor]="menu"
                                aria-label="Example icon-button with a menu">
                                <mat-icon>more_vert</mat-icon>
                              </button>
                              <mat-menu #menu="matMenu">
                                <button mat-menu-item>
                                  <mat-icon>dialpad</mat-icon>
                                  <span>Number</span>
                                                        </button>
                                                        <button mat-menu-item>
                                  <mat-icon>voicemail</mat-icon>
                                  <span>Check mail</span>
                                </button>
                                                        <button mat-menu-item>
                                  <mat-icon>notifications_off</mat-icon>
                                  <span>Disable alerts</span>
                                </button>
                                                        </mat-menu>
                                                        </span>
                                                    </h4>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="agent-name">
                                                        <p>24 yrs, 5'4, Aries</p>
                                                        <p>Tamil</p>
                                                        <p>Chennai, Tamilnadu</p>

                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="agent-name">
                                                        <p>Never Married</p>
                                                        <p>Hindu, Naidu</p>
                                                        <p>Actress</p>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="agent-name">
                                                        <p>I would like to write few words about my daughter. She has completed her Bachelors in Design (Lifestyle Accessory).</p>
                                                        <!-- She has a very charming and pleasant Personality. My daughter's genuineness, caring
                                                        and affectionate nature, wins her friends in every walk of life. Please drop in a message if you would like to know more. -->
                                                    </div>
                                                </div>
                                                <div class="col-md-6"></div>
                                                <div class="col-md-6">
                                                    <div class="matches-viewpf text-center">
                                                        <button mat-raised-button color="warn" [routerLink]="['/price']" routerLinkActive="router-link-active">
                              <mat-icon>check_circle_outline</mat-icon><span>Connect</span>
                            </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </mat-card>
                            </div>
                        </div>
                    </div>
                </mat-tab>
                <!-- ---------------------recently viewed section---------------------- -->
            </mat-tab-group>
        </mat-card>
    </div>
</section>