// .matches-section {

//     ::ng-deep .mat-tab-group.mat-primary .mat-ink-bar,
//     ::ng-deep .mat-tab-nav-bar.mat-primary .mat-ink-bar {
//       background-color: #dc3545;
//     }



//     .card-margin {
//       margin-top: 20px;
//       margin-bottom: 20px;
//       overflow: hidden;
//     }

//     .m-r-15,
//     .product-report .icon {
//       margin-right: 15px;
//     }

//     .card {
//       background: #fff;
//       transition: .5s;
//       border: 0;
//       border-radius: .1875rem;
//       display: inline-block;
//       position: relative;
//       width: 100%;
//       box-shadow: none;
//     }

//     .team-info li+li {
//       margin-left: -10px;
//     }

//     .social-icons li {
//       display: inline-block;
//     }

//     .team-info li {
//       margin-top: 5px;
//       display: inline-block;
//     }

//     .team-info li img {
//       width: 35px;
//       -webkit-border-radius: 50%;
//       -moz-border-radius: 50%;
//       -ms-border-radius: 50%;
//       border-radius: 50%;
//       border: 2px solid #fff;
//       box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.2);
//     }

//     .agent .agent-avatar {
//       width: 100%;
//     }

//     .agent .agent-avatar a {
//       position: relative;
//       width: 100%;
//       height: 100%;
//       overflow: hidden
//     }

//     .agent .agent-content .agent-contact-details {
//       list-style: none;
//       color: #9e9e9e;
//       padding: 18px 32px !important;
//       background-color: #f5f5f5;
//       margin-bottom: 0px;
//     }

//     .agent .agent-content .agent-contact-details li {
//       position: relative;
//       margin-left: 28px;
//       line-height: 24px;
//       padding: 3px 0;
//       word-break: break-all
//     }


//     .agent-content {
//   margin-top: -30px;
//       .agent-name {
//         padding: 8px;

//         p {
//           font-size: 13px;
//           margin-bottom: 6px;
//         }


//       }
//       .membership {
//           font-size: 13px;
//           padding-left: 10px;
//           border: 1px solid;
//           margin-left: 10px;
//           border-radius: 3px;
//         }
//       .name-head {
//         margin: 10px 0px 0px 5px;

//         h4 {
//           font-size: 16px;
//           margin-bottom: 0px;
//         }
//       }

//       .matches-viewpf {
//         button {
//           // min-width: 100%;
//           // border-radius: 0px;

//           .mat-icon {
//             color: #ffffff;
//           }

//           span {
//             margin-left: 5px;
//             position: relative;
//             top: 1px;
//           }
//         }
//       }
//     }

//     .agent-contact-details {
//       li {
//         a {
//           color: #343a40;

//           &:hover {
//             text-decoration: none;
//           }

//           span {
//             font-size: 16px;
//             margin-left: 20px;
//             position: relative;
//             top: -5px;
//           }

//           .mat-icon {
//             border: 1px solid #808080;
//           }
//         }
//       }
//     }
//   }
// search id style


.searchbar {
  margin-bottom: auto;
  margin-top: auto;
  height: 60px;
  background-color: #353b48;
  border-radius: 30px;
  padding: 10px;
}

.search_input {
  color: white;
  border: 0;
  outline: 0;
  background: none;
  width: 0;
  caret-color: transparent;
  line-height: 40px;
}

.search_input {
  padding: 0 10px;
  width: 450px;

}

.searchbar:hover>.search_icon {
  background: white;
  color: #e74c3c;
}

.search_icon {
  height: 40px;
  width: 40px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
  text-decoration: none;
}

// search id style

//   // membership
//   .membership {
//     position: relative;
//       bottom: 200px;
//       border: 1px solid black;
//       background: white;
//       color: black;
//       padding: 1px;
//       font-size: 13px;
//       border-radius: 6px;
//       margin-left: 4px;
//       font-family: sans-serif;
//   }
.example-card {
  max-width: 320px;

}

.example-card img {
  height: 320px;
}

.mat-flat-button.mat-warn,
.mat-raised-button.mat-warn,
.mat-fab.mat-warn,
.mat-mini-fab.mat-warn {
  background-color: #be3d52;
}

.mat-list-base .mat-list-item,
.mat-list-base .mat-list-option {
  display: block;
  height: 25px;
  -webkit-tap-highlight-color: transparent;
  width: 100%;
  padding: 0;
  font-size: 12px;
}

:host /deep/ .mat-list-base .mat-list-item .mat-list-item-content {

  padding: 0 0px !important;

}

#custom-search-input {
  margin: 0;
  margin-top: 10px;
  padding: 0;
}

#custom-search-input .search-query {
  padding-right: 13px;
  padding-right: 4px \9;
  padding-left: 13px;
  padding-left: 4px \9;
  /* IE7-8 doesn't have border-radius, so don't indent the padding */

  margin-bottom: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 6px;
  height: 45px;
  border: 6px solid #ececec;
  font-size: 15px;
  color: #042337;
  font-family: sans-serif;
}

#custom-search-input button {
  border: 0;
  background: none;
  /** belows styles are working good */
  padding: 2px 5px;
  margin-top: -9px;
  position: relative;
  // left: -28px;
  /* IE7-8 doesn't have border-radius, so don't indent the padding */
  margin-bottom: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #eb4b76d1;
  font-size: 20px;
}

.search-query:focus+button {
  z-index: 3;
}

#custom-search-input .input-group-btn {
  position: absolute;
  font-size: 0;
  white-space: nowrap;
  right: 20px;
  top: 15px;
  z-index: 1000;
}
