.container {
    width: 80%;
    margin: auto;
    padding: 18px;
    height: 100%
}

.login,
.register {
    width: 50%
}

/*Start Login Style*/
.login {
    float: left;
    // height: 100%;
    padding: 8px 0;

    .logo-sec {
        margin-bottom: 5px;

        img {
            width: 200px;
            height: 175px;;
        }
    }

    h1 {
        margin-bottom: 40px;
        font-size: 35px;
        text-align: center;
    }

    span.remberme {
        float: left;
        margin-top: -5px;
    }

    input[type="checkbox"] {
        float: left;
        margin-right: 5px;
        margin-top: 5px;
    }

    a {
        float: right;
        text-decoration: none;
        color: #000;
        transition: 0.3s all ease-in-out;
        margin-top: -2px;

        &:hover {
            color: #f44336;
            font-weight: bold
        }
    }

    ul {
        list-style: none;

        li {
            display: inline-block;
            margin-right: 10px;

            &:hover {
                opacity: 0.6
            }
        }
    }

    .submit-sec {
        .mat-raised-button {
            width: 100%;
            margin-top: 5px;
        }
    }

    .signin-others {
        // border: 1px solid #d2d2d2;
        border-radius: 4px;
        margin-top: 5px;

        span {
            margin-left: 3px;
        }

        button {
            margin: 10px 2px;

            .fab {
                font-size: 18px;
            }
        }
    }
}


/*Start Register Style*/
.register {
    float: right;
    background: linear-gradient(220deg, #ec5252 -10%, #6e1a52 70%);
    height: 100%;
    color: #fff;
    text-align: center;
    padding: 100px 0;
}

.register h2 {
    margin: 30px 0;
    color: #ffffff;
    font-weight: 900;
    font-size: 22px;
    letter-spacing: 2px
}

.register p {
    font-size: 18px;
    margin-bottom: 30px;
}

.register button {
    background-color: transparent;
    border: 1px solid #FFF;
    border-radius: 20px;
    padding: 10px 20px;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    transition: 0.2s all ease-in-out;
}

.register button:hover {
    color: #f44336;
    background-color: #fff;
    cursor: pointer;
}

.form-check {
    margin-left: 15px;
}
.otp-mobile-sect{
    .form-inline .form-control {
        display: inline-block;
        width: 50%;
        vertical-align: middle;
    }
    button{
        padding: 0 3px;
        min-width: 85px;
        margin-left: -12px;
    }
}
.verify-otp-sec{
    button{
        padding: 0 3px;
        min-width: 85px;
        margin-left: -12px;
    }
}