.inbox-section {
    ::ng-deep .mat-tab-group.mat-primary .mat-ink-bar,
    ::ng-deep .mat-tab-nav-bar.mat-primary .mat-ink-bar {
        background-color: #dc3545;
    }
    .mat-card.inbox-main-card{
        padding: 0px;
    }
    .image-radius-card {
        margin: 5px;

        img {
            width: 200px;
            border-radius: 50%;
            height: 200px;
        }
        
    }
    .search-card{
        margin: 20px;
    }
    .inbox-card-margin{
        overflow: hidden;
    }
    .profile-inbox-card {
        padding: 0px;
        margin-top: 10px;
        margin-bottom: 10px;
        background-color: #eaeaea;
        .br-border{
            border-right: 1px solid #afadad;
        }
        .profile-content{
            padding: 10px;
        }
        .head-sec{
            a {
                color: #ff0000;
                &:hover {
                    text-decoration: none;
                }
            }
        }
        .chat-sec{
            border-bottom: 1px solid rgba(0, 0, 0, 0.12);
              a {
                color: #696969;
                &:hover {
                    text-decoration: none;
                }
                span{
                    position: relative;
                    top: -8px;
                }
            }
        }
        .about-sec{
            margin-top: 10px;
        }
    }
    .btn-sect {
        padding: 10px;
        button {
          margin: 5px;
          line-height: 30px;
          padding: 0 8px;
        }
      }
      .example-radio-group {
        display: flex;
        flex-direction: column;
        margin: 15px 0;
      }
      
      .example-radio-button {
        margin: 5px;
      }
      .add-section-img{
        margin-top: 10px;
        img{
            width: 100%;
            height: auto;
        }
    }

    img.view-image-blur {
        filter: blur(8px);
        -webkit-filter: blur(8px);
      }
  
      img.view-image-blur {
        position: relative;
      }
      .lock-image {
        background: #808080cf;
        // height: 320px;
        // width: 100%;
        position: absolute;
        top: 35%;
        left: 45%;
        border-radius: 4px;
        .lock-accept-details{
          position: absolute;
          top: 44%;
          left: 44%;
        }
        .fa-lock {
          font-size: 50px;
        }
        p{
          font-size: 18px;
          cursor: pointer;
          margin-left: -18px;
          color: white;
          text-decoration: underline;
          font-weight: 500;
        }
      }
      
    
}
